.workJournalContainer{
    /* margin-top: 1%; */
	/* margin-left: 2%;
	max-width: 1782px; */
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.workJournalContainer hr{
	float: left;
 	height : 32px;
	border:2px solid #332E85;
 	margin: 0;
}

.workJournalContainer > span{
	font-weight: bolder;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
}

.contentHeaders > .crudBtns{
	display: flex;
}

.contentHeaders > .crudBtns > button{
	width: 10vw;
}

.workJournalContainer .workJournalContent{
	display: grid;
	grid-template-columns: 10% 90%;
	padding: 10px;
}

.workJournalContainer .workJournalContent .journalUserHeader{
	display: grid;
	grid-template-columns: 75% 25%;
}
.workJournalContainer .workJournalContent .journalUserBody{
	display: grid;
	grid-template-columns: 75% 25%;
}

.workJournalContainer .workJournalContent .journalUserHeader > div{
	background-color:#182f81;
	color: #FFFFFF;
}

.workJournalContainer .workJournalContent .journalUserBody > div{
	display:flex;
	justify-content: center;
	border-bottom: 1px solid #ededed;
}

.workJournalContainer .workJournalContent .journalUserBody .userBodyFirst{
	border-right: 1px solid #ededed;
	display: flex;
	align-items: center; 
	justify-content: center;
}

.workJournalContainer .workJournalContent .journalUserBody .userBodyFirst:hover{
	cursor: pointer;
	background-color: #ecf3fb;
}

.workJournalContainer .workJournalContent .journalPreviewHeader{
	color: #ffffff;
    background-color: #182f81;
}

.workJournalContainer .workJournalContent .journalPreview{
	padding: 20px;
}

.workJournalContainer button, select, input[type="text"]{
	margin:0.5% 0.5% 0 0;
}

.workJournalContainer button{
	margin: 0.5% 0.5% 0 0;
	box-shadow: 0px 1px 1px #bdbfc9;
	color: #ebefff;
	background-color:#182f81;
	height:30px;
	border-radius: 5px;
	float: right;
	padding:0 0.7%;
}

/* .workJournalContainer button:hover{
	color: #182f81;
	background-color:#ebefff;
	box-shadow: 0px 1px 2px #bdbfc9;
} */

.workJournalContent > div:first-child{
	padding-right: 10px;
}

.workJournalContent > div:first-child > div{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-left: 1px solid #c0c0c0;
}

.workJournalContent > div:first-child > div:first-child{
	border-top: 1px solid #c0c0c0;
}

.workJournalContent > div:first-child > div > div{
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding: 3px;
	font-weight: 600;
}

.workJournalContent > div:first-child > div > div > a{
	text-decoration: none;
}

.workJournalContent > div:first-child > div:first-child > div{
	border-bottom: 2px solid #ccc;
}

.workJournalContent > div:first-child > div:last-child > div{
	font-size: 0.9rem;
}

.workJournalUserContent{
	display: none;
	page-break-after: always;
}

.workJournalUserContent > div > div{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalUserContent > div > .gridFirstHeader > div{
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	font-weight: 600;
	padding: 5px;
}

.workJournalUserContent > div > .gridFirstHeader > div:last-child{
	border-right: 1px solid #c0c0c0;
}

.workJournalUserContent > div > .gridLastHeader > div{
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	font-size: 0.9rem;
	font-weight: 600;
	color: #fff;
	background-color: #577de7;
	padding: 5px;
}

.workJournalUserContent > div > .gridLastHeader > div:last-child{
	border-right: 1px solid #c0c0c0;
}

.workJournalUserContent > div > div > .gridFirstBody{
	display: grid;
	grid-template-columns: 20% 80%;
}

.workJournalUserContent > div > div > .gridFirstBody > .emptyDataContent{
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}

.workJournalUserContent > div > div > .gridFirstBody > div{
	font-size: 0.8rem;
	font-weight: 600;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.workJournalUserContent > div > div > .gridFirstBody > .gridWeek{
	display: flex;
	align-items: center;
	justify-content: center;
}

.workJournalUserContent > div > div > .gridFirstBody > .gridDescContent{
	padding: 5px;
}

.workJournalUserContent > div > div > .gridFirstBody > .gridDescContent > div:first-child{
	padding-bottom: 5px;
}

.workJournalUserContent > div > div > .gridLastBody{
	display: grid;
	grid-template-columns: 20% 80%;
}

.workJournalUserContent > div > div > .gridLastBody > div{
	font-size: 0.8rem;
	font-weight: 600;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.workJournalUserContent > div > div > .gridLastBody > .emptyDataContent{
    grid-column: span 2;
    padding: 5px;
    text-align: center;
	border-right: 1px solid #c0c0c0;
}

.workJournalUserContent > div > div > .gridLastBody > .gridWeek{
	display: flex;
	align-items: center;
	justify-content: center;
}

.workJournalUserContent > div > div > .gridLastBody > .gridDescContent{
	padding: 5px;
	border-right: 1px solid #c0c0c0;
}

.workJournalUserContent > div > div > .gridLastBody > .gridDescContent > div:first-child{
	padding-bottom: 5px;
	font-weight: 600;
}


/* .workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent{
	border: 1px solid #000;
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_1{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3 .journalBodyContent_3_last{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3 .journalBodyContent_3_this{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_4{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_1 > div,
.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_2 > div,
.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3 .journalBodyContent_3_last > div,
.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3 .journalBodyContent_3_this > div,
.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_4 > div{
	border: 1px solid #000;
} */