.workJournalContainer{
    /* margin-top: 1%; */
	/* margin-left: 2%;
	max-width: 1782px; */
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.workJournalContainer hr{
	float: left;
 	height : 32px;
	border:2px solid #332E85;
 	margin: 0;
}

.workJournalContainer > span{
	font-weight: bolder;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
}

.workJournalContainer .workJournalContent{
	display: grid;
	grid-template-columns: 10% 90%;
	padding: 20px;
	margin-top:10px;
}

.workJournalContainer .workJournalContent .journalUserHeader{
	display: grid;
	grid-template-columns: 75% 25%;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}
.workJournalContainer .workJournalContent .journalUserBody{
	display: grid;
	grid-template-columns: 75% 25%;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}

.workJournalContainer .workJournalContent .journalUserHeader > div{
	background-color:#ecf3fb;
	border-right: 1px solid #000;
}

.workJournalContainer .workJournalContent .journalUserBody > div{
	display:flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}

.workJournalContainer .workJournalContent .journalUserBody .userBodyFirst{
	border-right: 1px solid #000;
	display: flex;
	align-items: center; 
	justify-content: center;
}

.workJournalContainer .workJournalContent .journalUserBody .userBodyFirst:hover{
	cursor: pointer;
	background-color: #ecf3fb;
}

.workJournalContainer .workJournalContent .journalPreviewHeader{
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	background-color:#ecf3fb;
}

.workJournalContainer .workJournalContent .journalPreview{
	padding: 20px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.workJournalContainer 

.workJournalContainer button, select, input[type="text"]{
	margin:0.5% 0.5% 0 0;
}

.workJournalContainer button{
	margin: 0.5% 0.5% 0 0;
	box-shadow: 0px 1px 2px #bdbfc9;
	color: #182f81;
	background-color:#ebefff;
	height:30px;
}

.workJournalContainer button:nth-of-type(1){
	margin-right:20px;
}

/* .workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent{
	border: 1px solid #000;
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_1{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3 .journalBodyContent_3_last{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3 .journalBodyContent_3_this{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_4{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_1 > div,
.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_2 > div,
.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3 .journalBodyContent_3_last > div,
.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_3 .journalBodyContent_3_this > div,
.workJournalContainer .workJournalContent .journalPreviewBody .journalBodyContent .journalBodyContent_4 > div{
	border: 1px solid #000;
} */