@charset "UTF-8";
.searchContainer .searchMultiContent .searchDate > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer .searchMultiContent .searchDate > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.salesContainer{
    margin-top: 3px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.salesContainer > hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.salesContainer > #containerTitle {
	font-weight: 600;
    font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
	float: left;
}

.salesContainer .gridList{
    display: block; 
	width: 99%; 
	height: auto;
	margin: 0 auto;
}

.salesContainer .gridList .gridHeader,
.salesContainer .gridList .gridContent{
    grid-template-columns: 5% 20% 5% 5% 10% 5% 10% 10% 25%;
}

.salesContainer .gridList .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.salesContainer > button{
	margin:0.4% 0.5% 0 0;
	box-shadow:0px 1px 2px #bdbfc9;
	color:#ebefff;
	background-color:#182f81;
	padding:0 0.7%;
	height:30px;
	border-radius:5px;
	float: right;
}

.defaultFormContainer .defaultFormLine:first-child{
	border-top: 0;
}