.container {
	position: relative;
	left: 2%;
	width: 96%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	display: inline-block;
}

.container hr,
.halfContainer hr {
	float: left;
	border-top: 0;
	border-left: thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	height: 44px;
	width: 4px;
	margin: 0;
}

.container span,
.halfContainer span {

	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}

.waitDiv {
	overflow: auto;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.waitDiv .waitCard {
	background-color: #EDEDF4;
border-radius: 3px;
	margin: 1em;
}

.waitDiv .waitCard >div>div:first-of-type{
	color: #332E85;
	font-weight: 500;
}

.waitDiv .waitCard .title>div {
	line-height: 1;
}

.waitDiv .waitCard:hover {
	border: 2px solid #332E85;
	margin: 1em;
}

.waitDiv .waitCard>div {
	display: grid;
	grid-template-columns: 40% 60%;
	margin: 1em;

}

.etcDiv {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.etcDiv>div {
	height: 10em;

}


.halfBodyContent {
	float: right;
	width: calc(100% - 185px);
	overflow-y: auto;
	max-height: 100%;
	/* max-height: calc(100% - 94px); */
	padding: 0.5% 0.5% 0 0.6%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}


.halfBodyContent>div:first-of-type {
	position: relative;
	left: 4%;
	width: 94%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	display: inline-block;
}

.halfBodyContent>div:last-of-type {
	position: relative;
	width: 96%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	display: inline-block;
}

.listDiv {
	padding-right: 1em;
}

.listDiv .gridHeader,
.listDiv .gridContent {
	grid-template-columns: 10% 10% 20% 20% 15% 15% 10%;
}