@charset "UTF-8";
.searchContainer .searchMultiContent .searchDate > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer .searchMultiContent .searchDate > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchContainer .searchMultiContent .searchCreated > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer .searchMultiContent .searchCreated > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.scheduleContainer{
    margin-top: 1%;
	/* margin-left: 2%;
	max-width: 1782px; */
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.scheduleContainer > hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.scheduleContainer > span:not(.calendarSpan){
	font-weight: bolder;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
}

.scheduleContainer .gridList{
    display: grid; 
	width: 98%; 
	margin: 0 auto;
}

.scheduleContainer .gridList .gridHeader,
.scheduleContainer .gridList .gridContent{
    grid-template-columns: 10% 5% 19% 10% 5% 10% 5% 36%;
}

.scheduleContainer .gridList .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.scheduleContainer .calendarList{
	padding: 1%;
}

.scheduleContainer .calendarList .calendarInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #ebefff; */
	height: 50px;
	font-size: 1.1rem;
	font-weight: 500;
	margin-bottom:1rem;
	/* margin:1.1rem 0 1rem 0;
	border-radius:16px;
	box-shadow: 0px 2px 2px #c9cfe3c9; */
}

.scheduleContainer .calendarList .calendarInfo button{
	background-color:#637fef;
	box-shadow:0px 1px 2px #bdbfc9;
	margin:0;
	color:#fff;
	padding:0.3% 0.4%;
	border-radius:7px;
}

.scheduleContainer .calendarList .calendarInfo button img{
	width:10px;
}

.scheduleContainer .calendarList .calendarInfo .calendarYear{
	margin-left:14px;
}

.scheduleContainer .calendarList .calendarInfo Span:last-of-type{
	margin-right:14px;
}

.calendar_container{
	display : grid;
	grid-template-columns: repeat(7, 1fr);
	margin: 0 auto;
	/* border: 1px solid #c4c9db; */
	border-radius:20px;
}

.calendar_container .calendar_header{
	background-color: #edf1ff;
	/* border-right: 1px solid #BDBDBD; */
	/* border-top: 1px solid #BDBDBD; */
	border-bottom: 2px solid #929cc5;
	padding: 15px 0;
	text-align:center;
	color:#182f81;
}

.calendar_container > *:nth-child(1){
	color:#FF0000;
	border-top-left-radius:10px;
}

.calendar_container > *:nth-child(7){
	color:#0100FF;
	border-right: 0;
	border-top-right-radius: 10px;
}

.calendar_container > * > .calendar_date{
	color:#444444;
}

.calendar_container > *:nth-child(7n + 1) > .calendar_date{
	color:#ff0000;
}

.calendar_container > *:nth-child(7n) > .calendar_date{
	color:#0100ff;
}

.calendar_container > .calendar_cell{
	border-right: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	cursor: pointer;
	position:relative;
	overflow: hidden;
	min-height: 120px;
}

.calendar_container > .calendar_cell > .calendar_span_empty{
	text-align: right;
	padding: 10px;
}

.calendar_container > .calendar_cell > .calendar_span_empty > span{
    color: #8C8C8C;
}

.calendar_container > .calendar_cell > .calendar_span_empty > span:hover{
	text-decoration: underline;
}

.calendar_container > .calendar_cell > .calendar_date{
	font-size:1rem;
	z-index: 1;
	margin:10px;
}

.calendar_container > .calendar_cell:hover{
	border:1px solid #637fef;
	/* border:1px solid #6d82d3; */
	box-sizing: border-box;
}


/* .calendar_container > .calendar_cell:hover .calendar_date{
	color:#fff;
} */

.calendar_container > .calendar_cell > .calendar_item{
	font-size:0.8rem;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	z-index: 2;
	height:1.2rem;
	margin:0.4rem 0;
	line-height:20px;
	padding:0.05rem 0.7rem;
	/* padding-left:0.7rem;
	padding-right:0.7rem; */
	background-color:rgb(251 211 209);
	/* background-color:rgb(189 202 251); */
	/* border: 1px solid #c2c9e7; */
	border-radius: 0.7rem;
	/* margin-top:0.2rem;
	margin-bottom:0.2rem; */
}

.calendar_container > .calendar_cell > .calendar_item:hover{
	color: #ffffff;
	background-color:#637fef;
}

.calendar_container > .calendar_cell > .calendar_item_empty:hover{
	background-color:#ffffff;
}

.calendar_container > .calendar_cell:nth-child(7n){
	border-right:0;
}

.calendar_container > .calendar_cell > .calendar_item_empty{
	background-color:initial;
	border:initial;;
}

.calendar_container > .calendar_cell > .calendar_item_left{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.calendar_container > .calendar_cell > .calendar_item_right{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/*일정조회 버튼 및 게시글 페이지 번호 시작*/
.scheduleContainer > button,
.scheduleContainer > select{
	margin:14px 0.5% 0 0;
	box-shadow:0px 1px 2px #bdbfc9;
	color:#ebefff;
	background-color:#2147b1;
	height:30px;
	border-radius:5px;
	float: right;
}

.scheduleContainer > button:first-of-type{
	margin-right:20px;
}

.searchContainer .searchBtns{
	margin:8px 15px 0 0;
}

.searchContainer .searchInputContent{padding-top:0;}

/*일정조회 버튼 및 게시글 페이지 번호 끝*/

/*일정 조회 상세보기 표 시작*/
/* .detailContents .detailViewContainer > div{
	border-top:none;
	border-right:none;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
}
.detailContents .detailViewContainer > div:nth-child(4n),.detailContents .detailViewContainer > div:nth-child(18){
	border-right:1px solid #000;
}

.detailContents .detailViewContainer > div:nth-child(-n+4){
	border-top:1px solid #000;
} */
/*일정 조회 상세보기 표 끝*/

.detailContents {display: none;}