@charset "UTF-8";
.scheduleContainer{
    position: relative;
    left: 2%;
    width:96%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.scheduleContainer hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
 	height : 44px;
 	width: 4px;
 	margin: 0;
}

.scheduleContainer span:not(.calendarSpan){
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}

.scheduleContainer .listChangeBtn{
	margin-top: 5px;
	margin-right: 5px;
	float: right;
	background-color: #332E85;
	border-radius: 10px;
	height: 40px;
	font-size: 1.2rem;
	font-weight: 500;
	color: #ffffff;
	cursor: pointer;
}

.scheduleContainer .gridScheduleList{
    display: grid; 
	width: 99%; 
	margin: 0 auto;
}

.scheduleContainer .gridScheduleList .gridHeader{
    grid-template-columns: 10% 10% 15% 10% 10% 10% 10% 10% 15%;
}

.scheduleContainer .gridScheduleList .gridContent{
	grid-template-columns: 10% 10% 15% 10% 10% 10% 10% 10% 15%;
}

.scheduleContainer .calendarList{
	padding: 1%;
}

.scheduleContainer .calendarList .calendarInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EAEAEA;
	border-top: 1px solid #BDBDBD;
	border-left: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
	height: 50px;
	font-size: 1.2rem;
	font-weight: 500;
}

.calendar_container{
	display : grid;
	grid-template-columns: repeat(7, 1fr);
	margin: 0 auto;
	border-left: 1px solid #BDBDBD;
}

.calendar_container .calendar_header{
	background-color: #EAEAEA;
	border-right: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	padding: 15px 0;
	text-align:center;
}

.calendar_container > *:nth-child(1){
	color:#FF0000;
}

.calendar_container > *:nth-child(7){
	color:#0100FF;
}

.calendar_container > * > .calendar_date{
	color:#444444;
}

.calendar_container > *:nth-child(7n + 1) > .calendar_date{
	color:#ff0000;
}

.calendar_container > *:nth-child(7n) > .calendar_date{
	color:#0100ff;
}

.calendar_container > .calendar_cell{
	border-right: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	cursor: pointer;
	position:relative;
	overflow: hidden;
}

.calendar_container > .calendar_cell > .calendar_date{
	font-size:1rem;
	z-index: 1;
}

.calendar_container > .calendar_cell:hover{
	background-color: #332E85;
	color: #ffffff;
}

.calendar_container > .calendar_cell > .calendar_item{
	font-size:0.7rem;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	z-index: 2;
	height:1.2rem;
	padding-left:0.7rem;
	padding-right:0.7rem;
	background-color:rgb(202, 227, 158);
	border-radius: 0.7rem;
	margin-top:0.2rem;
	margin-bottom:0.2rem;
}

.calendar_container > .calendar_cell > .calendar_item_empty{
	background-color:initial;
	border:initial;;
}

.calendar_container > .calendar_cell > .calendar_item_left{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.calendar_container > .calendar_cell > .calendar_item_right{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
