@charset "UTF-8";

.searchContainer .searchMultiContent .searchTitle{
	grid-column: span 2;
}

.searchContainer .searchMultiContent .searchCreated > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer .searchMultiContent .searchCreated > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.fileBoxContainer {
	margin-top: 3px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	height: calc(100% - 101px);
}

.fileBoxContainer > hr {
	float: left;
	border:2px solid #182f81;
	height: 32px;
	margin: 0;
}

.fileBoxContainer > #containerTitle {
	font-weight: 600;
    font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #182f81;
	float: left;
}

.gridFileBoxList {
	display: grid;
	width: 99%;
	margin: 0 auto;
}

.gridFileBoxList .gridHeader,
.gridFileBoxList .gridContent {
	grid-template-columns: 15% 70% 15%;
}

.fileBoxContent {
	border: 2rem;
	padding: 2rem;
	display : none;
	background-color : #EDEDF4;
}

.fileBoxContent .headerDiv {
	font-size: 1.4rem;
	color: #332E85;
	font-weight: 600;
}

.fileBoxContent .headerDiv .deleteButton {
	text-align : right;
	font-weight: 800;
}

.fileBoxContent .contentDiv, .fileBoxContent .headerDiv {
	margin-left : 1.5rem;
	margin-right :1.5rem;
}

.fileBoxContainer > button{
	margin:0.4% 0.5% 0 0;
	box-shadow:0px 1px 2px #bdbfc9;
	padding:0.3% 0.7%;
	background-color:#182f81;
	color:#fff;
	float:right;
	border-radius: 5px;
}

.filePreview{
	grid-column: span 4;
    border-top: 1px solid #B5B2FF;
}

.filePreview > div:not(:last-child){
	display: flex;
    align-items: center;
    border-bottom: 1px solid #B5B2FF;
    padding: 5px;
}

.filePreview > div:last-child{
	display: flex;
    align-items: center;
    padding: 5px;
}

.filePreview > div > span{
    width: 100%;
    font-size: 0.8rem;
}

.filePreview > div > button{
	width: 40px;
    font-size: 0.8rem;
	background-color: #2147b1;
	color: #ffffff;
}

.fileDownloadBtn{
	text-decoration: none;
}

.fileDownloadBtn:hover{
	text-decoration: underline;
}