@charset "UTF-8";

.fileBoxSearchContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2%;
	margin-bottom: 1%;
	max-width: 1782px;
	height: 100px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.fileBoxSearchContainer .fileBoxSearchSelect{
	margin-right: 1%;
}

.fileBoxSearchContainer .fileBoxSearchSelect select{
	color: #332E85;
	padding: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	border: 0;
	background-color: #EDEDF4;
}

.fileBoxSearchContainer .fileBoxSearchSelect select:hover{
	border: 1px solid#332E85;
}

.fileBoxSearchContainer .fileBoxSearchText{
	margin-right: 1%;
}

.fileBoxSearchContainer .fileBoxSearchText input{
	padding: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	width: 500px;
	border: 0;
	background-color: #EDEDF4;
}

.fileBoxSearchContainer .fileBoxSearchText input:hover{
	border: 1px solid#332E85;
}

.fileBoxSearchContainer .fileBoxSearchBtn button{
	color: #ffffff;
	padding: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	width: 100px;
	border: 0;
	background-color: #332E85;
}

.fileBoxSearchContainer .fileBoxSearchBtn button:hover{
	cursor: pointer;
}

.fileBoxContainer {
	/* margin-top: 1%; */
	/* margin-left: 2%;
	max-width: 1782px; */
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.fileBoxContainer hr {
	float: left;
	border-top: 0;
	border-left: thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	height: 44px;
	width: 4px;
	margin: 0;
}

.fileBoxContainer span {
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}

.gridFileBoxList {
	display: grid;
	width: 99%;
	margin: 0 auto;
}

.gridFileBoxList .gridHeader,
.gridFileBoxList .gridContent {
	grid-template-columns: 10% 60% 10% 20%;
}

.fileBoxContent {
	border: 2rem;
	padding: 2rem;
	display : none;
	background-color : #EDEDF4;
}

.fileBoxContent .headerDiv {
	font-size: 1.4rem;
	color: #332E85;
	font-weight: 600;
	

}

.fileBoxContent .headerDiv .deleteButton {
	text-align : right;
	font-weight: 800;
}

.fileBoxContent .contentDiv, .fileBoxContent .headerDiv {
	margin-left : 1.5rem;
	margin-right :1.5rem;
}

/* @charset "UTF-8";

.fileboxContainer {
	position: relative;
	left: 2%;
	width: 96%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.fileboxContainer hr {
	float: left;
	border-top: 0;
	border-left: thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	height: 44px;
	width: 4px;
	margin: 0;
}

.fileboxContainer span {
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}

div {
	margin-bottom : 1.5%;
}

.fileboxList {
	display: grid;
	margin-left: 2%;
	margin-right: 2%;
	font-weight: 500;
	font-size: 16px;
	color: #332E85;
	
}

.fileboxList .labelClass {
	text-align : center;
	background-color : #EDEDF4;
	width :95%;
	
}

.buttonDiv {
	text-align : right;
}

.buttonDiv button {
	margin-right: 0.5rem;
	height : 2rem;
	width : 4rem;
	border : none;
	background-color: #332E85;
	border-radius: 10px;
	color: #ffffff;
	cursor: pointer;
}





.buttonDiv button:hover{
	color: #ffffff;
	border-color: #302D81;
	cursor: pointer;

}



.fileDelete {
	width: 1.5rem;
	height : 1.5rem;
	border : none;
	border-radius: 10px;
	color:  #332E85;
	background-color:#EDEDF4;
	text-align : left;
	
}

.attachedFileName  div {
	width : 90%;
	float : right;
}


.fileClass {
	display : none;
}

#fileClassLabel {
	color: #EDEDF4; 
	background-color:#332E85;
	text-align : center;
	border-radius: 10px;
}


.imgFileDiv {
	vertical-align: middle;
}


.eachFileDiv {
	margin : 0;
} */