@charset "UTF-8";

.mylistContainer {
	position: relative;
	left: 2%;
	width: 96%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	display: inline-block;
}

.mylistContainer hr {
	float: left;
	border-top: 0;
	border-left: thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	height: 44px;
	width: 4px;
	margin: 0;
}

.mylistContainer span {

	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}



.subContainer {
	display: grid;
	grid-template-columns: 60% 40%;
}
.mylistdiv {
	margin-left: 10%;
	font-size: 16px;
	width: 210mm;
	height: 297mm;
	padding: 3em;
	border: 1px solid black;
}

.title {
	font-size: 2.5em;
	font-weight: 500;
	text-align: center;
}

.infoDiv {

	display: grid;
	grid-template-columns: 15% 30%;
}

.outlineNone {
	border: none; 
	width : 90%;
}


.info,
.insertedContent,
.insertedData,
.list_comment {
	margin-top: 2em;
}

.list_comment {
	text-align: center;
}




.infoTitle,
.infoTitlelast {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: rgb(208, 206, 206);
	text-align: center;
	padding : 0.5em;
	font-weight: 500;

}

.infoContent {
	padding : 0.5em;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.infoTitlelast,
.infoContentlast {
	padding : 0.5em;
	border: 1px solid black;

}

.infoContentlast {
	border-left: none;
}

.contentDiv {
	display: grid;
	grid-template-columns: 15% 85%;
}

.detailDiv {
	display: grid;
	grid-template-columns: 10% 20% 20% 10% 5% 10% 10% 15% ;
	text-align: center;
	

}

.detailcontentDiv {
	display: grid;
	grid-template-columns: 10% 20% 20% 10% 5% 10% 10% 15% ;
	text-align: center;
	font-size: 0.5em;
}


.datailTitle {
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: rgb(208, 206, 206);
}

.datailTitlelast {
	border: 1px solid black;
	background-color: rgb(208, 206, 206);
}


.detailcontentlast {
	
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;

}

.detailcontent {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}


.mylistbtn {
	margin-left : 2em;
	margin-right : 2em;

}

.mylistbtn textarea {
	width: 100%;
	height: 10%;
}

.commentbtn {
	text-align: right;
}


.totalLine {
	display: grid;
	text-align: center;
	grid-template-columns: 75% 10% 15%;
	font-size: 0.5em;
}


.btnDiv {
	text-align: right;
}

.outlineNonedata{
	border: none; 
	width : 90%;
}