@charset "UTF-8";
.scheduleContainer > button,
.scheduleContainer > select{
	box-shadow: 0px 1px 2px #bdbfc9;
	color: #ebefff;
	background-color: #2147b1;
	border-radius: 5px;
	float: right;
	height: 25px;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	margin-right: 5px;
	margin-top: 8px;
}

.scheduleContainer{
    margin-top: 3px;
	background: #FFFFFF;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.scheduleContainer > hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.scheduleContainer > #containerTitle {
	font-weight: 600;
    font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
	float: left;
}

.listFlexContainer{
	display: flex;
    clear: both;
    padding: 10px;
	position: relative;
    overflow-y: auto;
}

.calendarList{
	width: 49vw;
    margin-right: 0.3vw;
}

.calendarList > .infoFlexContainer{
	display: flex;
    align-items: center;
    border-left: 1px solid #BDBDBD;
    border-top: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
}

.calendarList > .infoFlexContainer > div:first-of-type{
	padding-right: 15px;
}

.calendarList > .infoFlexContainer > div:first-of-type > div:first-of-type > button{
	width: 100%;
    background-color: #2147b1;
    color: #fff;
    line-height: 2.5vh;
    border-radius: 5px;
}

.calendarList > .infoFlexContainer > div:last-of-type{
	display: grid;
    grid-template-columns: repeat(8, 1fr);
	grid-gap: 3px;
    width: 100vw;
}

.calendarList > .infoFlexContainer > div:last-of-type > div{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 2vh;
    border-radius: 10px;
    font-size: 0.8rem;
}

.calendarList > .infoFlexContainer > div > .calendarInfoRadio{
	display: flex;
    align-items: center;
    border-radius: 5px;
    border-top: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.calendarList > .infoFlexContainer > div > .calendarInfoRadio > input{
	display: none;
}

.calendarList > .infoFlexContainer > div > .calendarInfoRadio > label{
	display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #BDBDBD;
    width: 100%;
}

.calendarList > .infoFlexContainer > div > .calendarInfo{
	display: flex;
    align-items: center;
	padding-top: 10px;
}

.calendarList > .calendar_container{
	display: grid;
    grid-template-columns: 14.285% 14.285% 14.285% 14.285% 14.285% 14.285% 14.285%;
}

.calendarList > .calendar_container > .calendar_header{
	display: flex;
    align-items: center;
    justify-content: center;
	border-left: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	font-weight: 600;
}

.calendarList > .calendar_container > .calendar_header:nth-child(1){
	color: #FF0000;
}

.calendarList > .calendar_container > .calendar_header:nth-child(7){
	color: #0100FF;
	border-right: 1px solid #BDBDBD;
}

.calendarList > .calendar_container > .calendar_cell{
	border-left: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	height: 11vh;
}

.calendarList > .calendar_container > .calendar_cell_blur{
	color: #BDBDBD !important;
}

.calendarList > .calendar_container > .calendar_cell:hover{
	cursor: pointer;
	background-color: #E1E1E1;
}

.calendar_container > .calendar_cell > .calendar_span_empty{
	float: right;
    padding-right: 10px;
}

.calendar_container > .calendar_cell > .calendar_span_empty > span{
    font-size: 0.7rem;
    font-weight: 600;
}

.calendar_container > .calendar_cell > .calendar_span_empty > span:hover{
	text-decoration: underline;
}

.calendarList > .calendar_container > .calendar_cell > .calendar_date{
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

.calendar_container > .calendar_cell > .calendar_item_empty{
	display: block;
	background-color:initial;
	border:initial;
}

.calendar_container > .calendar_cell > .calendar_item_empty:hover{
	background-color:#ffffff;
}

.calendarList > .calendar_container > .calendar_cell > .calendar_item{
	font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 2vh;
    margin-bottom: 0.3vh;
	z-index: 2;
}

.calendarList > .calendar_container > .calendar_cell > .calendar_item:hover{
	color: #ffffff;
	background-color:#332E85;
	cursor: pointer;
}

.calendarList > .calendar_container > .calendar_cell_blur > .calendar_item{
	background-color: #BDBDBD;
	color: #fff;
}

.calendarList > .calendar_container > .calendar_cell:not(.calendar_cell_blur) > .calendar_item[data-dept="vtek"]:not(:hover),
.calendarList > .infoFlexContainer > div:last-of-type > div[data-dept="vtek"]{
	background-color: #F15F5F;
	color: #fff;
}

.calendarList > .calendar_container > .calendar_cell:not(.calendar_cell_blur) > .calendar_item[data-dept="VTEKMANG"]:not(:hover),
.calendarList > .infoFlexContainer > div:last-of-type > div[data-dept="VTEKMANG"]{
	background-color: #F29661;
	color: #fff;
}

.calendarList > .calendar_container > .calendar_cell:not(.calendar_cell_blur) > .calendar_item[data-dept="VTEKGMT"]:not(:hover),
.calendarList > .infoFlexContainer > div:last-of-type > div[data-dept="VTEKGMT"]{
	background-color: #BC952B;
	color: #fff;
}

.calendarList > .calendar_container > .calendar_cell:not(.calendar_cell_blur) > .calendar_item[data-dept="VTEKMKT"]:not(:hover),
.calendarList > .infoFlexContainer > div:last-of-type > div[data-dept="VTEKMKT"]{
	background-color: #BCE55C;
	color: #fff;
}

.calendarList > .calendar_container > .calendar_cell:not(.calendar_cell_blur) > .calendar_item[data-dept="VTEKSALES"]:not(:hover),
.calendarList > .infoFlexContainer > div:last-of-type > div[data-dept="VTEKSALES"]{
	background-color: #6799FF;
	color: #fff;
}

.calendarList > .calendar_container > .calendar_cell:not(.calendar_cell_blur) > .calendar_item[data-dept="VTEKSEOUL"]:not(:hover),
.calendarList > .infoFlexContainer > div:last-of-type > div[data-dept="VTEKSEOUL"]{
	background-color: #5CD1E5;	
	color: #fff;
}

.calendarList > .calendar_container > .calendar_cell:not(.calendar_cell_blur) > .calendar_item[data-dept="VTEKTECHD"]:not(:hover),
.calendarList > .infoFlexContainer > div:last-of-type > div[data-dept="VTEKTECHD"]{
	background-color: #C15A5A;
	color: #fff;
}

.calendarMoreContent{
	display: none;
	position: absolute;
    background-color: #fff;
    z-index: 3;
    padding: 10px;
	font-size: 0.8rem;
	border: 1px solid #BDBDBD;
}

.calendarMoreContent > .moreContentHeader{
	height: 20px;
	background-color: #edf1ff;
	color: #182f81;
	display: flex;
	align-items: center;
	justify-content: right;
    padding: 3px 10px 3px 13px;
    margin-bottom: 5px;
}

.calendarMoreContent > .moreContentHeader > .moreContentTitle{
	display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 600;
    width: 90%;
	margin-top: 3px;
}

.calendarMoreContent > .moreContentHeader > .moreContentClose{
	display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 3px;
    width: 10%;
}

.calendarMoreContent > .moreContentHeader > .moreContentClose:hover{
	cursor: pointer;
}

.calendarMoreContent > .moreContentBody{
	min-height: 90px;
    max-height: 450px;
	overflow-y: auto;
}

.calendarMoreContent > .moreContentBody > .calendar_item{
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	z-index: 2;
	height:1.2rem;
	margin:0.4rem 0;
	padding:0.05rem 0.7rem;
	background-color:rgb(251 211 209);
	border-radius: 0.7rem;
}

.calendarMoreContent > .moreContentBody > .calendar_item:hover{
	color: #ffffff;
	background-color:#637fef;
	cursor: pointer;
}

.listFlexContainer > .gridList{
	width: 44vw; 
	margin: 0 auto;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
	padding: 5px;
	height: 87vh;
    overflow-y: auto;
}

.listFlexContainer > .gridList > button{
	width: 7vw;
    background-color: #2147b1;
    color: #fff;
    line-height: 2vh;
	height: 2.5vh;
    border-radius: 5px;
}

.listFlexContainer > .gridList > .gridHeader,
.listFlexContainer > .gridList > .gridContent{
    grid-template-columns: 15% 15% 20% 40% 10%;
}

.listFlexContainer > .gridList > .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.defaultFormContainer > div:first-child{
	border-top: 0;
}