@charset "UTF-8";

.container{
	width:calc(100% - 4px);
	height:calc(100% - 6px);
	margin:2px;
	background-color: white;
	overflow:hidden;
	display:grid;
	grid-template-areas:"title ." "content summary";
	grid-template-rows: 35px calc(100% - 35px);
	grid-template-columns: auto 350px;
}
.content-title{display:grid;grid-template-columns: auto 20rem;grid-area:title;padding:0.5rem 1rem;border-left:4px solid rgb(62, 62, 158);}
.content-title > div:nth-child(1){
	font-size:1rem;
	font-weight: bold;
	color: #425da8;
	
}
.content-title > div:nth-child(2){text-align:right;}
.content-title > div:nth-child(2) > button{
	display:none;
    height: 25px;
    padding: 10px;
    align-items: center;
    background-color: #2147b1;
    color: #ffffff;
    border-radius: 5px;
    margin: 0 0.3rem;
}

/* 진행상황 또는 서치 컨테이너 */
.container > div:nth-child(2){
	grid-area:summary;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2rem auto 2rem;
}

/* 아바타 */
.container > div:nth-child(2) .history-employee{
	display:inline-block;
	margin: 0 0.2rem;
	color:#425da8;
}

/* 진행상황 모드일 경우의 스타일 */
.sopp-history > div:nth-child(4),
.sopp-history > div:nth-child(5),
.sopp-history > div:nth-child(6){display:none;}
.sopp-history > div:nth-child(1){
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	border: 1px solid #b6b2ff;
	border-bottom:none;
	background-color:#dad9ff;
	padding:0.3rem 0.8rem;
}
.sopp-history > div:nth-child(1) > img{
	height: 1.2rem;
    vertical-align: text-bottom;
}
.sopp-history > div:nth-child(2){
	border: 1px solid #d8d8d8;
	border-top:none;
	border-bottom:none;
	background-color: #f8f8f8;
	overflow-x: hidden;
	overflow-y: auto;
}
.sopp-history > div:nth-child(2) > div{
	margin:0.5rem;
	font-size:0.8rem;
}
.sopp-history > div:nth-child(3){
	border: 1px solid #d8d8d8;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	border-top:none;
	background-color:#dad9ff;
	padding:0.3rem 0.8rem;
	display:grid;
	grid-template-columns: 8fr 1fr;
	gap:0.5rem;
}
.sopp-history > div:nth-child(3) > input{
	font-size:0.8rem;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom: 1px solid #9898d5;
    background-color: #eaeaff;
	border-radius: 0.2rem;
}
.sopp-history > div:nth-child(3) > input:focus{
	background-color: #ffffff;
	border-color: #5050a7;
}
.sopp-history > div:nth-child(3) > button{
	font-size: 0.9rem;
    background-color: #5959bd;
    border-radius: 0.2rem;
    color: white;
}
.sopp-history > div:nth-child(3) > input:focus + button,
.sopp-history > div:nth-child(3) > button:hover{background-color:#2f2f91;}
.sopp-history .profile-small{
	height:0.95rem;
	vertical-align: text-bottom;
	margin-right: 0.2rem;
	display:inline-block;
}
.sopp-history .history-date{
	display:inline-block;
	font-size:0.6rem;
	color:gray;
}
.sopp-history .history-comment{
	margin-left: 1.35rem;
}
.sopp-history .history-delete{
	display: none;
    width: 0.75rem;
	height:0.75rem;
    margin-left: 0.5rem;
	cursor:pointer;
	vertical-align: middle;
	opacity:0.5;
}
.sopp-history > div:nth-child(2) > div:hover .history-delete{display:inline-flex;}
.sopp-history > div:nth-child(2) > div:hover .history-delete:hover{opacity:1;}

/* 검색 모드일 경우의 스타일 */
.sopp-search > div:nth-child(1),
.sopp-search > div:nth-child(2),
.sopp-search > div:nth-child(3){display:none;}
.sopp-search > div:nth-child(4){
	display:grid;
	grid-template-columns: 2fr 1fr;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	border: 1px solid #ffb2b2;
	border-bottom:none;
	background-color:#ffd9d9;
	padding:0 1.2rem;	
}
.sopp-search > div:nth-child(4) > div:nth-child(1){color:#310b0b;display: flex;align-items: center;}
.sopp-search > div:nth-child(4) > div:nth-child(2){display: flex;align-items: center;    justify-content: flex-end;}
.sopp-search > div:nth-child(4) > div:nth-child(2) > img{width:1.5rem;height:1.5rem;vertical-align: middle;margin: 0 0.1rem;opacity:0.5;cursor:pointer;}
.sopp-search > div:nth-child(4) > div:nth-child(2) > img:hover{opacity:0.8;}
.sopp-search > div:nth-child(5){
	border: 1px solid #ffb2b2;
	border-top:none;
	border-bottom:none;
	background-color: #f8f8f8;
	overflow-x: hidden;
	overflow-y: auto;
}
.sopp-search > div:nth-child(5) label > div{padding:0.25rem 0;}
.sopp-search > div:nth-child(6){
	border: 1px solid #ffb2b2;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	border-top:none;
	background-color:#ffd9d9;
	padding:0.3rem 0.8rem;
	display:grid;
	grid-template-columns: 1fr;
	gap:0.5rem;
}
.sopp-search > div:nth-child(6) > input{
	font-size:0.8rem;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom: 1px solid #dc8989;
    background-color: #ffeaea;
	border-radius: 0.2rem;
}
.sopp-search > div:nth-child(6) > input:focus{
	background-color: #ffffff;
	border-color: #a45d5d;
}
.sopp-search .profile-small{
	height:0.95rem;
	vertical-align: text-bottom;
	margin-right: 0.2rem;
	display:inline-block;
}


/* =============================== */

.sopp-content{
	position: relative;
	grid-area:content;
	overflow-x: hidden;
    overflow-y: auto;
	margin: 0 0.3rem 0.3rem;
}
.sopp-info{
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	font-size:0.8rem;
	margin: 0 0.2rem 0.5rem;
}
.sopp-info > div:nth-child(1),
.sopp-info > div:nth-child(2){border-top:1px solid #b5b2ff;}
.sopp-info > div{border-bottom:1px solid #b5b2ff;display:grid;grid-template-columns: 1fr 3fr;}
.sopp-info > div > div{display:inline-block;padding:0.2rem;}
.sopp-info > div > div:nth-child(1){border-right:1px solid #b5b2ff;background-color:#dad9ff;text-align:center;}
.sopp-info > div > div:nth-child(2){
	display:inline-grid;
	grid-template-columns: auto 1rem;
	padding-left:0.5rem;
}
.sopp-info > div > div:nth-child(2):hover > .edit-sopp-img{display:block;}
.sopp-info .edit-sopp-img{width:0.95rem;height:0.95rem;cursor:pointer;opacity:0.4;display:none;}
.sopp-info .profile-small{
	height: 0.95rem;
    vertical-align: text-bottom;
    margin-right:0.2rem
}
.sopp-sticky{
	position: sticky;
    top: 0;
	display: grid;
	grid-template-areas:"expected progress" "sopp-tab sopp-tab";
	grid-template-columns: auto 560px;
	background-color: #f1f1f1;
    border-top: 1px solid #b5b2ff;
	margin: 0.5rem 0.2rem 0.3rem;;
	padding:0.4rem 0 0;
	align-items: center;
}
.sopp-expected{font-size:0.8rem;grid-area: expected;}
.sopp-expected > div:nth-child(1){
	display:grid;
	grid-template-columns: 6rem 1rem auto 5rem;
	margin-bottom:0.2rem;
}
.sopp-expected > div:nth-child(1) > div:nth-child(1){display:flex;justify-content: space-evenly;}
.sopp-expected > div:nth-child(1) .edit-sopp-img{width:0.95rem;height:0.95rem;cursor:pointer;opacity:0.4;display:none;margin: -0.3rem 0.3rem 0;}
.sopp-expected > div:nth-child(1):hover .edit-sopp-img:nth-child(1){display:initial;}
.sopp-expected > div:nth-child(1) > div:nth-child(4){text-align:right;}
.sopp-expected > div:nth-child(1) > input{
	border:none;
	background-color:transparent;
	border-radius: 0;
	color:black;
	font-size:0.8rem;
}
.sopp-expected > div:nth-child(2){
	display:grid;
	grid-template-columns: 60px auto 0 60px;
	text-align:center;
	gap:0.5rem;
}
.sopp-expected > div:nth-child(2) > div:nth-child(2){background-color: #7777ff;text-align: left;height:0.3em;margin-top: 0.6em;position:relative;}
.sopp-expected > div:nth-child(2) > div:nth-child(2) > span:nth-child(1){display:inline-block;height:100%;background-color:#62a747;vertical-align: top;}
.sopp-expected > div:nth-child(2) > div:nth-child(2) > span:nth-child(2){display:inline-block;position:absolute;height:0.8rem;width:0.8rem;background-color:#ff7676;top:-0.33rem;border-radius: 50%;;}
.sopp-expected > div:nth-child(2) > input{width:0px;height:0px;background-color: transparent;border:0;}

.sopp-progress{
	grid-area: progress;
    text-align: center;
    font-size: 0.8rem;
}
.sopp-progress > div{
	display:inline-flex;
	background-size: contain;
    background-repeat: no-repeat;
	width:5rem;
	height:1.5rem;
	align-items: center;
    justify-content: space-evenly;
	margin-left:-0.3rem;
	color:white;
	font-weight: bold;
	background-image: url("/images/sopp2/label_gray.png");
	padding: 0 0.6rem;
    box-sizing: border-box;
}
.sopp-progress > div:first-child{margin-left:0;}
.sopp-progress > .sopp-done{background-image: url("/images/sopp2/label_blue.png");}
.sopp-progress > .sopp-fail{background-image: url("/images/sopp2/label_red.png");}
.sopp-progress > .sopp-doing{background-image: url("/images/sopp2/label_green.png");}

.sopp-tab-cnt{
	grid-area:sopp-tab;
	position:relative;
	grid-template-columns: repeat(6, 1fr);
	text-align: center;
	border-top: 1px solid #b5b2ff;
	border-bottom: 2px solid #b5b2ff;
	margin-top:0.3rem;
	padding-top:0.3rem;
	background-color: white;
	height:1.9rem;
	z-index:-7;
}
.sopp-tab-cnt > div{
	display:inline-flex;
	align-items: center;
	justify-content: center;
	position:absolute;
	cursor:pointer;
	border-top-right-radius: 1.2rem;
	box-sizing: border-box;
	font-size:0.9rem;
	border-top:1px solid white;
	border-right:1px solid white;
	top:3px;
	left:0;
	height:2rem;
}
.sopp-tab-cnt > div:nth-child(6){z-index:-6;width:100%;padding-left:calc(100% / 6 * 5);}
.sopp-tab-cnt > div:nth-child(5){z-index:-5;width:calc(100% / 6 * 5);padding-left:calc(100% / 6 * 4);}
.sopp-tab-cnt > div:nth-child(4){z-index:-4;width:calc(100% / 6 * 4);padding-left:calc(100% / 6 * 3);}
.sopp-tab-cnt > div:nth-child(3){z-index:-3;width:calc(100% / 6 * 3);padding-left:calc(100% / 6 * 2);}
.sopp-tab-cnt > div:nth-child(2){z-index:-2;width:calc(100% / 6 * 2);padding-left:calc(100% / 6);}
.sopp-tab-cnt > div:nth-child(1){z-index:-1;width:calc(100% / 6);}
.sopp-tab{background-color: #dad9ff;}
.sopp-tab-select{background-color: #2247b1;color:white;}

.sopp-sub-title{
	margin:0 0.2rem;
	padding:0;
	text-align: center;
	display:grid;
	grid-template-columns: 1fr 5fr;
	border-top: 2px solid #bdbdff;
    border-bottom: 2px solid #bdbdff;
	font-size: 0.8rem;
	height: 1.2rem;
	clear: both;
}
.sopp-sub-title > div:nth-child(1){
	display:flex;
	align-items: center;
	justify-content: center;
	height:1.2rem;
	box-sizing: border-box;
}
.sopp-sub-title > div:nth-child(2){
	height:1.8rem;
	box-sizing: border-box;
}

.sopp-desc{
	margin: 0 0.2rem 0.5rem;
}
.sopp-desc > div:nth-child(1){display:grid;grid-template-columns: 2rem auto 10rem;margin: 0.4rem 0;padding: 0.4rem 0;border-bottom: 1px solid #b1d8ff;}
.sopp-desc > div:nth-child(1) > div:nth-child(1){
	width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #2247b1;
    margin: 0.55rem;
}
.sopp-desc > div:nth-child(1) > div:nth-child(2){
font-size:1.5rem;
}
.sopp-desc > div:nth-child(1) > div:nth-child(3){
	text-align: right;
	padding: 0 1rem;
}
.sopp-desc > div:nth-child(1) > div:nth-child(3) .edit-sopp-img{width:1.3rem;height:1.3rem;cursor:pointer;opacity:0.4;display:none;    margin: 0 0.5rem;}
.sopp-desc > div:nth-child(1):hover > div:nth-child(3) .edit-sopp-img:nth-child(1){display:initial;}
.sopp-desc > div:nth-child(2){min-height: 12rem;max-height: 45rem;overflow-x: hidden;overflow-y: auto;}
.sopp-desc > textarea:nth-child(3){display:none;}
.sopp-desc > div:nth-child(4){height: 35rem;overflow-x: hidden;overflow-y: auto;margin:1rem 0;border-color:#b5b2ff;display:none;}

.sopp-schedule{
	display:grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
	height:45rem;
	overflow: hidden;
	margin:0.2rem;
}
.sopp-calendar{
	overflow-x: hidden;
	overflow-y: auto;
	padding-right:2px;
}
.sopp-calendar > div{
	width:100%;
	height:calc(100% - 1rem);
	border-bottom:1px solid #929cc5;
	margin:2px 0;
}
.calendar-head{
	height:15%;
	display:grid;
	grid-template-columns: 1fr 2fr 1fr 7fr;
	grid-template-rows: 1fr;
}
.calendar-head > div:nth-child(1),
.calendar-head > div:nth-child(2),
.calendar-head > div:nth-child(3){
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:2rem;
}
.calendar-head > div:nth-child(6){
	grid-column: span 5;
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	border-bottom:2px solid #929cc5;
}
.calendar-head > div:nth-child(6) > div{
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: #edf1ff;
	font-size: 0.8rem;
}
.calendar-head > div:nth-child(6) > div:first-child{border-top-left-radius: 0.5rem;color:#FF0000;}
.calendar-head > div:nth-child(6) > div:last-child{border-top-right-radius: 0.5rem;color:#0100FF;}
.calendar-body{
	display:flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: stretch;
	height:calc(85% - 4px);
	border-top: 2px solid #929cc5;
	border-bottom: 2px solid #929cc5;
	font-size: 0.8rem;
}
.calendar-week-4 > div{flex-basis: calc(100% / 4);}
.calendar-week-5 > div{flex-basis: calc(100% / 5);}
.calendar-week-6 > div{flex-basis: calc(100% / 6);}
.calendar-body > div{
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	border-bottom:1px solid #929cc5;
	/* position:relative; */
}
.calendar-body > div:last-child{border-bottom:none;}
.calendar-body > div > div{border-right:1px solid #929cc5;}
.calendar-body > div > div:last-child{border-right:none;}
.calendar-body > div > div > div{
	display:flex;
	justify-content: space-around;
	font-size:0.85rem;
	width:5em;
	border-radius: 7.5rem;
	padding:0.2rem 0.3rem;
	margin:0.2rem 1rem 0.2rem auto;
	background-color:pink;
}
.calendar-body > div > div > div:first-child{
	display:block;
	font-size:0.8rem;
	width:100%;
	border-radius: 0;
	padding:0.1rem 1rem;
	margin:0;
	background-color:transparent;
}
.other-month > div{color:gray;z-index:-10;}
.other-month:first-child > div{color:rgb(255, 90, 90);}
.this-month:first-child > div{color:red;}
.other-month:last-child > div:last-child{color:#0100ff;}
.this-month:last-child > div{color:#4f4fff;}
.calendar-body .profile-small {
    height: 0.95rem;
    vertical-align: text-bottom;
    margin: 0;
	border-radius: 50%;
}
.sopp-schedule-detail{
	overflow-x: hidden;
	overflow-y: auto;
	background-color:#f8f8f8;
}

.sopp-estimate > div:nth-child(3){
	margin-bottom:1rem;
}

.sopp-contract{
	min-height: 10rem;;
}

.sopp-trade{
	min-height: 10rem;;
}

.sopp-attached{
	min-height: 10rem;;
}

/* ========== 일정 모달 적용 스타일 ========== */
.schedule-detail{
	display:grid;
	grid-template-columns: 3fr 4fr;
	grid-template-rows: 1fr;
	gap:0 1rem;
	margin:0.5rem;
	width:60rem;
	height:25rem;
	overflow:hidden;
}
.schedule-detail > div:nth-child(1){/* 좌측 제목,본문 */
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.5rem calc(100% - 2rem);
	gap:0.5rem;
	grid-row: span 2;
}
.schedule-detail > div:nth-child(1) > input{ /* 제목 */
	display:block;
	border:none;
	border-radius: 0;
	border-bottom:2px solid #5caeff;
}
.schedule-detail > div:nth-child(1) > textarea{display:none;} /* 본문 에디터용 */
.schedule-detail > div:nth-child(1) > div{ /* 본문 에디터 */
	border:1px solid #b1d8ff;
}
.schedule-detail > div:nth-child(2){
	overflow-x:hidden;
	overflow-y: auto;
}
.schedule-detail > div:nth-child(2) > label{
	display:block;
	padding-bottom: 0.5rem;
}
.schedule-detail > div:nth-child(2) > label:nth-child(1) date{font-size:0.9rem;}
.schedule-detail > div:nth-child(2) > label:nth-child(1) time{font-size:0.8rem;color:gray;}
.schedule-detail > div:nth-child(2) > label:nth-child(1) img{width:1rem;height:1rem;vertical-align: text-bottom;margin-right:0.5rem;}
/* 일정 수정용 미니 달력 */
.schedule-detail > div:nth-child(2) > input:nth-child(2){display:none;}
.schedule-detail > div:nth-child(2) > div:nth-child(3){
	display:none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap:1rem;
	overflow-y: hidden;
	overflow-x: auto;
	border-top:1px solid #b1d8ff;
	height:7rem;
	margin:0.5rem 0;
	padding:0 1rem;
	font-size:0.8rem;
}
.schedule-detail > div:nth-child(2) > input:nth-child(2):checked + div{display:grid;}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div{
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 3fr repeat(6, 2fr);
}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div > span{
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:0.65rem;
	color:rgb(104, 104, 104);
	box-sizing: border-box;
}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div > span:nth-child(7n + 1){color:rgb(86, 103, 255);}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div > span:nth-child(7n + 2){color:rgb(255, 72, 72);}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(1){
	display:flex;
	align-items: center;
	justify-content: center;
	grid-column: span 7;
	font-size:0.75rem;
	color:rgb(60, 60, 60);
}
.schedule-detail > div:nth-child(2) > div:nth-child(4){
	border-top:1px solid #b1d8ff;
	border-bottom:2px solid #5caeff;
	padding:0.5rem 0;
}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div{
	display:grid;
	font-size:0.5rem;
	color:gray;
	text-align:center;
	grid-template-rows: 1fr;
}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2){height:0.8rem;    margin-top: 0.1rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) .schedule-time-empty{background-color:#ffe2e2;}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) .schedule-time-select{background-color:#94cdeb;}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(odd){
	border-right:1px solid white;
}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(even){
	border-left:1px solid white;
	border-right:1px dotted white;
}
.schedule-detail > div:nth-child(2) > div:nth-child(5){
	min-height:20.68rem;
	border-bottom:2px solid #5caeff;
	overflow-x: hidden;
	overflow-y: auto;
	padding:0.3rem 0;
	box-sizing: border-box;
}



/*
text : #a9a9a9;
lite pink : #ffbff4
lite blue : #8ec9ff
border dotted white OR 2px white
*/
