@charset "UTF-8";

.container {
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	margin: 2px;
	background-color: white;
	/* overflow: hidden; */
	/* display: grid;
	grid-template-areas: "title title" "content summary";
	grid-template-rows: 35px calc(100% - 35px);
	grid-template-columns: auto 350px; */
	display: flex;
	flex-direction: column;
}

.content-title {
	font-size: 1rem;
	font-weight: bold;
	color: #425da8;
	border-left: 4px solid rgb(62, 62, 158);
	padding: 0.5rem 1rem;
	grid-area: title;
}

.contract-list {
	display: inline-block;
	width: calc(100% - 100px);
	vertical-align: top;
}

.contract-list ._hidden {
	display: none;
}

.cotract-wrap {
	display: none;
	margin-left: 2rem;
	padding: 0 1rem 1.3rem;
	grid-template-columns: 1fr 25rem;
}

.contract-box {
	display: grid;
	margin: 0.5rem;
	padding: 0.5rem;
	grid-template-columns: 2fr 6fr 2fr 2fr;
	border-radius: 0.6rem;
	border: 1px solid #bbbbbb;
	cursor: pointer;

}

.contract-new {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.6rem;
	border: 1px solid #bbbbbb;
	cursor: pointer;
}

.contract-box:hover {
	background-color: rgb(237, 237, 244);
}

.contract-box>div:last-of-type {
	text-align: right;

}

.detail-wrap {
	border: 1px solid #bbbbbb;
	border-radius: 0.6rem;
	margin: 0.5rem;
	padding: 0.5rem;

}



.contract-progress {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contract-progress>div {
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	width: 5rem;
	height: 1.5rem;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	background-image: url("/images/sopp2/label_gray.png");
	background-position: center center;
	padding: 0.5rem 1rem;
}

.contract-progress>div:first-child {
	margin-left: 0;
}

.contract-progress>.contract-done {
	background-image: url("/images/sopp2/label_blue.png");
}

.contract-progress>.contract-fail {
	background-image: url("/images/sopp2/label_red.png");
}

.contract-progress>.contract-doing {
	background-image: url("/images/sopp2/label_green.png");
}


.detail-wrap>div {
	display: grid;
	grid-template-columns: 20% 80%;
	;
}


.detail-wrap>div {
	display: grid;
	grid-template-columns: 20% 80%;
	;
}

.detail-wrap>div>div>div {
	display: flex;

}