@charset "UTF-8";

.mywriteContainer {
	position: relative;
	left: 2%;
	width: 96%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	display: inline-block;
}

.mywriteContainer hr {
	float: left;
	border-top: 0;
	border-left: thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	height: 44px;
	width: 4px;
	margin: 0;
}

.mywriteContainer span {

	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}

.ContentDiv {
	display: grid;
	grid-template-columns: 30% 70%;
}

.ContentDiv .selectFormDiv,
.ContentDiv .showSelectedFromDiv {
	padding: 4em;
}

.ContentDiv .selectFormDiv{
	color: #332E85;
	font-weight: 500;
	font-size: 18px;

}
.ContentDiv .selectFormDiv .div {
	color: #332E85;
	font-weight: 500;
	font-size: 18px;
	margin-left: 3rem;
	
}


.ContentDiv .showSeletedFormDiv {
	margin-left: 25%;
	margin-right: 25%;
	width: 210mm;
	height: 297mm;
	border: 1px solid black;

}

.selector {
	margin-top : 4rem;
}


input[type=radio] + * , input[type=radio]{
	display : none;
}

input[type=radio]:checked + *   {
	display : inline-block;
}

.formDetail , .approvalLineDetail{
	width: 40rem;
	height: 20rem;
	background-color:#EDEDF4; 
	
}


.serchDiv {
	margin: 1em;
	text-align : center;
}

.formlist , .linelist {
	overflow: auto;
	margin: 1em;
}


