@charset "UTF-8";




.mywriteContainer {
  position: relative;
  left: 2%;
  width: 96%;
  height: 96%;
  background: #ffffff;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
  display: inline-block;
}

.mywriteContainer hr {
  float: left;
  border-top: 0;
  border-left: thick solid #e45050;
  border-right: 0;
  border-bottom: 0;
  height: 44px;
  width: 4px;
  margin: 0;
}

.mywriteContainer span {
  font-weight: 500;
  font-size: 16px;
  margin-left: 18px;
  line-height: 3;
  color: #332e85;
}


.ContentDiv {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow: auto;
}



.ContentDiv .gwWriteBtns {
  width: 15%;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 16px;
  color: #332e85;
}

/* 라디오 버튼 숨김  */
.form {
  display: none;
}



/* .selector .forSelect_1 {
  color: #332e85;
  font-size: 1.5rem;
} */

.selector {
  margin: 1rem 0;
}

.selector>label {
  font-weight: 500;
}

.selector .formDetail {
  display: flex;
  width: 80%;
  padding: 0.5rem;
  border: 1px solid rgb(188, 185, 185);
}

.selector .formDetail {
  display: flex;
  padding: 0.5rem;
  border: 1px solid rgb(188, 185, 185);
}




.selector .formDetail select {
  margin: 0 2rem;
}

.selector .lineDetail {
  display: block;
}

.selector .lineDetail .lineTop {
  color: black;
  width: 80%;
  height: 25rem;
  display: grid;
  grid-template-columns: 30% 10% 60%;
  border: 1px solid rgb(188, 185, 185);
  overflow: auto;
}

.selector .lineDetail #lineBottom {
  margin: 2rem;
  text-align: right;
}


.selector .lineDetail .innerDetail {
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  border: 1px solid rgb(188, 185, 185);
  overflow: auto;
}



.selector .lineDetail #lineCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



.selectEachLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.selector .lineDetail #lineRight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.selector .lineDetail #lineRight>label {
  border: 1px solid rgb(188, 185, 185);
  margin: 0.5rem;
}




.lineDataContainer {
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;

}

.selector .insertedDetail {
  width: 80%;
}

.selector .reportInsertForm {
  color: black;
  overflow: auto;
  border: 1px solid rgb(188, 185, 185);

}

.selector .insertedDetail .fileInsertContainer,
.selector .insertedDetail .readOfReferContainer {
  border: 1px solid rgb(188, 185, 185);
  margin: 1rem 0;
}

.selector .insertedDetail .readOfReferContainer {
  display: grid;
  grid-template-columns: 50%50%
}



.selector .insertedDetail .readOfReferContainer .readContainer,
.selector .insertedDetail .readOfReferContainer .referContainer {
  margin: 1rem;
  display: grid;
  grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
}


.readContainer div:first-of-type,
.referContainer div:first-of-type {
  background-color: rgb(208, 206, 206);
  ;
  border: 1px solid black;
  text-align: center;
}


.readContainer div:not(:first-of-type),
.referContainer div:not(:first-of-type) {
  border: 1px solid black;
  border-left: none;
  text-align: center;
}


.lineGridContainer:first-of-type {
  padding-bottom: 0.5rem;
  height: 45%;
  display: flex;
  align-items: right;
  justify-content: right;

}
.lineGridContainer:last-of-type {
  padding-top: 0.5rem;
  height: 45%;
  display: flex;
  align-items: right;
  justify-content: right;
}





.lineGrid {
  display: flex;
  flex-direction: row;
}

.lineSet {
  display: grid;
  grid-template-rows: 30%40%30%;

}

.lineTitle {
  background-color: rgb(208, 206, 206);
  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineUserName,
.gap {
  border-top: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}


.linedate {
  text-align: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.lineUserNameLast,
.gapLast {
  border-top: 1px solid black;
  text-align: center;
}

.linedateLast {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}