@charset "UTF-8";




.container {
  position: relative;
  width: 100%;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin-top: 0.6%;
  overflow: auto;
  height: 92vh;
}

.container hr {
  float: left;
  height: 32px;
  border: 2px solid #456e95;
  margin: 0;
}

.container span {
  font-size: 16px;
  margin-left: 15px;
  line-height: 40px;
  color: #456e95;
  font-weight: bolder;
}

.ContentDiv {
  display: flex;
  flex-direction: column;
  margin: 0.8em 1em 1em 1em;
  overflow: auto;
}

.ContentDiv .gwWriteBtns {
  border-bottom: 2px solid #c1c6cb;
  padding-bottom: 0.5em;
  width: 80%;

}

.ContentDiv .gwWriteBtns button {
  /* color: #eaeff3; */
  font-size: 14px;
  border: none;
  border-right: 1px solid #c1c6cb;
  background-color: white;
  height: 26px;
  padding: 0 0.7em;
  margin: 0 5px;
  /* box-shadow: 0px 1px 4px #c1c6cb; */
  /* border-radius: 5px; */
}

.ContentDiv .gwWriteBtns button:last-of-type {
  border: none;
  padding: none;
  margin: none;
}

.ContentDiv .gwWriteBtns button:hover {
  transform: scale(1.01);
}



/* 결재양식 선택 start ====================================================   */
.form {
  display: none;
}

.selector {
  width: 80%;
  height: max-content;
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 2em 0 0 0;
}


.ContentDiv>div:nth-child(n+1):nth-child(-n+2) {
  margin-bottom: 20px;
}

.selector>div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border: 1px solid #c3c3c3;
  border-right: none;
}

.selector .formDetail {
  display: grid;
  grid-template-rows: 50% 50%;
  /* float: left;
  overflow: hidden;
  margin-right: 12px; */
  border: 1px solid #c3c3c3;
  border-left: none;
}



.selector .formDetail>div {
  display: grid;
  grid-template-columns: 50%50%;
}

.selector .formDetail>div:first-of-type {
  border-bottom: 1px solid #c3c3c3;
}

.selector .formDetail>div>div {
  display: grid;
  grid-template-columns: 15% 85%;
}



.selector .formDetail>div>div>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-right: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  padding: 0.5em;
}


.selector .formDetail>div>div>div:last-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5em;
}

.selector .formDetail>div>div>div:last-of-type>* {
  margin-right: 2em;
}

.selector .lineBtnContainer {
  border: 1px solid #c3c3c3;
  padding: 0.5em;
}

.selector .lineBtnContainerB {
  border: 1px solid #c3c3c3;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 10% 90%;
}


.selector .fileDetail {
  display: grid;
  grid-template-columns: 10% 90%;
  border: 1px solid rgb(188, 185, 185);
}

.selector .fileDetail>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 206, 206);
  border-right: 1px solid rgb(188, 185, 185);

}

.selector .fileDetail>div:last-of-type {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.selector .fileDetail .filebtnContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.ContentDiv>div:nth-child(3) button {
  color: #eaeff3;
  background-color: #456e95;
  padding: 0 0.8em;
  height: 24px;
  box-shadow: 0px 1px 4px #c1c6cb;
  margin-left: 10px;
  border-radius: 5px;
}

/* End 결재양식 선택  ====================================================   */


/* Start ======================== 결재선관련 ============================= */
/* .createLineBtn {
  font-weight: bolder;
  font-size: 15px;
  color: #406c92;
  background-color: white;
  border: none;
} */


.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  margin-left: 18px;
  line-height: 3;
  color: #fff;
}

.gwModal {
  background-color: #456e95;
  width: 60%;
  border-radius: 0.3em;
  padding: 0.5em 0.5em 0.9em 0.5em;
}

.close-wrap {
  text-align: right;
  margin: 0.3em 0.5em 0 0;
}


.selector .lineDetail {
  display: block;
}

.selector .lineDetail .lineTop {
  color: black;
  height: 25rem;
  display: grid;
  grid-template-columns: 35% 15% 50%;
  overflow: auto;
}

.selector .lineDetail #lineBottom {
  margin: 2rem;
  text-align: right;
}


.selector .lineDetail .innerDetail {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #ffffff;
  overflow: auto;
  border-radius: 3px;
  /* border: 1px solid black; */
}

.selector .lineDetail .innerDetail>div {
  padding: 3px 0;
}

.selector .lineDetail .innerDetail input {
  margin-right: 6px;
}

.selector .lineDetail #lineCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.selectEachLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.selector .lineDetail #lineRight {
  display: flex;
  flex-direction: column;
}

.selector .lineDetail #lineRight>div {
  margin: 1em 0;
}

/* .selector .lineDetail #lineRight>label {
  border: 1px solid rgb(188, 185, 185);
  margin: 0.5rem;
} */

.selector .lineDetail #lineRight>div {
  display: grid;
  grid-template-columns: 30% 70%;

}

.selector .lineDetail #lineRight>div:first-of-type {
  display: flex;
  margin: 0;
}




.selector .lineDetail #lineRight>div>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

}

.selector .lineDetail #lineRight>div>div:last-of-type {
  border: 1px solid black;
  border-left: none;
}

.selector .lineDetail #lineRight>label {
  border: 1px solid rgb(185 196 205);
  margin: 0.5rem;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #385f80;
  font-weight: bolder;
  font-size: 15px;
}

/* #lineRight label .typeContainer {
  padding:5px 0;
} */



.lineDataContainer {
  display: grid;
  grid-template-columns: 1fr 10% 10% 10%;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid #d8e1e9;
}

.lineDataContainer button {
  margin: 0 0.2em;
  padding: 0.5em 0.5em;
  /* display: grid;
  grid-template-columns: 1fr 8% 8% 8%; */
  border-bottom: 1px solid #cedfdd;
  font-size: 14px;
  color: #212121;
  font-weight: normal;
}

.ContentDiv>div:nth-child(3) .lineDataContainer button {
  border: none;
  height: 18px;
  background-color: #eaeff3;
  font-size: 11px;
  font-weight: bolder;
  width: 75%;
}

.typeContainer .lineDataContainer>label {
  float: left;
  width: 70%;
}

.typeContainer .lineDataContainer>button {
  float: left;
  width: 10%;
}

/*결재선 모달창 버튼*/
.ContentDiv>div:nth-child(3) .gwModal #lineCenter button {
  height: 25px;
  font-weight: bolder;
  box-shadow: 0px 2px 4px #a5b6c1;
}

.ContentDiv>div:nth-child(3) .gwModal #lineCenter button:hover,
.ContentDiv>div:nth-child(3) .lineDataContainer button:hover {
  color: #fff;
  background-color: #61829e;
  font-weight: normal;
}

.ContentDiv>div:nth-child(3) .gwModal .close-wrap #close {
  background-color: #93adc5;
  color: #fff;
}

.ContentDiv>div:nth-child(3) .gwModal .close-wrap button {
  box-shadow: none;
}

/* End ======================== 결재선관련 ============================= */




.selector .reportInsertForm {
  color: black;
  overflow: auto;
  /* border: 1px solid rgb(188, 185, 185); */

}


.selector .insertedDetail .fileInsertContainer {
  border: 1px solid rgb(188, 185, 185);


}

.selector .insertedDetail .referContainer {
  display: grid;
  margin: 1em 0;
  border: 1px solid rgb(188, 185, 185);
  grid-template-columns: 10% 18% 18% 18% 18% 18%;
}


.readContainer div:first-of-type,
.referContainer div:first-of-type {
  padding: 0.5em;
  background-color: rgb(208, 206, 206);
  text-align: center;
  border-right: 1px solid rgb(188, 185, 185);
}

.referContainer div:first-of-type {
  border-left: 1px solid rgb(188, 185, 185);
}


.readContainer div:not(:first-of-type),
.referContainer div:not(:first-of-type) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(188, 185, 185);
}



/* float 설정 초기화  */
button,
select,
input {
  margin: 0;
  float: none;
}

/*스크롤*/
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: rgb(157, 187, 209);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(109, 143, 169);
  border-radius: 100vw;
  border: 0.1em solid rgb(157, 187, 209);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(81, 113, 137);
}