@charset "UTF-8";

#bodyContents #bodyContent {
  float: right;
  width: calc(100% - 185px);
  overflow-y: auto;
  max-height: calc(100% - 94px);
  padding: 0.5% 0.5% 0 0.6%;
  box-sizing: border-box;
}

select {
  font-family: 'NanumSquareRound';
  margin: 0;
  float: none;
  padding-right: 0.5em;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: none;
  cursor: pointer;
}

input[type="text"] {
  font-family: 'NanumSquareRound';
  margin: 0;
  float: none;
  padding: 0;
  background-color: white;
  border: none;
  color: black;
  border-radius: none;
  cursor: pointer;
}

.mywriteContainer {
  position: relative;
  /* left: 2%; */
  width: 100%;
  height: 96%;
  background: #ffffff;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
  display: inline-block;
}

.mywriteContainer hr {
  float: left;
  /* border-top: 0;
  border-left: thick solid #e45050;
  border-right: 0;
  border-bottom: 0; */
  border: 2px solid #406c92;
  height: 32px;
  /* width: 4px; */
  margin: 0;
}

.mywriteContainer span {
  font-weight: bolder;
  font-size: 15px;
  margin-left: 15px;
  line-height: 40px;
  color: #406c92;
}

.ContentDiv {
  display: flex;
  flex-direction: column;
  margin: 0.8em 1em 1em 1em;
  overflow: auto;
}

/* .ContentDiv .gwWriteBtns {
  display: flex;
  border-bottom: 1px solid #acc1d3;

} */

.ContentDiv .gwWriteBtns button {
  color: #406c92;
  font-size: 14px;
  border: none;
  background-color: #eaeff3;
  height: 24px;
  padding: 0 0.8em;
  margin: 0 5px;
  box-shadow: 0px 1px 4px #c1c6cb;
}

.ContentDiv .gwWriteBtns button:hover {
  transform: scale(1.01);
}



/* 결재양식 선택 start ====================================================   */
.form {
  display: none;
}

.selector {
  width: 100%;
}

.selector>div>.guide {
  font-weight: 100;
  padding-left: 0.6em;
}

.ContentDiv>div:nth-child(n+1):nth-child(-n+2) {
  margin-bottom: 20px;
}

.selector>div:first-child {
  font-weight: bolder;
  margin: 1em 0;
  font-size: 15px;
}

.selector .formDetail {
  height: 35px;
  float: left;
  overflow: hidden;
  line-height: 35px;
}

.selector .formDetail:last-of-type {
  float: left;
  margin-left: 20px;
}

.selector .formDetail:last-of-type>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector .formDetail:last-of-type>div:last-of-type>label {

  display: flex;
  float: left;
  padding-right: 1em;
  font-size: 14px;

}

.formDetail div:nth-of-type(2) {
  display: flex;
  align-items: center;
}

.selector .formDetail:last-of-type>div:last-of-type>label input {
  margin-right: 5px;
}

.selector .formDetail .formListDiv {
  height: 30px;
  float: left;
}

.selector .formDetail .filebtnContainer {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector .formDetail .formListDiv .formSelector {
  height: 80%;
  background-color: #406c92;
  color: #fff;
  border: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.selector .formDetail .formListDiv .formSelector option {
  background-color: #eaeff3;
  color: #212121;
}

.selector .formDetail button {
  margin: 0.5em 1em 0.5em 1em;
  float: left;
  height: 70%;
  background-color: #eaeff3;
  color: #406c92;
  box-shadow: 0px 1px 2px #c1c6cb;
  padding: 0 0.5em;
}

.selector .formDetail button:hover {
  color: #fff;
  background-color: #406c92;
}

.selector .formDetail div:first-of-type {
  margin: 0;
  font-size: 14px;
  text-align: center;
  float: left;
  line-height: 35px;
  padding: 0 1em 0 0.6em;
}

.selector .formDetail div:first-of-type span {
  border-right: 2px solid #b7c1c9;
  height: 17px;
}

.selector .fileDetail {
  display: grid;
  grid-template-columns: 10% 90%;
  border: 1px solid rgb(188, 185, 185);
}

.selector .fileDetail>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 206, 206);
  border-right: 1px solid rgb(188, 185, 185);

}

.selector .fileDetail>div:last-of-type {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.selector .fileDetail .filebtnContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.ContentDiv>div:nth-child(3) button {
  color: #456e95;
  background-color: #eaeff3;
  padding: 0 0.8em;
  height: 22px;
  box-shadow: 0px 1px 4px #c1c6cb;
  margin-left: 10px;
}

/* End 결재양식 선택  ====================================================   */


/* Start ======================== 결재선관련 ============================= */
/* .createLineBtn {
  font-weight: bolder;
  font-size: 15px;
  color: #406c92;
  background-color: white;
  border: none;
} */


.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  margin-left: 18px;
  line-height: 3;
}

.gwModal {
  background-color: #456e95;
  width: 60%;
  border-radius: 0.3em;
  padding: 0.5em 0.5em 0.9em 0.5em;
}

.close-wrap {
  text-align: right;
  margin: 0.3em 0.5em 0 0;
}


.selector .lineDetail {
  display: block;
}

.selector .lineDetail .lineTop {
  color: black;
  height: 25rem;
  display: grid;
  grid-template-columns: 35% 15% 50%;
  overflow: auto;
}

.selector .lineDetail #lineBottom {
  margin: 2rem;
  text-align: right;
}


.selector .lineDetail .innerDetail {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #ffffff;
  overflow: auto;
  border-radius: 3px;
  /* border: 1px solid black; */
}

.selector .lineDetail .innerDetail>div {
  padding: 3px 0;
}

.selector .lineDetail .innerDetail input {
  margin-right: 6px;
}

.selector .lineDetail #lineCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.selectEachLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.selector .lineDetail #lineRight {
  display: flex;
  flex-direction: column;
}

.selector .lineDetail #lineRight>div {
  margin: 1em 0;
}

/* .selector .lineDetail #lineRight>label {
  border: 1px solid rgb(188, 185, 185);
  margin: 0.5rem;
} */

.selector .lineDetail #lineRight>div {
  display: grid;
  grid-template-columns: 30% 70%;

}

.selector .lineDetail #lineRight>div:first-of-type {
  display: flex;
  margin: 0;
}




.selector .lineDetail #lineRight>div>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

}

.selector .lineDetail #lineRight>div>div:last-of-type {
  border: 1px solid black;
  border-left: none;
}

.selector .lineDetail #lineRight>label {
  border: 1px solid rgb(185 196 205);
  margin: 0.5rem;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #385f80;
  font-weight: bolder;
  font-size: 15px;
}

/* #lineRight label .typeContainer {
  padding:5px 0;
} */



.lineDataContainer {
  display: grid;
  grid-template-columns: 1fr 10% 10% 10%;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid #d8e1e9;
}

.lineDataContainer button {
  margin: 0 0.2em;
  padding: 0.5em 0.5em;
  /* display: grid;
  grid-template-columns: 1fr 8% 8% 8%; */
  border-bottom: 1px solid #cedfdd;
  font-size: 14px;
  color: #212121;
  font-weight: normal;
}

.ContentDiv>div:nth-child(3) .lineDataContainer button {
  border: none;
  height: 18px;
  background-color: #eaeff3;
  font-size: 11px;
  font-weight: bolder;
  width: 75%;
}

.typeContainer .lineDataContainer>label {
  float: left;
  width: 70%;
}

.typeContainer .lineDataContainer>button {
  float: left;
  width: 10%;
}

/*결재선 모달창 버튼*/
.ContentDiv>div:nth-child(3) .gwModal #lineCenter button {
  height: 25px;
  font-weight: bolder;
  box-shadow: 0px 2px 4px #a5b6c1;
}

.ContentDiv>div:nth-child(3) .gwModal #lineCenter button:hover,
.ContentDiv>div:nth-child(3) .lineDataContainer button:hover {
  color: #fff;
  background-color: #61829e;
  font-weight: normal;
}

.ContentDiv>div:nth-child(3) .gwModal .close-wrap #close {
  background-color: #93adc5;
  color: #fff;
}

.ContentDiv>div:nth-child(3) .gwModal .close-wrap button {
  box-shadow: none;
}

/* End ======================== 결재선관련 ============================= */




.selector .reportInsertForm {
  color: black;
  overflow: auto;
  border: 1px solid rgb(188, 185, 185);

}


.selector .insertedDetail .fileInsertContainer {
  border: 1px solid rgb(188, 185, 185);


}

.selector .insertedDetail .referContainer {
  display: grid;
  margin: 1em 0;
  border: 1px solid rgb(188, 185, 185);
  grid-template-columns: 10% 18% 18% 18% 18% 18%;
}


.readContainer div:first-of-type,
.referContainer div:first-of-type {
  padding: 0.5em;
  background-color: rgb(208, 206, 206);
  text-align: center;
  border-right: 1px solid rgb(188, 185, 185);
}

.referContainer div:first-of-type {
  border-left: 1px solid rgb(188, 185, 185);
}


.readContainer div:not(:first-of-type),
.referContainer div:not(:first-of-type) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(188, 185, 185);
}



/* float 설정 초기화  */
button,
select,
input {
  margin: 0;
  float: none;
}

/*스크롤*/
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: rgb(157, 187, 209);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(109, 143, 169);
  border-radius: 100vw;
  border: 0.1em solid rgb(157, 187, 209);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(81, 113, 137);
}