@charset "UTF-8";


.mywriteContainer {
  position: relative;
  left: 2%;
  width: 96%;
  height: 96%;
  background: #ffffff;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
  display: inline-block;
}

.mywriteContainer hr {
  float: left;
  border-top: 0;
  border-left: thick solid #e45050;
  border-right: 0;
  border-bottom: 0;
  height: 44px;
  width: 4px;
  margin: 0;
}

.mywriteContainer span {
  font-weight: 500;
  font-size: 16px;
  margin-left: 18px;
  line-height: 3;
  color: #332e85;
}

.ContentDiv {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow: auto;
}

.ContentDiv .gwWriteBtns {
  width: 20%;
  display: flex;

}

.ContentDiv .gwWriteBtns button {
  font-weight: 500;
  color: #332e85;
  font-size: 1rem;
  border: none;
  background-color: white;
}

.ContentDiv .gwWriteBtns button:hover {

  font-weight: 600;

}


/* 결재양식 선택 start ====================================================   */
.form {
  display: none;
}


.selector {
  margin: 1rem 0;
  width: 80%;
}

.selector>label {
  font-weight: 500;
}


.selector .formDetail {
  display: grid;
  grid-template-columns: 10% 10% 5% 75%;
  border: 1px solid rgb(188, 185, 185);
  text-align: center;
}


.selector .formDetail .formListDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}


.selector .formDetail .filebtnContainer {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.selector .formDetail .formListDiv .formSelector {
  height: 80%;
}

.selector .formDetail button {
  margin: 0.5em;
}

.selector .formDetail div:first-of-type {
  background-color: rgb(208, 206, 206);
  border-right: 1px solid rgb(188, 185, 185);
  padding: 0.5em;
  margin: 0;
}



.selector .fileDetail {
  display: grid;
  grid-template-columns: 10% 90%;
  border: 1px solid rgb(188, 185, 185);
}

.selector .fileDetail>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 206, 206);
  border-right: 1px solid rgb(188, 185, 185);

}

.selector .fileDetail>div:last-of-type {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}



.selector .fileDetail .filebtnContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

/* End 결재양식 선택  ====================================================   */







/* Start ======================== 결재선관련 ============================= */
.createLineBtn {
  font-weight: 500;
  font-size: 16px;
  color: #332e85;
  background-color: white;
  border: none;
}

.createLineBtn:hover {
  font-weight: 600;

}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  margin-left: 18px;
  line-height: 3;
  color: white;
}

.gwModal {
  background-color: #332e85;
  width: 60%;
  border-radius: 0.3em;
}

.close-wrap {
  text-align: right;
}


.selector .lineDetail {
  display: block;
}

.selector .lineDetail .lineTop {
  color: black;
  height: 25rem;
  display: grid;
  grid-template-columns: 25% 15% 60%;
  overflow: auto;
}

.selector .lineDetail #lineBottom {
  margin: 2rem;
  text-align: right;
}


.selector .lineDetail .innerDetail {
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  overflow: auto;
  border-radius: 3px;
}

.selector .lineDetail #lineCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.selectEachLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.selector .lineDetail #lineRight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.selector .lineDetail #lineRight>label {
  border: 1px solid rgb(188, 185, 185);
  margin: 0.5rem;
}


.lineDataContainer {
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;

}

.lineDataContainer button {
  border: none;
  background-color: white;
}

.lineDataContainer button:hover {
  color: #EDEDF4;
  font-weight: 800;
}

/* End ======================== 결재선관련 ============================= */




.selector .reportInsertForm {
  color: black;
  overflow: auto;
  border: 1px solid rgb(188, 185, 185);

}

.selector .insertedDetail .fileInsertContainer,
.selector .insertedDetail .readOfReferContainer {
  border: 1px solid rgb(188, 185, 185);

}

.selector .insertedDetail .readOfReferContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1em 0;
}



.selector .insertedDetail .readOfReferContainer .readContainer,
.selector .insertedDetail .readOfReferContainer .referContainer {
  display: grid;
  grid-template-columns: 20% 16% 16% 16% 16% 16%;
}


.readContainer div:first-of-type,
.referContainer div:first-of-type {
  padding: 0.5em;
  background-color: rgb(208, 206, 206);
  text-align: center;
  border-right: 1px solid rgb(188, 185, 185);
}

.referContainer div:first-of-type {
  border-left: 1px solid rgb(188, 185, 185);
}


.readContainer div:not(:first-of-type),
.referContainer div:not(:first-of-type) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(188, 185, 185);
}



.lineGridContainer:first-of-type {
  padding-bottom: 0.5rem;
  height: 45%;
  display: flex;
  align-items: right;
  justify-content: right;

}



.lineGridContainer:last-of-type {
  padding-top: 0.5rem;
  height: 45%;
  display: flex;
  align-items: right;
  justify-content: right;
}





.lineGrid {
  display: flex;
  flex-direction: row;
}

.lineSet {
  
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  width: 5em;

}

.lineTitle {
  background-color: rgb(208, 206, 206);
  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twoBorder {
  border-top: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.twoBorderLast {
  border-top: 1px solid black;
  text-align: center;
}

.dateBorder {
  text-align: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.dateBorderLast {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


/* float 설정 초기화  */
button, select, input {
  margin: 0;
  float : none; 
}
