@charset "UTF-8";

.searchContainer .searchMultiContent .searchTitle{
	grid-column: span 2;
}

.searchContainer .searchMultiContent .searchCreated > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer .searchMultiContent .searchCreated > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.noticeContainer {
	/* margin-top: 1%; */
	/* margin-left: 2%; */
	/* max-width: 1782px; */
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.noticeContainer hr {
	float: left;
	border:2px solid #182f81;
	height: 32px;
	margin: 0;
}

.noticeContainer span {
	font-weight: bolder;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
	color: #182f81;
}

/* .noticeContainer button {
	margin:1% 1% 0 0;
	padding:0.3% 0.8% 0.3% 0.8%;
} */

.gridNoticeList {
	display: grid;
	width: 99%;
	margin: 0 auto;
}

.gridNoticeList .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.gridNoticeList .gridHeader,
.gridNoticeList .gridContent {
	grid-template-columns: 10% 60% 10% 20%;
}

.noticeContent {
	border: 2rem;
	padding: 2rem;
	display : none;
	background-color : #EDEDF4;
}

.noticeContent .headerDiv {
	font-size: 1.4rem;
	color: #332E85;
	font-weight: 600;
}

.noticeContent .headerDiv .deleteButton {
	text-align : right;
	font-weight: 800;
}

.noticeContent .contentDiv, .noticeContent .headerDiv {
	margin-left : 1.5rem;
	margin-right :1.5rem;
}

.noticeContainer > button{
	margin:0.7% 0.6% 0 0;
	box-shadow:0px 1px 2px #bdbfc9;
	padding:0.3% 0.6%;
	background-color:#2147b1;
	color:#fff;
	float:right;
	border-radius: 5px;
}

.noticeContainer > button:hover{
	box-shadow: 0 1px 2px #bdbfc9;
	background-color:#0e2b7e;
}

.noticeContainer .pageContainer .paging_cell_current{
	color:#2147b1;
	border:1px solid #2147b1;
	background-color:#ebefff;
}

.noticeContainer .pageContainer{
	box-sizing: border-box;
	margin:20px 0.5% 20px 0.5%;
}
