@charset "UTF-8";

.contractContainer {
	font-size: 0.8rem;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	margin: 2px;
	background-color: white;
	overflow: auto;
}


.contractContainer>hr {
	float: left;
	height: 32px;
	border: 2px solid #181f81;
	margin: 0;
}

.contractContainer>#containerTitle {
	font-weight: 600;
	font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #181f81;
	float: left;
}

.content-title {
	font-size: 1rem;
	font-weight: bold;
	color: #425da8;
	border-left: 4px solid rgb(62, 62, 158);
	padding: 0.5rem 1rem;
	grid-area: title;
}

.container>button {
	float: right;
}

.contract-list {
	display: grid;
	width: 99%;
	margin: 0 auto;

}

.contract-list>div:first-of-type {
	width: 100%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 4fr 2fr 1fr 2fr;
	background-color: #eef1fb;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid #566d9b;
	position: sticky;
	top: 0;
	height: 36px;
	font-size: 0.9rem;
}

.contract-list>div:first-of-type>div {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}


.contract-list ._hidden {
	display: none;
}

.cotract-wrap {
	display: none;
	margin-left: 2rem;
	padding: 0 1rem 1.3rem;
	grid-template-columns: 1fr 25rem;
}

.contract-box {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 4fr 2fr 1fr 2fr;
	cursor: pointer;
}

.contract-box>div,
.contract-box>name {
	overflow: hidden;
	border: 1px solid #e0e4e9;
	margin: 0.5px;
	padding: 8px;
	text-align: center;
}

.contract-box>name {
	text-align: left;
}


.contract-box:hover {
	background-color: rgb(237, 237, 244);
}

.contract-box>div:last-of-type {
	text-align: right;

}

.detail-wrap {
	border: 1px solid #bbbbbb;
	background-color: #8a898905;
	/* box-shadow: 0px 2px 0px 0px #fdf0f0 inset; */

}

/* /* .detail-wrap:hover {
	background-color: #e7e6e642;
	cursor: pointer;
} */

/* .contract-top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.contract-top .crudBtns {
	padding-left: calc(100% - 40px);
}

.contract-top .contract-progress {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contract-top .contract-progress>div {
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	width: 5rem;
	height: 1.5rem;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	background-image: url("/images/sopp2/label_gray.png");
	background-position: center center;
	padding: 0.5rem 1rem;
}

.contract-top .contract-progress>div:first-child {
	margin-left: 0;
}

.contract-top .contract-progress>.contract-done {
	background-image: url("/images/sopp2/label_blue.png");
}

.contract-top .contract-progress>.contract-fail {
	background-image: url("/images/sopp2/label_red.png");
}

.contract-top .contract-progress>.contract-doing {
	background-image: url("/images/sopp2/label_green.png");
} */


/* .detail-wrap>div {
	display: grid;
	grid-template-columns: 20% 80%;
}


.detail-wrap>div>div {
	border: 1px solid #e0e4e9;
	margin: 0.5px;
	padding: 8px;
	text-align: center;
}

.detail-wrap>div>div:first-of-type {
	text-align: center;
	background-color: #eef1fb;
	font-weight: 500;
}

.detail-wrap>div>div:last-of-type {
	display: inline-flex;
	line-height: 1.5;
	overflow: hidden;

}

.detail-wrap>div>div:last-of-type>div {
	display: inline-flex;
}  */