@charset "UTF-8";

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: 2%;*/
  height: 5rem;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.searchContainer .searchSelect {
  margin-right: 1%;
}

.searchContainer .searchSelect select {
  color: #332e85;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  background-color: #ededf4;
}

.searchContainer .searchSelect select:hover {
  border: 1px solid#332E85;
}

.searchContainer .searchText {
  margin-right: 1%;
}

.searchContainer .searchText input {
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 500px;
  border: 0;
  background-color: #ededf4;
}

.searchContainer .searchText input:hover {
  border: 1px solid#332E85;
}

.searchContainer .searchBtn button {
  color: #ffffff;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100px;
  border: 0;
  background-color: #332e85;
}

.searchContainer .searchBtn button:hover {
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin-top: 0.6%;
  overflow: hidden;
}

.container hr {
  float: left;
  height: 32px;
  border: 2px solid #456e95;
  margin: 0;
}

.container span:not(.textNumberFormat) {
  font-weight: bolder;
  font-size: 15px;
  padding-left: 15px;
  line-height: 40px;
  color: #406c92;
}

.subContainer .batchBtn {
  display: flex;
  align-items: right;
  justify-content: right;
  padding-right: 2em;
}

.subContainer .listPageDiv > div {
  margin: 0 auto;
  width: 99%;
}

.subContainer .listPageDiv > div:last-of-type {
  width: auto;
  margin: 1em;
}

/* 체크박스만 선택  */
.subContainer .listPageDiv .listDiv div div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subContainer .listPageDiv .listDiv .noListDefault {
  text-align: center;
  color: gray;
  margin: 8em 0;
  width: 99%;
}

.inputsAuto {
  padding: 0.5% 0.7%;
  text-align: center;
}

/*-------------------------------- 상세조회 페이지 상단 버튼  */

.listDiv .gridHeader,
.listDiv .gridContent {
  grid-template-columns: 10% 10% 10% 60% 10%; 
}

/* .subContainer .listPageDiv .pageContainer {
  display: flex;
  float: right;
} */

.subContainer .listPageDiv .pageContainer .paging_cell_current {
  background-color: #eaeff3;
  border: 1px solid #507698;
}

.subContainer .listPageDiv .pageContainer div:not(.paging_cell_current) {
  background-color: #fff;
}

.subContainer .listPageDiv .pageContainer div:hover {
  background-color: #406c92;
  border: 1px solid #507698;
}

.listDiv > div:first-child {
  border-bottom: 1px solid #425da8;
  background-color: #f2f5ff;
}

.listDiv .grid_default_body_item:nth-chhild(2n-1) {
  background-color: rgba(234, 239, 243, 0.4);
}

/* 상세조회 페이지 css Start ===============   */
.subContainer .listPageDiv .mainBtnDiv {
  display: flex;
  align-items: left;
  margin-bottom: 1em;
}

.subContainer .listPageDiv .mainBtnDiv button {
  margin: 0 1em 1em 0;
}

.listPageDiv .detailReport {
  display: grid;
  grid-template-columns:  65% 35%;
}

.listPageDiv .detailReport .selectedReportview > div:first-child {
  border: 1px solid black;
}

/*-------------------------------선택 결재문서양식 첨부파일 목록  조회 탭   */

/* 첨부파일 목록 조회  */

.listPageDiv .detailReport .selectedReportview > div:not(:first-of-type) {
  margin: 1em 0 0 0;
  display: grid;
  grid-template-columns: 15% 85%;
}

.listPageDiv .detailReport .selectedReportview .referDiv > div,
.listPageDiv .detailReport .selectedReportview .referDiv > label {
  border: 1px solid black;
}

.listPageDiv .detailReport .selectedReportview .referDiv > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.listPageDiv .detailReport .selectedReportview > div:last-of-type > div,
.listPageDiv .detailReport .selectedReportview > div:last-of-type > label {
  height: 5em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.listPageDiv
  .detailReport
  .selectedReportview
  .selectedFile
  > div
  > .inputFile {
  margin: 0.5em 0;
}

.listPageDiv .detailReport .selectedReportview .selectedFile > div {
  overflow: auto;
}

.listPageDiv
  .detailReport
  .selectedReportview
  > div:not(:first-of-type)
  > label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  background-color: rgb(208, 206, 206);
}

/*-------------------------------- 결재정보 변경이력 탭  */
.listPageDiv .detailReport .comment {
  background-color: #e6eff1;
  margin: 0 1em;
  border-radius: 20px 20px 0 0;
}

.detailReport .comment .reportInfoTab {
  /* padding: 1em; */
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
  border-radius: 20px 20px 0 0;
  background-color: #62a6ad;
}

.detailReport .comment .reportInfoTab input[type="radio"] {
  display: none;
}

.detailReport .comment .reportInfoTab > label {
  padding: 0.5em;
  cursor: pointer;
  background-color: #dddddd;
  padding: 10px 0;
  /* background-color:#406c92; */
}

.detailReport .comment .reportInfoTab > label:first-of-type {
  background-color: #62a6ad;
  border-top-left-radius: 14px;
  color: #fff;
}

.detailReport .comment .reportInfoTab > label:last-of-type {
  border-top-right-radius: 14px;
  border-bottom-left-radius: 20px;
  color: #5c5c5c;
}

.comment .tabDetail > div:last-of-type {
  padding: 1em;
  border-top-right-radius: 20px;
}

.tapLine,
.tapLineB {
  background-color: white;
  /* margin: 0.5em 1em; */
  margin: 0 1em;
  display: grid;
  grid-template-columns: 10% 15% 10% 35% 30%;
  font-size: 15px;
}

.tapLineB {
  grid-template-columns: 10% 15% 35% 40%;
}

#tabDetail2 > .tapLineB:first-of-type {
  background-color: #96cbd1;
  margin: 14px 1em 0 1em;
  border-radius: 10px 10px 0 0;
}

#tabDetail2 .tapLineBCenter {
  background-color: white;
  margin: 0 1em;
  text-align: center;
  padding: 0.5em;
  border-bottom: 0.5px solid #87c1c7;
}

.tapLine > div,
.tapLineB > div {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
  border-bottom: 0.5px solid #87c1c7;
}

.tapLineTitle {
  background-color: #96cbd1;
  border-radius: 10px 10px 0 0;
}

.readDiv {
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 14px 1em 18px 1em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(168 173 179 / 80%);
  font-size: 15px;
  /* box-shadow: 0 2px 5px rgb(206 217 219);
   font-size:15px;
   padding:1px 0; */
}

.readDiv > div {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 50% 50%;
}

.readDiv > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #332E85; */
  /* color: white; */
}

.readDiv label {
  display: flex;
  align-items: center;
}

.readDiv input {
  margin-right: 10px;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrap .setApprovalModal,
.modal-wrap .setModifyModal {
  background-color: #332e85;
  width: 20%;
  border-radius: 0.3em;
}

.modal-wrap .setModifyModal textarea,
.modal-wrap .setApprovalModal textarea {
  border: 1px solid black;
  height: 5em;
  overflow-y: scroll;
  resize: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  margin-left: 18px;
  line-height: 3;
  color: white;
}

.modal-body {
  padding: 1em;
  background-color: white;
}

.modal-wrap .setApprovalModal .modal-body .labelContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1em;
}

.modal-body input[type="text"] {
  width: 95%;
}

.close-wrap {
  text-align: right;
}

.close-wrap > button {
  margin: 0.3em 0.5em;
}

/*-------------------------------- 헤더 float 설정 초기화   */
button,
select,
input {
  margin: 0;
  float: none;
}
