@charset "UTF-8";


.container {
	position: relative;
	width: 100%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	display: inline-block;
	margin-top: 0.6%;
	overflow: hidden;
}

.container hr {
	float: left;
	height: 32px;
	border: 2px solid #456e95;
	margin: 0;
}


.container #containerTitle {
	font-weight: bolder;
	font-size: 15px;
	padding-left: 15px;
	line-height: 40px;
	color: #406c92;
	float: left;
}

.container .gridList {
	display: grid;
	width: 99%;
	margin: 0 auto;
}

.container .batchBtn {
	display: flex;
	align-items: right;
	justify-content: right;
	padding-right: 2em;
}



/*-------------------------------- 상세조회 페이지 상단 버튼  */

.listDiv .listPageDiv {
	display: grid;
}

.listDiv .gridHeader {
	border-bottom: 1px solid #425da8;
	background-color: #f2f5ff;
}


.listDiv .grid_default_body_item:nth-child(2n-1) {
	background-color: rgba(234, 239, 243, 0.4)
}
.listDiv .noListDefault {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
 }


.listPageDiv .detailReport .selectedReportview>div:first-child {
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	box-shadow: 0 0 5px rgb(0 0 0 / 10%);
	padding: 30px 20px 0 20px;
	clear: both;
	margin: 0 auto;

}

.listDiv .gridHeader,
.listDiv .gridContent {
	grid-template-columns: 10% 10% 10% 60% 10%;
}

.container .listPageDiv>div:first-of-type {
	text-align: right;
	font-size: 1rem;
	font-weight: 500;
}

.container .listPageDiv>div:last-of-type {
	margin-bottom: 2%;
}


.mainBtnDiv {
	display: flex;
	align-items: left;
	margin-bottom: 1em;
}

.mainBtnDiv button {
	margin: 0 1em 1em 0;
}

.mainBtnDiv button:hover {
	background-color: #EDEDF4;
	;
}

.listPageDiv .detailReport {
	display: grid;
	grid-template-columns: 65% 35%;
}






/*-------------------------------- 결재정보 변경이력 탭  */
.listPageDiv .detailReport .comment {
	background-color: #e6eff1;
	margin: 0 1em 0 1em;
	padding-bottom: 1em;
	border-radius: 20px 20px 0 0;
}

.detailReport .comment .reportInfoTab {
	padding: 0.5em;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-size: 15px;
	border-radius: 20px 20px 0 0;
	/* background-color: #62a6ad; */
	width: inherit;
}

.detailReport .comment .reportInfoTab input[type="radio"] {
	display: none;
}


.tabs {
	box-shadow: none;
}


.lineDiv {
	border-radius: 10px 10px 0 0;
	margin: 0 1em;
	box-shadow: 0 2px 5px rgb(168 173 179 / 80%);
}

.tapLine,
.tapLineB {
	background-color: white;
	/* margin: 0.5em 1em; */
	/* margin: 0 1em; */
	display: grid;
	grid-template-columns: 10% 15% 10% 35% 30%;
	font-size: 15px;
}

.tapLineB {
	grid-template-columns: 10% 15% 35% 40%;
}

#tabDetail2>.tapLineB:first-of-type {
	background-color: #DAD9FF;
	margin: 14px 1em 0 1em;
	border-radius: 10px 10px 0 0;
}


#tabDetail2 .tapLineBCenter {
	background-color: white;
	margin: 0 1em;
	text-align: center;
	padding: 0.5em;
	border-bottom: 0.5px solid #DAD9FF;
}

.tapLine>div,
.tapLineB>div {
	padding: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: none;
	border-bottom: 0.5px solid #DAD9FF;
}

.tapLineTitle {
	background-color: #DAD9FF;
	border-radius: 10px 10px 0 0;
}


.readDiv:first-of-type {
	display: grid;
	grid-template-columns: 20% 80%;
	margin: 14px 1em 18px 1em;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgb(168 173 179 / 80%);
	font-size: 15px;

}

.readDiv {
	display: grid;
	grid-template-columns: 20% 80%;
	margin: 14px 1em 18px 1em;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgb(168 173 179 / 80%);
	font-size: 15px;

}

.readDiv>div {
	padding: 0.5em;
	display: grid;
	grid-template-columns: 50% 50%;
}

.readDiv>div:first-of-type {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DAD9FF;
	border-radius: 10px 0 0 10px;

}

.readDiv label {
	display: flex;
	align-items: center;
}

.readDiv input {
	margin-right: 10px;
}



/* 모달관련  */
.modal-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.38);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.modal-wrap .setApprovalModal {
	background-color: #ffffff;
	width: 20%;
	border-radius: 0.3em;
}

.modal-wrap .setApprovalModal textarea {
	border: 1px solid black;
	height: 5em;
	overflow-y: scroll;
	resize: none;
}

.modal-title {
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: white;
}

.modal-body {
	padding: 1em;
	background-color: white;
}

.modal-wrap .setApprovalModal .modal-body .labelContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 1em;
}

.modal-body input[type="text"] {
	width: 95%;
}

.close-wrap {
	text-align: right;
}

.close-wrap>button {
	margin: 0.3em 0.5em;
}

/* 임시로 고정함  */
.detailReport {
	width: 1700px;
  }