@charset "UTF-8";

:root{
	--bodyGridContentChild-margin: 0.5%;
	--content-Margin-top:0.6%;
	--content-title-font-size:15px;
	--content-title-font-weight:bolder;
	--content-title-hr:2px solid #182f81;
	--content-title-hr-height:32px;
	--content-title-line-height:40px;
	--inContent-margin-top:8px;
	--inContent-width:98%;
}

#bodyContents #widgetContainer{
	display: grid;
	/* 레이아웃 수정 2024.01.08 이용호 */
	/* grid-template-columns: repeat(6, 1fr); */
	grid-template-columns: repeat(7, 1fr);
	column-gap:3px;
	row-gap:3px;
	min-width: 2100px;
}

/* 월간 유지보수 실적 차트 css 변경 2024.01.08 이용호 */
#widgetContainer > #chart_body:nth-child(2) > .chart_container {
	padding-right: 40px!important;
}

#widgetContainer > div{
	margin-bottom: var(--rootContainer-marginLeft);
	background: #FFFFFF;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	/* height: 500px; */
	padding-bottom:16px;
}

#widgetContainer > div > hr{
	float: left;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#widgetContainer > div > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
	font-family: 'NanumSquareRound';
}

/* #widgetContainer > div:nth-child(1),
#widgetContainer > div:nth-child(2){
	width: 70%;
} */

#widgetContainer > div:nth-child(2) > div > canvas{
	/* padding-right: 15px; */
	width: 100%!important;
    height: 100%!important;
    max-height: 493px!important;
}

.chart_container{
	padding-left: 10px;
	padding-right: 10px;
}

.chart_container > #chart_0 {
	width: 100%;
	height: 100%;
}

.chartInfo{
	text-align: right;
	padding: 10px;
	background-color: #eaedf3;
	color: #253340;
	font-size: 0.9rem;
	border-radius: 14px;
	line-height:23px;
}

/* 메인 공지사항 시작*/
#notice_body .notice_container{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
	overflow:hidden;
	overflow-y:auto;
}

#notice_body .notice_container::-webkit-scrollbar{display: none;}
#notice_body .notice_container:hover::-webkit-scrollbar{display: block;}

#notice_body .notice_container .gridHeader{
    grid-template-columns: 15% 70% 15%;
	font-family: 'NanumSquareRound';
	background-color:#f2f2ff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom:1px solid #3e3e9e;
	position:sticky;
	top:0;
}

#notice_body .notice_container .gridContent{
	grid-template-columns: 15% 70% 15%;
}
/* 메인 공지사항 끝 */

/* 메인 schedule 일정 시작 */
#schedule_body .schedule_container{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
	overflow:hidden;
	overflow-y: auto;
}

#schedule_body .schedule_container::-webkit-scrollbar{display:none;}
#schedule_body .schedule_container:hover::-webkit-scrollbar{display: block;}

#schedule_body .schedule_container .gridHeader{
    grid-template-columns: 10% 15% 10% 20% 30% 15%;
	font-family: 'NanumSquareRound';
	background-color:#f2f2ff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom:1px solid #3e3e9e;
	position:sticky;
	top:0;
    /* grid-template-columns: 10% 10% 16% 28% 12% 20%;*/
}

#schedule_body .schedule_container .gridContent{
	grid-template-columns: 10% 15% 10% 20% 30% 15%;
}
/* 메인 schedule 일정 끝 */

/* 메인 sales 일정 시작 */
/* #bodySales{
	height: 478px;
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	grid-column: span 2;
}

#bodySales > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodySales > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodySales .gridSalesList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodySales .gridSalesList .gridHeader{
	border-bottom:1px solid #182f81;
    grid-template-columns: 10% 10% 16% 28% 12% 20%;
}

#bodySales .gridSalesList .gridContent{
	grid-template-columns: 10% 10% 20% 22% 12% 22%;
} */
/* 메인 sales 일정 끝 */

/* 메인 tech 일정 시작 */
/* #bodyTech{
	height: 478px;
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	grid-column: span 2;
}

#bodyTech > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyTech > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyTech .gridTechList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodyTech .gridTechList .gridHeader{
	border-bottom:1px solid #182f81;
    grid-template-columns: 10% 10% 16% 28% 12% 20%;
}

#bodyTech .gridTechList .gridContent{
	grid-template-columns: 10% 10% 20% 22% 12% 22%;
} */
/* 메인 tech 일정 끝 */

/* 메인 영업기회 시작 */
#sopp_body .sopp_container{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
	overflow:hidden;
	overflow-y: auto;
}

#sopp_body .sopp_container::-webkit-scrollbar{display:none;}
#sopp_body .sopp_container:hover::-webkit-scrollbar{display:block;}

#sopp_body .sopp_container .gridHeader{
    grid-template-columns: 5% 40% 5% 5% 5% 10% 10% 10% 10%;
	background-color:#f2f2ff;
	font-family: 'NanumSquareRound';
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom:1px solid #3e3e9e;
	position:sticky;
	top:0;
    /* grid-template-columns: 7% 7% 7% 37% 7% 7% 7% 7% 7% 7%; */
}

#sopp_body .sopp_container .gridContent{
	grid-template-columns: 5% 40% 5% 5% 5% 10% 10% 10% 10%;
}
/* 메인 영업기회 끝 */

/* 메인 계약조회 시작 */
#contract_body .contract_container{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
	overflow:hidden;
	overflow-y: auto;
}

#contract_body .contract_container::-webkit-scrollbar {	display: none;}
#contract_body .contract_container:hover::-webkit-scrollbar {display:block;}

#contract_body .contract_container .gridHeader{
    grid-template-columns: 5% 10% 40% 5% 5% 5% 10% 8% 8% 4%;
	background-color:#f2f2ff;
	font-family: 'NanumSquareRound';
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom:1px solid #3e3e9e;
	position:sticky;
	top:0;
    /* grid-template-columns: 7% 7% 7% 24% 12% 7% 7% 7% 7% 7% 7%; */
}

#contract_body .contract_container .gridHeader::-webkit-scrollbar{display:none;}
#contract_body .contract_container .gridHeader:hover::-webkit-scrollbar{display:block;}

#contract_body .contract_container .gridContent{
	grid-template-columns: 5% 10% 40% 5% 5% 5% 10% 8% 8% 4%;
}
/* 메인 계약조회 끝 */

.gridContent:nth-child(2n-1){background-color:#f9f9fb;}

/*스크롤*/
::-webkit-scrollbar {
	width: 0.6em;
	height:0.6em;
  }
  
  ::-webkit-scrollbar-track {
	background: rgb(207 212 217);
	border-radius: 100vw;
	margin-block: 0.5em;
  }
  
  ::-webkit-scrollbar-thumb {
	background: rgb(125 134 161);
	border-radius: 100vw;
	border: 0.1em solid rgb(207 212 217);
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(100, 109, 137);
  }