@charset "UTF-8";

:root{
	--bodyGridContentChild-margin: 0.3%;
	--content-Margin-top:0.6%;
	--content-title-font-size:15px;
	--content-title-font-weight:bolder;
	--content-title-hr:2px solid #182f81;
	--content-title-hr-height:32px;
	--content-title-line-height:40px;
	--inContent-margin-top:6px;
	--inContent-width:98%;
}

#bodyContents #bodyContent{
	display: grid;
	grid-template-columns: 45% 17% 17% 21%;
	column-gap:0.7%;
	row-gap:1.2%;
}

/* 메인 차트 시작 */
#bodyContent #bodyChart_1{
	height: 478px;
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

#bodyContent #bodyChart_1 > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodyChart_1 > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyChart_2{
	height: 478px;
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

#bodyContent #bodyChart_2 > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodyChart_2 > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyChart_2 .chartContentContainer #chartContentInfo{
	text-align: right;
	padding: 10px;
	background-color: #eaedf3;
	color: #253340;
	font-size: 14px;
	border-radius: 14px;
	line-height:23px;
}

#bodyContent #bodyChart_3{
	height: 478px;
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

#bodyContent #bodyChart_3 > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodyChart_3 > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyChart_3 .chartContentContainer #chartContentInfo{
	text-align: right;
	padding: 10px;
	background-color: #eaedf3;
	color: #253340;
	font-size: 14px;
	line-height: 23px;
	border-radius: 14px;
}

#bodyContent #bodyChart_4{
	height: 478px;
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

#bodyContent #bodyChart_4 > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodyChart_4 > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

.chartContentContainer{
	padding-left: 10px;
	padding-right: 10px;
}

.chartContentContainer > canvas{
	width: 98% !important;
}
/* 메인 차트 끝 */

/* 메인 공지사항 시작*/
#bodyContent #bodyNotice{
	height: 478px;
	/* margin-left: 1.5%; */
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	grid-column: span 2;
}

#bodyContent #bodyNotice > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodyNotice > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyNotice .gridNoticeList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodyContent #bodyNotice .gridNoticeList .gridHeader{
    grid-template-columns: 15% 55% 15% 15%;
	border-bottom:1px solid #182f81;
}

#bodyContent #bodyNotice .gridNoticeList .gridContent{
	grid-template-columns: 15% 55% 15% 15%;
}
/* 메인 공지사항 끝 */

/* 메인 schedule 일정 시작 */
#bodyContent #bodySched{
	height: 478px;
	/* margin-left: 1.5%; */
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	grid-column: span 2;
}

#bodyContent #bodySched > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodySched > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodySched .gridScheduleList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodyContent #bodySched .gridScheduleList .gridHeader{
	border-bottom:1px solid #182f81;
    grid-template-columns: 10% 10% 16% 28% 12% 20%;
}

#bodyContent #bodySched .gridScheduleList .gridContent{
	grid-template-columns: 10% 10% 20% 22% 12% 22%;
}
/* 메인 schedule 일정 끝 */

/* 메인 sales 일정 시작 */
#bodyContent #bodySales{
	height: 478px;
	/* margin-left: 1.5%; */
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	grid-column: span 2;
}

#bodyContent #bodySales > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodySales > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodySales .gridSalesList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodyContent #bodySales .gridSalesList .gridHeader{
	border-bottom:1px solid #182f81;
    grid-template-columns: 10% 10% 16% 28% 12% 20%;
}

#bodyContent #bodySales .gridSalesList .gridContent{
	grid-template-columns: 10% 10% 20% 22% 12% 22%;
}
/* 메인 sales 일정 끝 */

/* 메인 tech 일정 시작 */
#bodyContent #bodyTech{
	height: 478px;
	/* margin-left: 1.5%; */
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	grid-column: span 2;
}

#bodyContent #bodyTech > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodyTech > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyTech .gridTechList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodyContent #bodyTech .gridTechList .gridHeader{
	border-bottom:1px solid #182f81;
    grid-template-columns: 10% 10% 16% 28% 12% 20%;
}

#bodyContent #bodyTech .gridTechList .gridContent{
	grid-template-columns: 10% 10% 20% 22% 12% 22%;
}
/* 메인 tech 일정 끝 */

/* 메인 영업기회 시작 */
#bodyContent #bodySopp{
	height: 478px;
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	grid-column: span 4;
} 

#bodyContent #bodySopp > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodySopp > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 18px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodySopp .gridSoppList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodyContent #bodySopp .gridSoppList .gridHeader{
	border-bottom:1px solid #182f81;
    grid-template-columns: 7% 7% 7% 37% 7% 7% 7% 7% 7% 7%;
}

#bodyContent #bodySopp .gridSoppList .gridContent{
	grid-template-columns: 7% 7% 7% 37% 7% 7% 7% 7% 7% 7%;
}
/* 메인 영업기회 끝 */

/* 메인 계약조회 시작 */
#bodyContent #bodyContract{
	height: 478px;
	margin-bottom: var(--bodyGridContentChild-margin);
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	grid-column: span 4;
} 

#bodyContent #bodyContract > hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
	background-color: #332E85;
}

#bodyContent #bodyContract > span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 18px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyContract .gridContractList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodyContent #bodyContract .gridContractList .gridHeader{
	border-bottom:1px solid #182f81;
    grid-template-columns: 7% 7% 7% 24% 12% 7% 7% 7% 7% 7% 7%;
}

#bodyContent #bodyContract .gridContractList .gridContent{
	grid-template-columns: 7% 7% 7% 24% 12% 7% 7% 7% 7% 7% 7%;
}
/* 메인 계약조회 끝 */

.gridContent:nth-child(2n-1){background-color:#f9f9fb;}

/* 메시징 컨테이너 시작 */
.msg_cnt{
	position:fixed;
	bottom:0;
	right:5%;
	width:400px;
}
.msg_cnt .each_msg{
	position:relative;
	margin:7px 0;
	background-color: #c0c0c080;
	border-radius: 10px;
}
.msg_cnt .each_msg > .cls_btn{
	position:absolute;
	top:0;
	right:0;
	border:2px solid white;
	border-radius: 50%;
	background-color: #65656580;
	text-align:center;
	font-size:12px;
	width:20px;
	height:20px;
	color:white;
	cursor:pointer;
	font-weight: bold;
}
.msg_cnt .each_msg > .msg_content{
	text-overflow: ellipsis;
    padding: 10px 0;
    margin: 0 20px 0 10px;
}
/* 메시징 컨테이너 끝 */

/*스크롤*/
::-webkit-scrollbar {
	width: 0.6em;
	height:0.6em;
  }
  
  ::-webkit-scrollbar-track {
	background: rgb(207 212 217);
	border-radius: 100vw;
	margin-block: 0.5em;
  }
  
  ::-webkit-scrollbar-thumb {
	background: rgb(125 134 161);
	border-radius: 100vw;
	border: 0.1em solid rgb(207 212 217);
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(100, 109, 137);
  }