@charset "UTF-8";

:root{
	--bodyGridContentChild-margin: 0.3%;
	--content-Margin-top:0.6%;
	--content-title-font-size:15px;
	--content-title-font-weight:bolder;
	--content-title-hr:2px solid #E45050;
	--content-title-hr-height:32px;
	--content-title-line-height:40px;
	--inContent-margin-top:6px;
	--inContent-width:98%;
}

/* 메인 공지사항 시작*/
#bodyContent #bodyGridContent #bodyNotice{
	float:left;
	width: calc(50% - var(--bodyGridContentChild-margin));
	height: 478px;
	margin-right:var(--bodyGridContentChild-margin);
	/*margin-left: 1.5%;
	margin-bottom: 2%;*/
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

#bodyContent #bodyGridContent #bodyNotice hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
}

#bodyContent #bodyGridContent #bodyNotice span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 15px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyGridContent #bodyNotice .gridNoticeList{
	display: grid;
	width:var(--inContent-width);
	margin: 0 auto;
	margin-top: var(--inContent-margin-top);
}

#bodyContent #bodyGridContent #bodyNotice .gridNoticeList .gridHeader{
    grid-template-columns: 15% 55% 15% 15%;
}

#bodyContent #bodyGridContent #bodyNotice .gridNoticeList .gridContent{
	grid-template-columns: 15% 55% 15% 15%;
}
/* 메인 공지사항 끝 */

#bodyContent #bodyGridContent #bodySched{
	float:left;
	width:calc(50% - var(--bodyGridContentChild-margin));
	margin-left:var(--bodyGridContentChild-margin);
	height: 478px;
	/*margin-left: 1.5%;
	margin-bottom: 2%;*/
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

#bodyContent #bodyGridContent #bodySched hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
 	border : var(--content-title-hr);
	height:var(--content-title-hr-height);
 	margin: 0;
}

#bodyContent #bodyGridContent #bodySched span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 18px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyGridContent #bodySched .gridScheduleList{
	display: grid; 
	width:var(--inContent-width); 
	margin: 0 auto;
	margin-top: 6px;
}

#bodyContent #bodyGridContent #bodySched .gridScheduleList .gridHeader{
    grid-template-columns: 10% 10% 15% 10% 10% 10% 10% 10% 15%;
	font-size:14px;
	border-bottom:2px solid #abb6d5;
	/* background-color:#e9e9f2; */
}

#bodyContent #bodyGridContent #bodySched .gridScheduleList .gridContent{
	grid-template-columns: 10% 10% 15% 10% 10% 10% 10% 10% 15%;
}

.gridContent:nth-child(2n-1){background-color:#F7F7F9;}

/* 메인 일정관리 시작*/
/* #bodyContent #bodyGridContent #bodySched{
	float:left;
	width: 47%;
	height: 478px;
	margin-left: 2%;
	margin-bottom: 2%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
} 

#bodyContent #bodyGridContent #bodySched hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
 	height : 44px;
 	width: 4px;
 	margin: 0;
}

#bodyContent #bodyGridContent #bodySched span{
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}

#bodyContent #bodyGridContent #bodySched #schedTableDiv{
	margin-top: 15px;
	width: auto;
	padding: 10px 10px;
}

#bodyContent #bodyGridContent #bodySched #schedTableDiv table{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

#bodyContent #bodyGridContent #bodySched #schedTableDiv table thead tr th{
	color: #332E85;
	border: 1px solid #D9D9D9;
	height: 38px;
	font-weight: 500;
}

#bodyContent #bodyGridContent #bodySched #schedTableDiv table tbody tr td{
	text-align: center;
	border: 1px solid #D9D9D9;	
	height: 38px;
}

#bodyContent #bodyGridContent #bodySched #schedTableDiv table thead tr #schedTitle{
	text-align: left;
	padding: 0 20px;
}

#bodyContent #bodyGridContent #bodySched #schedTableDiv table tbody tr #schedTitle{
	text-align: left;
	padding: 0 20px;
} */
/* 메인 일정관리 끝 */

/* 메인 나의문서 시작 */
#bodyContent #bodyGridContent #bodyMyDoc{
	float:left;
	width: calc(50% - var(--bodyGridContentChild-margin));
	margin-right: var(--bodyGridContentChild-margin);
	margin-top:var(--content-Margin-top);
	height: 478px;
	/*margin-left: 1.5%;
	margin-bottom: 2%;*/
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
} 

#bodyContent #bodyGridContent #bodyMyDoc hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
 	height : var(--content-title-hr-height);
 	margin: 0;
}

#bodyContent #bodyGridContent #bodyMyDoc span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 18px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyGridContent #bodyMyDoc #myDocTableDiv{
	margin-top: var(--inContent-margin-top);
	width: auto;
	padding: 10px 10px;
}

#bodyContent #bodyGridContent #bodyMyDoc #myDocTableDiv table{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

#bodyContent #bodyGridContent #bodyMyDoc #myDocTableDiv table thead tr th{
	color: #332E85;
	border: 1px solid #D9D9D9;
	height: 38px;
	font-weight: 500;
}

#bodyContent #bodyGridContent #bodyMyDoc #myDocTableDiv table tbody tr td{
	text-align: center;
	border: 1px solid #D9D9D9;	
	height: 38px;
}

#bodyContent #bodyGridContent #bodyMyDoc #myDocTableDiv table thead tr #myDocTitle{
	text-align: left;
	padding: 0 20px;
}

#bodyContent #bodyGridContent #bodyMyDoc #myDocTableDiv table tbody tr #myDocTitle{
	text-align: left;
	padding: 0 20px;
}
/* 메인 나의 문서함 끝 */

/* 메인 결재함 시작 */
#bodyContent #bodyGridContent #bodyDocList{
	float:left;
	width: 47%;
	height: 478px;
	margin-left: 2%;
	margin-bottom: 2%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
} 

#bodyContent #bodyGridContent #bodyDocList hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
 	height : 44px;
 	width: 4px;
 	margin: 0;
}

#bodyContent #bodyGridContent #bodyDocList span{
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyGridContent #bodyDocList #docListTableDiv{
	margin-top: 15px;
	width: auto;
	padding: 10px 10px;
}

#bodyContent #bodyGridContent #bodyDocList #docListTableDiv table{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

#bodyContent #bodyGridContent #bodyDocList #docListTableDiv table thead tr th{
	color: #332E85;
	border: 1px solid #D9D9D9;
	height: 38px;
	font-weight: 500;
}

#bodyContent #bodyGridContent #bodyDocList #docListTableDiv table tbody tr td{
	text-align: center;
	border: 1px solid #D9D9D9;	
	height: 38px;
}

#bodyContent #bodyGridContent #bodyDocList #docListTableDiv table thead tr #docListTitle{
	text-align: left;
	padding: 0 20px;
}

#bodyContent #bodyGridContent #bodyDocList #docListTableDiv table tbody tr #docListTitle{
	text-align: left;
	padding: 0 20px;
}
/* 메인 결재함 끝 */

/* 메인 근태조회 시작 */
#bodyContent #bodyGridContent #bodyAtt{
	float:left;
	width: calc(50% - var(--bodyGridContentChild-margin));
	margin-left:var(--bodyGridContentChild-margin);
	margin-top:var(--content-Margin-top);
	height: 478px;
	/*margin-left: 2%;
	margin-bottom: 2%;*/
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
} 

#bodyContent #bodyGridContent #bodyAtt hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
 	height : var(--content-title-hr-height);
 	margin: 0;
}

#bodyContent #bodyGridContent #bodyAtt span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 18px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyGridContent #bodyAtt #attTableDiv{
	margin-top: var(--inContent-margin-top);
	width: auto;
	padding: 10px 10px;
}

#bodyContent #bodyGridContent #bodyAtt #attTableDiv table{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

#bodyContent #bodyGridContent #bodyAtt #attTableDiv table thead tr th{
	color: #332E85;
	border: 1px solid #D9D9D9;
	height: 38px;
	font-weight: 500;
}

#bodyContent #bodyGridContent #bodyAtt #attTableDiv table tbody tr td{
	text-align: center;
	border: 1px solid #D9D9D9;	
	height: 38px;
}

#bodyContent #bodyGridContent #bodyAtt #attTableDiv table thead tr #attTitle{
	text-align: left;
	padding: 0 20px;
}

#bodyContent #bodyGridContent #bodyAtt #attTableDiv table tbody tr #attTitle{
	text-align: left;
	padding: 0 20px;
}
/* 메인 근태조회 끝 */

/* 메인 계약조회 시작 */
#bodyContent #bodyGridContent #bodyCont{
	float:left;
	width: 100%;
	height: 478px;
	margin-top: var(--content-Margin-top);
	/*margin-left: 2%;
	margin-bottom: 2%;*/
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
} 

#bodyContent #bodyGridContent #bodyCont hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	border:var(--content-title-hr);
 	height : var(--content-title-hr-height);
 	margin: 0;
}

#bodyContent #bodyGridContent #bodyCont span{
	font-weight: var(--content-title-font-weight);
	font-size: var(--content-title-font-size);
	margin-left: 18px;
	line-height: var(--content-title-line-height);
	color: #332E85;
}

#bodyContent #bodyGridContent #bodyCont #contTableDiv{
	margin-top: var(--inContent-margin-top);
	width: auto;
	padding: 10px 10px;
}

#bodyContent #bodyGridContent #bodyCont #contTableDiv table{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

#bodyContent #bodyGridContent #bodyCont #contTableDiv table thead tr th{
	color: #332E85;
	border: 1px solid #D9D9D9;
	height: 38px;
	font-weight: 500;
}

#bodyContent #bodyGridContent #bodyCont #contTableDiv table tbody tr td{
	text-align: center;
	border: 1px solid #D9D9D9;	
	height: 38px;
}

#bodyContent #bodyGridContent #bodyCont #contTableDiv table thead tr #contTitle{
	text-align: left;
	padding: 0 20px;
}

#bodyContent #bodyGridContent #bodyCont #contTableDiv table tbody tr #contTitle{
	text-align: left;
	padding: 0 20px;
}
/* 메인 계약조회 끝 */

/* 메시징 컨테이너 시작 */
.msg_cnt{
	position:fixed;
	bottom:0;
	right:5%;
	width:400px;
}
.msg_cnt .each_msg{
	position:relative;
	margin:7px 0;
	background-color: #c0c0c080;
	border-radius: 10px;
}
.msg_cnt .each_msg > .cls_btn{
	position:absolute;
	top:0;
	right:0;
	border:2px solid white;
	border-radius: 50%;
	background-color: #65656580;
	text-align:center;
	font-size:12px;
	width:20px;
	height:20px;
	color:white;
	cursor:pointer;
	font-weight: bold;
}
.msg_cnt .each_msg > .msg_content{
	text-overflow: ellipsis;
    padding: 10px 0;
    margin: 0 20px 0 10px;
}
/* 메시징 컨테이너 끝 */