.customerContainer {
	margin-top: 3px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.customerContainer > hr {
	float: left;
	border:2px solid #182f81;
	height: 32px;
	margin: 0;
}

.customerContainer > #containerTitle {
	font-weight: 600;
    font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #182f81;
	float: left;
}

.gridList {
	display: grid;
	width: 99%;
	margin: 0 auto;
}

.gridList .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.gridList .gridHeader,
.gridList .gridContent {
	grid-template-columns: repeat(3, 1fr);
}

.customerTabSalesList{
	display: grid;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
}

.customerTabSalesList .gridHeader,
.customerTabSalesList .gridContent{
	grid-template-columns: 10% 30% 50% 10%;
}

.customerTabContractList{
	display: grid;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
}

.customerTabContractList .gridHeader,
.customerTabContractList .gridContent{
	grid-template-columns: 10% 30% 50% 10%;
}

.customerTabTechList{
	display: grid;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
}

.customerTabTechList .gridHeader,
.customerTabTechList .gridContent{
	grid-template-columns: 10% 30% 50% 10%;
}
