@charset "UTF-8";
.searchContainer > .searchMultiContent > .searchDate > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer > .searchMultiContent > .searchDate > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.soppContainer{
    margin-top: 3px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.soppContainer > hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.soppContainer > #containerTitle {
	font-weight: 600;
    font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
	float: left;
}

.soppContainer > .gridList{
    display: block; 
	width: 99%; 
	/* height: auto; */
	margin: 0 auto;
}

.soppContainer > .gridList > .gridHeader,
.soppContainer > .gridList > .gridContent{
    grid-template-columns: 5% 5% 5% 25% 10% 10% 15% 5% 7.5% 7.5% 5%;
}

.soppContainer > .gridList > .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.soppContainer > button{
	margin:0.4% 0.5% 0 0;
	box-shadow:0px 1px 2px #bdbfc9;
	color:#ebefff;
	background-color:#182f81;
	padding:0 0.7%;
	height:30px;
	border-radius:5px;
	float: right;
}

.soppContainer > #tabFileUpload{
    display: none; 
	width: 99%; 
	/* height: auto; */
	margin: 0 auto;
	padding-top: 10px;
    padding-bottom: 10px;
}

.soppContainer > #tabFileUpload > .fileUploadButtons{
	display: flex;
    align-items: center;
	justify-content: right;
}

.soppContainer > #tabFileUpload > .fileUploadButtons > button{
	width: 5%;
    color: #ffffff;
    border-radius: 5px;
    height: 2.5vh;
    margin-right: 5px;
}

.soppContainer > #tabFileUpload > .fileUploadButtons > button:nth-child(1){
	background-color: #50AF49;
    margin-right: 5px;
}

.soppContainer > #tabFileUpload > .fileUploadButtons > button:nth-child(2){
	background-color: #F15F5F;
}

.soppContainer > #tabFileUpload > .gridHeader,
.soppContainer > #tabFileUpload > .gridContent{
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.soppContainer > #tabFileUpload > .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.soppContainer > #tabTech{
    display: none; 
	width: 99%; 
	/* height: auto; */
	margin: 0 auto;
	padding-top: 10px;
    padding-bottom: 10px;
}

.soppContainer > #tabTech > .gridHeader,
.soppContainer > #tabTech > .gridContent{
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.soppContainer > #tabTech > .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.soppContainer > #tabSales{
    display: none; 
	width: 99%; 
	/* height: auto; */
	margin: 0 auto;
	padding-top: 10px;
    padding-bottom: 10px;
}

.soppContainer > #tabSales > .gridHeader,
.soppContainer > #tabSales > .gridContent{
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.soppContainer > #tabSales > .gridHeader{
	border-bottom:1px solid #abb6d5;
}

/* .defaultFormContainer .defaultFormLine:first-child{
	border-top: 0;
} */