@charset "UTF-8";
.soppSearchContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: 2%; */
	margin-bottom: 1%;
	/* max-width: 1782px; */
	height: 30px;
	padding:2% 0;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.soppSearchContainer .soppSearchSelect{
	margin-right: 1%;
}

.soppSearchContainer .soppSearchSelect select{
	color: #182f81;
	padding:0 8px;
	border-radius: 5px;
	font-size: 0.9375rem;
	font-weight: 500;
	border: 0;
	height:30px;
	box-shadow: 0px 1px 2px #b1b1c5;
	background-color: #ebefff;
}

/* .soppSearchContainer .soppSearchSelect select:hover{
	border: 1px solid#332E85;
} */

.soppSearchContainer .soppSearchText{
	margin: -0.35% 1% 0 0;
}

.soppSearchContainer .soppSearchText input{
	padding: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	width: 500px;
	border: 0;
	border-bottom:2px solid #c1cae9;
	background-color: #fff;
	border-radius: 0;
}

.soppSearchContainer .soppSearchText input:hover{
	border: 1px solid#332E85;
}

.soppSearchContainer .soppSearchBtn button{
	color: #ebefff;
	box-shadow: 0 1px 1px #bdbfc9;
	margin:1% 0.5% 0 0;
	background-color:#182f81;
	padding:0 14px;
	height:30px;
	border-radius: 5px;
}

.soppContainer > button,
.soppContainer > .detailBtns > button{
	color: #ebefff;
	box-shadow: 0 1px 1px #bdbfc9;
	background-color:#182f81;
	padding:0 14px;
	height:30px;
	border-radius: 5px;
}

.soppContainer > button:hover,
.soppContainer > .detailBtns > button:hover{
	color: #182f81;
	box-shadow: 0 1px 2px #bdbfc9;
	background-color:#ebefff;
}

.soppSearchContainer .soppSearchBtn button img{
	width:18px;
}

.soppSearchContainer .soppSearchBtn button:hover{
	cursor: pointer;
}

.soppContainer{
	margin-top: 1%;
	/* margin-left: 2%;
	max-width: 1782px; */
	background: #FFFFFF;
	overflow: hidden;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.soppContainer hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.soppContainer span:not(.calendarSpan){
	font-weight: bolder;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
}

.soppContainer .gridSoppList{
    display: grid; 
	width: 99%; 
	margin: 0 auto;
}

.soppContainer .gridSoppList .gridHeader,
.soppContainer .gridSoppList .gridContent{
    grid-template-columns: 7% 7% 7% 37% 7% 7% 7% 7% 7% 7%;
}

.soppContainer .gridSoppList .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.soppContainer .pageContainer{
	box-sizing: border-box;
	margin:20px 0.5% 20px 0.5%;
}

.soppContainer .pageContainer .paging_cell_current{
	color:#182f81;
	border:1px solid #182f81;
	background-color:#ebefff;
}
