@charset "UTF-8";

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

input, button, span{
    font-family: 'Noto Sans KR', sans-serif;
}

body{margin:0 auto;}

#loginContents{
	overflow: hidden;
}

#loginContents #loginContent{
    float:right;
    width: 55%;
    height: 100%;
    background-color: #ffffff;
}

#loginContents #loginContent #loginForm{
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-64%);
    display:inline-block;
}

#loginContents #loginContent #loginForm #loginLogoImgDiv{
	position: relative;
    text-align: center;
}

#loginContents #loginContent #loginForm #loginLogoImgDiv #loginLogoImg{
    width: 180px;
}

#loginContents #loginContent #loginForm #loginInput{
    margin-top: 48px;
}

#loginContents #loginContent #loginForm #loginInput input{
    width:400px;
    height: 52px;
    border: 1px solid #BDBDBD;
    background: #FAFAFA;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    padding: 0 16px;
    border-radius: 8px;
}

#loginContents #loginContent #loginForm #loginInput input:not(:last-child){
    margin-bottom: 14px;
}

#loginContents #loginContent #loginForm #loginInput input:not(:last-child):hover{
    border: 1px solid #5858B7;
}

#loginContents #loginContent #loginForm #loginInput input:last-child:hover{
    border: 1px solid #5858B7;
}

#loginContents #loginContent #loginForm #loginSessionDiv{
    width: 100%;
    text-align: left;
    margin:10px 0 36px 0;
}

#loginContents #loginContent #loginForm #loginSessionDiv #loginSessionBtn.active{
    width:21px;
    vertical-align: bottom;
    content: url("../../images/login/loginSessionActive.png");
}

#loginContents #loginContent #loginForm #loginSessionDiv #loginSessionBtn:not(.active){
    width:21px;
    vertical-align: bottom;
}

#loginContents #loginContent #loginForm #loginSessionDiv #loginSessionSpan{
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #9E9E9E;
}

#loginContents #loginContent #loginForm #loginMsg{
    font-weight: 400;
    font-size: 16px;
    color: #8d90ff;
    height: 50px;
    box-sizing: border-box;
    padding:12px 0 10px 0;
    text-align:center;
    text-overflow: ellipsis;
    display: none;
}

#loginContents #loginContent #loginForm #loginBtns button{
    width: 100%;
    height: 52px;
    margin:0 auto;
    display:inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    background-color: #332D83;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
}

#loginContents #loginIntroduce{
    float:left;
    width: 45%;
    height: 100%;
    background-image: url("../../images/login/loginBackground.jpg");
    background-size: cover;
}

#loginContents #loginIntroduce #loginSpans{
    position: relative;
    text-align: center;
    top: 23.5%;
}

#loginContents #loginIntroduce #loginSpans #loginIntroSpan_1{
    font-weight: 300;
    font-size: calc(1em + 2vw);
    line-height: 70px;
    color: #FFFFFF;
}

#loginContents #loginIntroduce #loginSpans #loginIntroSpan_2{
    font-weight: 700;
    font-size: calc(1em + 2vw);
    line-height: 70px;
    color: #FFFFFF;
}

#loginContents #loginIntroduce #loginIntroImgDiv{
    position: relative;
    text-align: center;
    top: 26%;
}

#loginContents #loginIntroduce #loginIntroImgDiv #loginIntroImg{
    width: 73%;
}

@media(max-width: 1439px){
    #loginContents #loginIntroduce{display: none;}
    #loginContents #loginContent{
        width:100%;
        background-image: url(../../images/login/loginBackground.jpg);
        background-size: cover;
    }
    #loginContents #loginContent #loginForm{
        transform: translate(-50%, -50%);
        background-color:#fff;
        padding:80px 40px;
        border-radius:16px;
    }

    #loginContents #loginContent #loginForm #loginInput input{
        margin-bottom: 0;
        width:400px;
    }

    #loginContents #loginContent #loginForm #loginInput input:not(:last-child){
        border-bottom:0;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
    }

    #loginContents #loginContent #loginForm #loginInput input:last-child{
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-bottom: 0;
    }

    #loginContents #loginContent #loginForm #loginInput input:not(:last-child):hover{
        margin-bottom: 0;
    }

    #loginContents #loginContent #loginForm #loginMsg{display: none;}

    #loginContents #loginContent #loginForm #loginSessionDiv{margin:8px 0 36px 0;}

    #loginContents #loginContent #loginForm #loginSessionDiv #loginSessionSpan{
        font-size: 14px;
        margin-left:0;
    }

    #loginContents #loginContent #loginForm #loginBtns button{
        width:400px;
        border-radius: 8px;
    }
}
/*화면크기 1439+ end*/

@media(max-width: 600px){
    #loginContent{padding:0 16px; box-sizing: border-box;}

    #loginContents #loginContent #loginForm #loginLogoImgDiv #loginLogoImg{
        width:170px; height:auto;
    }

    #loginContents #loginContent #loginForm{
        width:70%;
        padding:70px 30px;
    }

    #loginContents #loginContent #loginForm #loginInput{
        margin-top:40px;
    }

    #loginContents #loginContent #loginForm #loginInput input{
        width:100%;
        height:48px;
        font-size: 15px;
    }

    #loginContents #loginContent #loginForm #loginBtns button{
        width:100%;
        font-size: 16px;
    }

    #loginContents #loginIntroduce{display: none;}
    #loginContents #loginContent{
        width:100%;
        background-image: url(../../images/login/loginBackground.jpg);
        background-size: cover;
    }
    #loginContents #loginContent #loginForm{
        transform: translate(-50%, -50%);
        background-color:#fff;
        padding:80px 40px;
        border-radius:16px;
    }
}
/*화면크기 600- end*/