@charset "UTF-8";

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

input, button, span{
    font-family: 'Noto Sans KR', sans-serif;
}

body{margin:0 auto;}

#loginContents{
	overflow: hidden;
}

#loginContents #loginContent{
    /* float: left; */
    float:right;
    width: 55%;
    height: 100%;
    background-color: #ffffff;
}

@media(max-width: 1500px){
	#loginContents #loginContent #loginForm{
	    left: 10% !important;
	}
}

#loginContents #loginContent #loginForm{
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-64%);
    display:inline-block;

}

@media(max-width: 700px){
	#loginContents #loginContent #loginForm #loginLogoImgDiv{
		left: 5% !important;
	}
}

#loginContents #loginContent #loginForm #loginLogoImgDiv{
	position: relative;
	/* left: 15%; */
    text-align: center;
}

#loginContents #loginContent #loginForm #loginLogoImgDiv #loginLogoImg{
    width: 218px;
    height: 50px;
}

#loginContents #loginContent #loginForm #loginInput{
    margin-top: 48px;
}

@media(max-width: 1280px){
	#loginContents #loginContent #loginForm #loginInput input:not(:last-child){
	    width: 80% !important;
	}
}

#loginContents #loginContent #loginForm #loginInput input:not(:last-child){
    margin-bottom: 36px;
    width: 520px;
    height: 56px;
    background: #F5F6F8;
    border: 1px solid #C1C1C1;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding: 0 26px;
}

@media(max-width: 1280px){
	#loginContents #loginContent #loginForm #loginInput input:last-child{
	    width: 80% !important;
	}
}

#loginContents #loginContent #loginForm #loginInput input:last-child{
    margin-bottom: 19px;
    width: 520px;
    height: 56px;
    background: #F5F6F8;
    border: 1px solid #C1C1C1;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding: 0 26px;
}

#loginContents #loginContent #loginForm #loginInput input:not(:last-child):hover{
    margin-bottom: 36px;
    width: 520px;
    height: 56px;
    background: #F5F6F8;
    border: 1px solid #5858B7;
}

#loginContents #loginContent #loginForm #loginInput input:last-child:hover{
    margin-bottom: 19px;
    width: 520px;
    height: 56px;
    background: #F5F6F8;
    border: 1px solid #5858B7;
}

#loginContents #loginContent #loginForm #loginSessionDiv{
    width: 100%;
    text-align: left;
}

#loginContents #loginContent #loginForm #loginSessionDiv #loginSessionBtn.active{
    width:21px;
    vertical-align: bottom;
    content: url("../../images/login/loginSessionActive.png");
}

@media(max-width:2100px){
	#loginContents #loginContent #loginForm #loginSessionDiv #loginSessionBtn:not(.active){
		position: relative;
		left: 0 !important;
	}
}

#loginContents #loginContent #loginForm #loginSessionDiv #loginSessionBtn:not(.active){
    width:21px;
    vertical-align: bottom;
}


#loginContents #loginContent #loginForm #loginSessionDiv #loginSessionSpan{
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #5B5B5B;
}

#loginContents #loginContent #loginForm #loginMsg{
    /* margin-left: 15%; */
    font-weight: 400;
    font-size: 16px;
    color: #8d90ff;
    height: 50px;
    box-sizing: border-box;
    padding:12px 0 10px 0;
    text-align:center;
    text-overflow: ellipsis;
}

@media(max-width: 700px){
	#loginContents #loginContent #loginForm #loginBtns button{
		margin-left: 0 !important;
	}
}

#loginContents #loginContent #loginForm #loginBtns button{
    width: 240px;
    height: 54px;
    margin:0 auto;
    display:inherit;
    /* margin-top: 23px; */
    /* margin-left: 13%; */
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    background-color: #332D83;
    cursor: pointer;
    border: 0;
}

#loginContents #loginIntroduce{
    /* float: right; */
    float:left;
    width: 45%;
    height: 100%;
    background-image: url("../../images/login/loginBackground.jpg");
    background-size: cover;
}

#loginContents #loginIntroduce #loginSpans{
    position: relative;
    text-align: center;
    top: 23.5%;
}

#loginContents #loginIntroduce #loginSpans #loginIntroSpan_1{
    font-weight: 300;
    font-size: calc(1em + 2.1vw);
    line-height: 70px;
    color: #FFFFFF;
}

#loginContents #loginIntroduce #loginSpans #loginIntroSpan_2{
    font-weight: 700;
    font-size: calc(1em + 2.1vw);
    line-height: 70px;
    color: #FFFFFF;
}

#loginContents #loginIntroduce #loginIntroImgDiv{
    position: relative;
    text-align: center;
    top: 26%;
}

#loginContents #loginIntroduce #loginIntroImgDiv #loginIntroImg{
    width: 73%;
    /* height: 60%; */
}