/* */
.bodyTitleBorder{
	float: left;
    border: 2px solid #182f81;
    height: 32px;
    margin: 0;
}

.bodyTitle{
	font-weight: bolder;
    font-size: 15px;
    margin-left: 15px;
    line-height: 40px;
    color: #332E85;
    display: inline-block;
    width: 300px;
}

.bodyFunc1{display:none;text-align:left;width:300px;}
.bodyFunc1 > input{width:180px;}
.bodyFunc1 > span{margin-left:2rem;}
.bodyFunc2{display:none;text-align:right;width:calc(100% - 680px);}
.bodyFunc2 > img{width:1rem;height:1rem;margin-left:1rem;cursor:pointer;}
.bodyFunc2 > input{display:none;}

.accountingContainer{
    background: #FFFFFF;
    overflow-y: hidden;
    overflow-x: auto;
    box-shadow: 0px 2px 14px rgb(0 0 0 / 12%);
    height: calc(100% - 8px);
}

.accountingContent{
    padding:0.5rem 1.5rem 1.5rem;
    min-width:1440px;
    height: calc(100% - 40px - 2rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.accountingContent > div:nth-child(1){
    vertical-align: text-top;
}

.accountListExpand > div{
    display:grid;
    grid-template-columns: 2fr 3fr 2fr 3fr 2fr 4fr;
}
.accountingContent > div:nth-child(1) > div > *{text-align: center;padding:0.4rem;font-size:0.85rem;vertical-align: middle;}
.accountingContent > div:nth-child(1) > div:hover{background-color: #EDEDF4;cursor: pointer;}
.accountingContent > div:nth-child(1) > div:nth-child(1):hover{background-color: initial;cursor: initial;}
.accountingContent > div:nth-child(1) > div > *:nth-child(4){text-align: right;}
.accountingContent > div:nth-child(1) > div:nth-child(1) > *:nth-child(4){text-align: center;}
.accountingContent > div:nth-child(1) > div:nth-child(1) {border-top:1px solid #4f4fb9;;}
.accountingContent > div:nth-child(1) > div {border-bottom:1px solid #4f4fb9;}
.accountListExpand > div > div:nth-child(1){border-right:1px solid #4f4fb9;}
.accountListExpand > div > div:nth-child(2){border-right:1px solid #4f4fb9;}
.accountListExpand > div > div:nth-child(3){border-right:1px solid #4f4fb9;}
.accountListExpand > div > div:nth-child(4){border-right:1px solid #4f4fb9;}
.accountListExpand > div > div:nth-child(5){border-right:1px solid #4f4fb9;}
.accountListExpand > div > *:nth-child(6){font-size:1rem;border:none;background-color:transparent;}
.accountListExpand > div > div:nth-child(7){display:none;}

.accountListCollect{display:inline-block;width:280px;margin-right:20px;}
.accountListCollect > div{
    display:inline-grid;
    width:100%;
    grid-template-columns: 5fr 9fr 1fr;
}
.accountListCollect > div > div:nth-child(1){border-right:1px solid #4f4fb9;}
.accountListCollect > div > div:nth-child(3){display:none;}
.accountListCollect > div > div:nth-child(4){display:none;}
.accountListCollect > div > div:nth-child(5){display:none;}
.accountListCollect > div > *:nth-child(6){display:none;}
.accountListCollect > div > div:nth-child(7){display:initial;padding-left:0;padding-right:0;text-align: right;}

.accountHistory{
    display:none;
    vertical-align: text-top;
    width:calc(100% - 300px);
}
.accountHistory > div{
    display:grid;
    grid-template-columns: 8fr 8fr 8fr 8fr 8fr 5fr 8fr 15fr 5fr;
    border-bottom:1px solid #4f4fb9;   
}
.accountHistory > div:nth-child(1){border-top:1px solid #4f4fb9;}
.accountHistory > div > *{text-align:center;padding:0.4rem 0.1rem;font-size:0.8rem;}
.accountHistory > div > *:nth-child(3),
.accountHistory > div > *:nth-child(4),
.accountHistory > div > *:nth-child(5){
    text-align: right;
}
.accountHistory > div > *:nth-child(8){
    background-color: transparent;
    border:none;
}
.accountHistory > div > *:nth-child(1),
.accountHistory > div > *:nth-child(2),
.accountHistory > div > *:nth-child(3),
.accountHistory > div > *:nth-child(4),
.accountHistory > div > *:nth-child(5),
.accountHistory > div > *:nth-child(6),
.accountHistory > div > *:nth-child(7),
.accountHistory > div > *:nth-child(8){
    border-right:1px solid #c0c0f2;  
}
.accountHistory > div > *:nth-child(9) > img{width:1rem;height:0.8rem;}
.accountHistory > div:nth-child(1) > div{text-align:center;}

.modalBody > div{display:grid;width:1000px;grid-template-columns: 7fr 6fr 5fr 5fr 5fr 4fr 2fr;text-align:center;font-size: 0.8rem;border-bottom:1px solid #4f4fb9;}
.modalBody > div > div{padding:0.1rem;font-size:0.8rem;}
.modalBody > div > div > input{margin: 0;vertical-align: middle;width:0.8rem;height:0.8rem;}
.modalBody > div > div:nth-child(1),
.modalBody > div > div:nth-child(2),
.modalBody > div > div:nth-child(3),
.modalBody > div > div:nth-child(4),
.modalBody > div > div:nth-child(5),
.modalBody > div > div:nth-child(6){border-right:1px solid #4f4fb9;}
.modalBody > .parsedTitle{border-top:1px solid #4f4fb9;}
.modalBody > .parsedItem > div:nth-child(3),
.modalBody > .parsedItem > div:nth-child(4),
.modalBody > .parsedItem > div:nth-child(5){text-align: right;}
.modalBody > .savedItem{color:#b7b7b7;}