@charset "UTF-8";

#bodyContents{
	display:flex;
	flex-flow: nowrap;
	height: calc(100% - 54px);
}

#bodyContents #sideContents{
	width:172px;
}

#bodyContents #bodyContent{
	width:calc(100% - 172px);
	padding: 8px 8px 0 8px;
	height: calc(100% - 8px);
}

#bodyContents #widgetContainer{
	overflow-y: auto;
	width:100%;
	max-height: 100%;
	padding: 8px 8px 0 8px;
	box-sizing:border-box;
}

@media all and (min-width:1920px){
	#bodyContents #sideContents{
		width:172px;
	}
}