@charset "UTF-8";

#bodyContents{
	display: grid;
    grid-template-columns: 172px 1fr;
	height: 100%;
}

#bodyContents #bodyContent{
	padding: 10px 12px 0 12px;
}

#bodyContents #widgetContainer{
	overflow-y: auto;
	width:100%;
	max-height: calc(100% - 70px);
	padding: 10px 12px 0 12px;
	box-sizing:border-box;
}

@media all and (min-width:1920px){
	#bodyContents #sideContents{
		width:172px;
	}
}