@charset "UTF-8";



.cotract-wrap {
	display: none;
	margin-left: 2rem;
	padding: 0 1rem 1.3rem;
	grid-template-columns: 1fr 25rem;
}

.contract-box {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 4fr 2fr 1fr 2fr;
	cursor: pointer;
}

.contract-box>div,
.contract-box>name {
	overflow: hidden;
	border: 1px solid #e0e4e9;
	margin: 0.5px;
	padding: 8px;
	text-align: center;
}

.contract-box>name {
	text-align: left;
}


.contract-box:hover {
	background-color: rgb(237, 237, 244);
}

.contract-box>div:last-of-type {
	text-align: right;

}

.contract-main, .contract-main {
	padding: 1rem;
}

/* .contract-main:hover {
	background-color: #e7e6e642;
	cursor: pointer;
} */

.contract-top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 1rem;
}

.contract-top .crudBtns {
	padding-left: calc(100% - 40px);
}

.contract-top .contract-progress {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contract-top .contract-progress>div {
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	width: 5rem;
	height: 1.5rem;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	background-image: url("/images/sopp2/label_gray.png");
	background-position: center center;
	padding: 0.5rem 1rem;
}

.contract-top .contract-progress>div:first-child {
	margin-left: 0;
}

.contract-top .contract-progress>.contract-done {
	background-image: url("/images/sopp2/label_blue.png");
}

.contract-top .contract-progress>.contract-fail {
	background-image: url("/images/sopp2/label_red.png");
}

.contract-top .contract-progress>.contract-doing {
	background-image: url("/images/sopp2/label_green.png");
}


.contract-main>div  {
	display: grid;
	grid-template-columns: 10% 90%;
}


.contract-main>div>div {
	border-bottom: 1px solid #e0e4e9;
	margin: 0.5px;
	padding: 0.2rem;
}



.contract-main>div>div:last-of-type {
	display: inline-flex;
	line-height: 1.5;
	overflow: hidden;

}

.contract-main>div>div:last-of-type>div {
	display: inline-flex;
}


.sopp-contract {
	font-size: 0.8rem;
	padding: 1rem;
}

.sopp-contract>div {
	display: grid;
	grid-template-columns: 20% 80%;
}


.sopp-contract>div>div {
	border: 1px solid #e0e4e9;
	margin: 0.5px;
	padding: 8px;
	text-align: center;
}

.sopp-contract>div>div:first-of-type {
	text-align: center;
	background-color: #eef1fb;
	font-weight: 500;
}

.sopp-contract>div>div:last-of-type {
	display: inline-flex;
	line-height: 1.5;
	overflow: hidden;

}

.sopp-contract>div>div:last-of-type>div {
	display: inline-flex;
}




/*계약 상세 조회 관련 css start */ 


.contract-container {
	display: grid;
    width: 99%;
    margin: 0 auto;
} 

.contract-container >div:first-of-type {
	display: grid; 
}

.contract-container > .contract-sche>div {
	display: grid;
	grid-template-columns: 15% 10% 10% 10% 10% 45%;
	text-align : center;
}

















/* prevModal 관련 css */

/* .modal {
	width: 50%;
} */



.report-modal {
	display: grid;
	grid-template-columns: 1fr 3fr;
}


.report-modal>div .sub-title {
	display: flex;
	align-items: center;
	text-align: left;
	font-size: 0.8rem;
	color: #0c297b;
	margin: 0.3rem 0;
	white-space: nowrap;
}

.report-modal>div .sub-title>div {
	margin: 0 0.3rem;
}

.report-modal>div .sub-title>circle {
	width: 0.3rem;
	height: 0.3rem;
	background-color: #fb7dfb;
	border-radius: 1rem;
	display: inline-block;
	vertical-align: middle;

}


.report-modal>div .sub-title>line {
	height: 0;
	border-bottom: 0.2rem solid #dedede;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin-top: -0.2rem;
}


.report-modal .sopp-modalData>div:first-of-type {
	border-bottom: 2px solid #5caeff;
}

.report-modal .sopp-modalData>div:first-of-type>input {
	border: none;
	width: 100%;
}

/* .report-modal .sopp-modalData>div:last-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0.5rem 0;
} */

.report-modal .sopp-modalData>div:nth-of-type(3)>label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	width: 5rem;
	height: 1.2rem;
	border-radius: 1rem;
	border: 1px solid #b5b5b5;
	padding: 0.1rem;
	margin: 0 0.5rem 0 0;
	color: #b5b5b5;
	font-weight: bold;
}

.report-modal .sopp-modalData>div:nth-of-type(3)>input:checked+label {
	background-color: #2147b1;
	border-color: #2147b1;
	color: white;
	cursor: pointer;
}

.report-modal .sopp-modalData>div:nth-of-type(2n - 1):nth-of-type(n + 4) {
	margin: 0.4rem 0 1.5rem 1rem;
	border-bottom: 1px solid #5caeff;
	font-size: 0.8rem;

}

.report-modal .sopp-modalData>div:nth-of-type(2n - 1):nth-of-type(n + 4)>input {
	width: 100%;

}

.report-modal>div:last-of-type>div {
	margin: 1em 2em;

}

.report-modal>div:last-of-type>.crudBtns {
	margin: 0;

}

.report-modal>div:last-of-type .product-list>.product-item,
.report-modal>div:last-of-type .product-listTitle {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 1fr 2fr 2fr;
	font-size: 0.8rem;
}


.report-modal>div:last-of-type .product-list>.product-item {
	background-color: #f2f5ff;
}





.report-modal>div:last-of-type .product-list>.product-option {
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border: 2px solid #f2f5ff;
	border-top: 1px solid #425da8;

}

.report-modal>div:last-of-type .product-list>.product-option:after {
	content: "";
	display: table;
	table-layout: fixed;
	clear: both;
}

.report-modal>div:last-of-type .product-list>.product-option>div {
	padding: 0.3rem 0;
}

.report-modal>div:last-of-type .product-list>.product-option>div>div {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
}

.report-modal>div:last-of-type .product-list>.product-option>div:first-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.report-modal>div:last-of-type .product-list>.product-option>div:last-of-type {
	display: flex;

}

.report-modal>div:last-of-type .product-list>.product-option>div:last-of-type>input {
	width: 6%;
	text-align: right;
}


.report-modal>div:last-of-type>div:not(:nth-of-type(1))>div {
	text-align: center;
}

.report-modal>div:last-of-type>div:nth-of-type(2) {
	border-bottom: 1px solid #425da8;
	background-color: #f2f5ff;
	margin: 0 2rem;
}

/* .report-modal>div:last-of-type>div:nth-of-type(3)>div {
	display: flex;
	justify-content: center;
	align-items: center;
} */



.report-modal>div:last-of-type .product-list>.product-option>div>div>input+label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	width: 5rem;
	height: 1.2rem;
	border-radius: 1rem;
	border: 1px solid #b5b5b5;
	padding: 0.1rem;
	margin: 0 0.5rem 0 0.5rem;
	color: #b5b5b5;
	font-weight: bold;
}

.report-modal>div:last-of-type .product-list>.product-option>div>div>input:checked+label {
	background-color: #2147b1;
	border-color: #2147b1;
	color: white;
	cursor: pointer;
}

.report-modal>div:last-of-type>div:nth-of-type(6)>input {
	width: 1.5rem;
	margin: 0.5rem;
	border: none;
	border-bottom: 2px solid #5caeff;
	text-align: right;
}


.report-modal>div:last-of-type .mtnc-listTitle {
	display: grid;
	grid-template-columns: 19% 15% 15% 13% 13% 8% 11% 6%;
	border-bottom: 1px solid #425da8;
	background-color: #f2f5ff;
}

.report-modal>div:last-of-type .mtnc-data>div {
	display: grid;
	grid-template-columns: 19% 15% 15% 13% 13% 8% 11% 6%;
}

.report-modal>div:last-of-type .mtnc-data>div>div {
	font-size: 0.8rem;
	border: 1px solid #e0e4e9;
	margin: 0.5px;
	padding: 8px;
	text-align: center;
	;
}



circle {
	width: 0.3rem;
	height: 0.3rem;
	background-color: #5caeff;
	border-radius: 1rem;
	display: inline-block;
	vertical-align: middle;

}

cateLine {
	height: 0;
	border-bottom: 0.2rem solid #dedede;
	display: inline-block;
	width: 95%;
	vertical-align: middle;
	margin-top: 0.5rem;
	margin-left: 1rem;
}