/* ========== 일정 모달 적용 스타일 ========== */
.schedule-detail{
	display:grid;
	grid-template-columns: 3fr 4fr;
	grid-template-rows: 1fr;
	gap:0 1rem;
	margin:0.5rem;
	width:65rem;
	height:27rem;
	overflow:hidden;
}
.schedule-detail > div:nth-child(1){/* 좌측 제목,본문 */
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.5rem calc(100% - 2rem);
	gap:0.5rem;
	grid-row: span 2;
}
.schedule-detail > div:nth-child(1) > div:nth-child(1) > img{
	width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}
.schedule-detail > div:nth-child(1) > div:nth-child(1){
	border-bottom:2px solid #5caeff;
}
.schedule-detail > div:nth-child(1) > div:nth-child(1) > input{ /* 제목 */
	width:calc(100% - 2rem);
	border:none;
}
.schedule-detail > div:nth-child(1) > textarea{display:none;} /* 본문 에디터용 */
.schedule-detail > div:nth-child(1) > div:nth-child(3){ /* 본문 에디터 */
	border:1px solid #b1d8ff;
	box-shadow: none;
}
.schedule-detail > div:nth-child(2){
	overflow-x:hidden;
	overflow-y: auto;
	border-bottom:2px solid #5caeff;
}
.schedule-detail > div:nth-child(2) > label{
	display:block;
	padding-bottom: 0.5rem;
	cursor:pointer;
}
.schedule-detail > div:nth-child(2) > label:nth-child(1) date{font-size:0.9rem;}
.schedule-detail > div:nth-child(2) > label:nth-child(1) time{font-size:0.8rem;color:gray;}
.schedule-detail > div:nth-child(2) > label:nth-child(1) img{width:1rem;height:1rem;vertical-align: text-bottom;margin-right:0.5rem;}
/* 일정 수정용 미니 달력 */
.schedule-detail > div:nth-child(2) > input:nth-child(2){display:none;}
.schedule-detail > div:nth-child(2) > div:nth-child(3){
	display:none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap:1rem;
	overflow-y: hidden;
	overflow-x: auto;
	border-top:1px solid #b1d8ff;
	height:7rem;
	margin:0.5rem 0 0.1rem;
	padding:0 1rem;
	font-size:0.8rem;
}
.schedule-detail > div:nth-child(2) > input:nth-child(2):checked + div{display:grid;}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div{
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 3fr repeat(6, 2fr);
}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div > span{
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:0.65rem;
	color:rgb(104, 104, 104);
	box-sizing: border-box;
	cursor:cell;
}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div > span:nth-child(7n + 1){color:rgb(86, 103, 255);}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div > span:nth-child(7n + 2){color:rgb(255, 72, 72);}
.schedule-detail > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(1){
	display:flex;
	align-items: center;
	justify-content: center;
	grid-column: span 7;
	font-size:0.75rem;
	color:rgb(60, 60, 60);
}
.schedule-detail > div:nth-child(2) > div:nth-child(4){
	border-top:1px solid #b1d8ff;
	border-bottom:2px solid #5caeff;
	padding:0.5rem 0;
}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div{
	display:grid;
	font-size:0.5rem;
	color:gray;
	text-align:center;
	grid-template-rows: 1fr;
}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2){height:0.8rem;margin-top: 0.1rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) .schedule-time-empty{background-color:#ffe2e2;cursor:cell;}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) .schedule-time-select{background-color:#94cdeb;cursor:cell;}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(odd){border-right:1px solid white;}
.schedule-detail > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(even){border-left:1px solid white;border-right:1px dotted white;}
.schedule-detail > div:nth-child(2) > div:nth-child(5){
	border-bottom:1px solid #b1d8ff;
	overflow-x: hidden;
	overflow-y: auto;
	padding:0.3rem 0;
	box-sizing: border-box;
}
.schedule-detail > div:nth-child(2) > div:nth-child(5) > input{display:none;}
.schedule-detail > div:nth-child(2) > div:nth-child(5) > label{
	display:inline-flex;
	align-items: center;
	justify-content: center;
	font-size:0.8rem;
	width:5rem;
	height:1.2rem;
	border-radius: 1rem;
	border:1px solid #b5b5b5;
	padding:0.1rem;
	margin:0 0.5rem 0 0;
	color:#b5b5b5;
	font-weight: bold;
}
.schedule-detail > div:nth-child(2) > div:nth-child(5) > input:checked + label{
	background-color:#2147b1;
	border-color:#2147b1;
	color:white;
	cursor:pointer;
}
.schedule-detail > div:nth-child(2) > div:nth-child(5) > input:not(:checked) + label{border-color:#b1d8ff;color:#2147b1;cursor:pointer;}

.schedule-detail > div:nth-child(2) > div:nth-child(6){
	min-height:calc(100% - 106px);
	overflow-x: hidden;
	overflow-y: auto;
	padding:0.3rem 0;
	box-sizing: border-box;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .sub-title + div{margin-bottom:0.8rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .sub-title{
	text-align:left;
	font-size:0.8rem;
	color:#0c297b;
	margin:0.3rem 0;
	white-space:nowrap;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .sub-title > circle{
	width: 0.3rem;
    height: 0.3rem;
    background-color: #fb7dfb;
	border-radius: 1rem;
    display: inline-block;
    vertical-align: middle;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .sub-title > div{display:inline-block;margin:0 0.4rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .sub-title > line{
	height: 0;
    border-bottom:0.2rem solid #dedede;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
	margin-top:-0.2rem;
}

.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-gw{font-size:0.8rem;margin:0 0 0 1.5rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-gw > input{
	margin: 0 0.3rem;
    vertical-align: middle;
    width: 0.7rem;
    height: 0.7rem;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-gw > div:nth-child(1){display:inline-block;margin-right:0.5rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-gw > select{border-bottom:2px solid #5caeff;font-size:0.8rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-gw > div:nth-child(3){display:inline-block;margin-left:1rem;width:15rem;font-size:0.7rem;color:navy;}

.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-place{font-size:0.8rem;margin:0 0 0 1.5rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-place > label{
	display:inline-block;
	margin-right:0.8rem;
	box-sizing: border-box;
	border-radius:1rem;
	padding: 0.2rem 0.8rem;
	margin-bottom: 2px;
	cursor:pointer;
	background-color: #efefef;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-place > input[type=radio]{display:none;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-place > input:checked + label{background-color: #5876ca;color: white;font-weight: bold;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-place > input[type=text]{
	display:none;
	border: none;
    background-color: #edf9ff;
    border-bottom: 2px solid #5baefe;
    width: 15rem;
    box-sizing: border-box;
	background-color: #efefef;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-place > input:checked + label + input[type=text]{display:inline-block;}

.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-type2{font-size:0.8rem;margin:0 0 0 1.5rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-type2 > label{
	display:inline-block;
	margin-right:0.8rem;
	box-sizing: border-box;
	border-radius:1rem;
	padding: 0.2rem 0.8rem;
	margin-bottom: 2px;
	width:5.4rem;
	text-align:center;
	cursor:pointer;
	background-color: #efefef;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-type2 > input[type=radio]{display:none;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-type2 > input:checked + label{background-color: #5876ca;color: white;font-weight: bold;}

.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-method{font-size:0.8rem;margin:0 0 0 1.5rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-method > label{
	display:inline-block;
	margin-right:0.8rem;
	box-sizing: border-box;
	border-radius:1rem;
	padding: 0.2rem 0.8rem;
	margin-bottom: 2px;
	width:5.4rem;
	text-align:center;
	cursor:pointer;
	background-color: #efefef;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-method > input[type=radio]{display:none;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-method > input:checked + label{background-color: #5876ca;color: white;font-weight: bold;}

.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-belong-to{font-size:0.8rem;margin:0.2rem 0 0 1.5rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-belong-to > label{
	display:inline-block;
	box-sizing: border-box;
	border-radius:1rem;
	padding: 0.2rem 1.5rem;
	min-width:10rem;
	text-align:left;
	cursor:pointer;
	background-color: #efefef;
	margin-right: 0.8rem;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-belong-to > input[type=radio]{display:none;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-belong-to > input:checked + label{background-color: #5876ca;color: white;font-weight: bold;}

.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-report{font-size:0.8rem;margin:0 0 0 1.5rem;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-report > label{
	display:inline-block;
	margin-right:0.8rem;
	box-sizing: border-box;
	border-radius:1rem;
	padding: 0.2rem 0.8rem;
	margin-bottom: 2px;
	width:5.4rem;
	text-align:center;
	cursor:pointer;
	background-color: #efefef;
}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-report > input[type=radio]{display:none;}
.schedule-detail > div:nth-child(2) > div:nth-child(6) .schedule-report > input:checked + label{background-color: #5876ca;color: white;font-weight: bold;}

@keyframes not-enough-warn {
	from {background-color:#ffdddd;}
	to {background-color:transparent;}
}