/* top 메뉴 시작 */
.mainTopMenu{
	display: flex;
	font-size: 1rem;
}

.mainTopMenu > div{
	height: 100%;
}

.mainTopMenu .active{
	background: linear-gradient(to bottom, #ffffff 95%, #302D81 5%);
}

.mainTopMenu > div{
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding-left: 10px;
	padding-right: 10px;
	color: #332E85;
}

.mainTopMenu > div:hover{
	background: linear-gradient(to bottom, #ffffff 95%, #DEDEFF 5%);
	cursor: pointer;
}
/* top 메뉴 끝 */

/* 견적 관련 시작 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Outfit:wght@600&display=swap');
@font-face {font-family:MalgunGothic; src:url(/fonts/malgun.ttf);}

.cke_focus{
	height: auto;
}

.ac_cnt{
    display:none;
    position:absolute;
    border:1px solid black;
    padding:0.3rem;
    background-color:white;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
}
.ac_cnt > div{padding:0.2rem;text-overflow: ellipsis;}
.bodyTitleBorder{
	float: left;
    border: 2px solid #182f81;
    height: 32px;
    margin: 0;
}

.bodyTitle{
    float: left;
	font-weight: bolder;
    font-size: 15px;
    margin-left: 15px;
    line-height: 40px;
    color: #332E85;
    width: 300px;
}

.bodyTitleFnc{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 5px;
}

.bodyTitleFnc > div{
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: #2147b1;
    color: #fff;
    border-radius: 5px;
    cursor:pointer;
    margin-right: 5px;
}

.bodyTitleFnc > div:last-child{display:none;}

.listContainer, .eachContainer{
    background: #FFFFFF;
    overflow-x: auto;
    box-shadow: 0px 2px 14px rgb(0 0 0 / 12%);
    height: calc(100% - 8px);
}

.listContent, .eachContent{
    padding:0.5rem 1.5rem 1.5rem;
    min-width:1440px;
    height: calc(100% - 40px - 2rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.estimateAddBtns{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.estimateAddBtns > button{
    background-color: #2147b1;
    color: #ffffff;
    padding: 5px;
}

.estimateAddBtns > button:hover{
    cursor: pointer;
}

.esimateListBody > div{
    display: flex;
    align-items: center;
    border-right: 1px solid #ededed;
    padding: 5px;
    font-size: 11px;
}

.esimateListBody:hover{
    background-color: #2147b1;
    color: #ffffff;
    cursor: pointer;
}

.versionList{
    padding: 10px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.versionListHeader{
    display: grid;
    grid-template-columns: 15% 35% 15% 15% 20%;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

.versionListBody{
    display: grid;
    grid-template-columns: 15% 35% 15% 15% 20%;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

.versionListHeader > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ededed;
    padding: 5px;
    font-size: 0.7rem;
}

.versionListBody > div{
    display: flex;
    align-items: center;
    border-right: 1px solid #ededed;
    padding: 5px;
    font-size: 0.7rem;
}

.versionListBody:hover{
    background-color: #e1e9ff;
    cursor: pointer;
}

.searchContainer .searchMultiContent .searchPrice > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer .searchMultiContent .searchPrice > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchContainer .searchMultiContent .searchPrice > .searchGridItem > input{
	text-align: right;
}

.searchContainer .searchMultiContent .searchDate > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer .searchMultiContent .searchDate > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.listContainer > button{
	color: #ebefff;
	box-shadow: 0 1px 1px #bdbfc9;
	background-color:#182f81;
	padding:0 14px;
	height:30px;
	border-radius: 5px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.listContainer > button:hover{
	color: #182f81;
	box-shadow: 0 1px 2px #bdbfc9;
	background-color:#ebefff;
}

.listContainer{
	margin-top: 3px;
	background: #FFFFFF;
	overflow: hidden;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.listContainer > hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.listContainer > #containerTitle {
	font-weight: 600;
    font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
	float: left;
}

.sopp-estimate .estimateList{
    display: grid; 
	width: 36%;
    float: left;
    clear: both;
}

.sopp-estimate .estimateList .gridHeader,
.sopp-estimate .estimateList .gridContent{
    grid-template-columns: 20% 35% 10% 15% 20%;
}

.sopp-estimate .estimateList .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.sopp-estimate .pageContainer{
	float: left;
    clear: left;
    width: 36%;
}

.listContainer .estimateList{
    display: grid; 
	width: 48%;
    float: left;
    clear: both;
}

.listContainer .estimateList .gridHeader,
.listContainer .estimateList .gridContent{
    grid-template-columns: 15% 50% 5% 15% 15%;
}

.listContainer .estimateList .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.listContainer .pageContainer{
	float: left;
    clear: left;
    width: 48%;
}

.versionPreview{
    border: 1px solid #ededed;
    padding: 10px;
    float: right;
    margin-right: 10px;
}

.estimateUpdateBtns{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    float: right;
    padding-right: 10px;
}

.estimateUpdateBtns > button{
    background-color: #2147b1;
    color: #ffffff;
    padding: 5px;
}

.estimatePdfBtn{
    display: flex;
    align-items: center;
    float: right;
}

.estimatePdfBtn > button{
    background-color: #2147b1;
    color: #ffffff;
    padding: 3.5px;
}

.estimateUpdateBtns > button:hover{
    cursor: pointer;
}

.eachContainer{display:none;font-size:14px;}
.eachContent > div:nth-child(1){display:inline-block;width:700px;}
.eachContent > div:nth-child(2){display:none;vertical-align: top;width: calc(100% - 800px - 5rem);padding: 1.5rem;max-width:900px;box-shadow:2px 2px 2px 2px #cdcdcd;height:500px;border: 1px solid gray;}
.eachContent > div:nth-child(2){height:calc(100% - 3rem);}
.eachContent > div:nth-child(1) > div{width:100%;color:#aaaaaa;}
.eachContent > div:nth-child(1) > div.passed{width:100%;color:black;}
.eachContent > div:nth-child(1) > div.passed > div:nth-child(1) > div:nth-child(1){background-color: #2c77b7;}
.eachContent > div > div > div > div{display:inline-block;}
.eachContent > div > div > div:nth-child(1) > div:nth-child(1){
    width:0.4rem;
    height:0.4rem;
    border-radius: 50%;
    border:1px solid #2c77b7;
    margin-right:0.5rem;
    padding:0;
}
.eachContent > div > div > div:nth-child(1) > div:nth-child(2){padding:0.4rem 0.2rem;width: 650px;}
.eachContent > div > div > div:nth-child(2) > div:nth-child(odd){
    width:1px;
    border-right: 1px solid #2c77b7;
    margin:-0.2rem 0.5rem -0.4rem calc(0.2rem - 1px);
    vertical-align: middle;
    padding:0;
}
.estimateStep1 > div:nth-child(2),
.estimateStep2 > div:nth-child(2){
    display:inline-grid;
    grid-template-columns: 2fr 5fr 2fr 5fr;
    border-bottom:1px solid #c3c3c3;
    vertical-align: top;
    width:calc(100% - 2rem);
}
.estimateStep1 > div:nth-child(2) > *,
.estimateStep2 > div:nth-child(2) > *{
    border:none;
    border-top:1px solid #c3c3c3;
    border-left:1px solid #c3c3c3;
    padding:0.4rem 0.2rem;
}
.estimateStep1 > div:nth-child(2) > div:last-child,
.estimateStep2 > div:nth-child(2) > div:last-child{border-right:1px solid #c3c3c3;}
.estimateStep1 > div:nth-child(2) > div:nth-child(odd),
.estimateStep2 > div:nth-child(2) > div:nth-child(odd){text-align: center;background-color: #efefef;}

.estimateItrem{margin-bottom:0.5rem;}
.estimateItrem > div:nth-child(2){
    display:inline-grid;
    grid-template-columns: 2fr 5fr 2fr 5fr;
    border-bottom:1px solid #c3c3c3;
    vertical-align: top;
    width:calc(100% - 2rem);
}
.estimateItrem > div:nth-child(2) > *{
    border:none;
    border-top:1px solid #c3c3c3;
    border-left:1px solid #c3c3c3;
    padding:0.4rem 0.2rem;
}
.estimateItrem > div:nth-child(2) > div:last-child{border-right:1px solid #c3c3c3;}
.estimateItrem > div:nth-child(2) > div:nth-child(odd){text-align: center;background-color: #efefef;}

.estimateFormName:checked + label{border-bottom: 2px solid blue;padding-bottom: 0.1rem;}
.estimateBasInfo:checked + label{border-bottom: 2px solid blue;padding-bottom: 0.1rem;}
.estimateInput{border:none;font-size:1rem;width:calc(100% - 4px);height:100%;}

.estimateContainer {
	margin-top: 1%;
    background: #FFFFFF;
    overflow: auto;
    box-shadow: 0px 2px 14px rgb(0 0 0 / 12%);
    margin-top: 3px;
}

.estimateContainer > hr {
	float: left;
	border:2px solid #182f81;
	height: 32px;
	margin: 0;
}

.estimateContainer > #containerTitle {
	font-weight: 600;
    font-size: 13px;
	margin-left: 15px;
	line-height: 40px;
	color: #182f81;
	float: left;
}

.gridEstimateList {
	display: grid;
	width: 40%;
    clear: both;
}

.gridEstimateList .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.gridEstimateList .gridHeader,
.gridEstimateList .gridContent {
	grid-template-columns: 15% 15% 50% 5% 15%;
}

/* .pageContainer{
    width: 40%;
} */

.cke_textarea_inline{
    border: 1px solid #000;
    padding: 0;
    min-height: 0;
    box-sizing: border-box;
}

.mainPdf{
    width: 21cm;
    min-height: 29.7cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 30px 20px 0 20px;
    clear: both;
    margin: 0 auto;
}

.copyMainPdf{
    width: 21cm;
    min-height: 29.7cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 30px 20px 0 20px;
    clear: both;
    margin: 0 auto;
}

#estPrintPdf{
    width: 21cm;
    min-height: 29.7cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 30px 20px 0 20px;
    clear: both;
    margin: 0 auto;
}

.previewDefault{
    width: 21cm;
    min-height: 29.7cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: #ededed;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 30px 20px 0 20px;
}

.previewDefault > div{
    display: block;
    padding-top: 50%;
    padding-left: 45%;
    color: #BDBDBD;
}


.imgLogo{
    display: flex;
    align-items: center;
}

.pdfLogoLeft{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.pdfLogoLeft > img{
    width: 198px;
}

.pdfLogoRight{
    display: flex;
    align-items: center;
    justify-content: right;
}

.pdfLogoRight > img{
    width: 560px;
    height: 24px;
    padding-bottom: 0.5vh;
}

.pdfTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 2.5rem;
    font-family: 'Outfit', sans-serif;
}

.selectAddress{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}

.selectAddress > select{
    border: 1px solid #000;
    width: 10%;
}

.pdfHeadInfo{
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3px 10px 0 49px;
    margin-bottom: 5px;
}

.pdfHeadInfo > div{
    display: flex;
    height: 28px;
}

.pdfHeadInfo > div > span:first-child{
    text-align: justify;
    width: 70px;
    font-size: 11px;
    font-weight: 600;
    padding-top: 3px;
}

.pdfHeadInfo > div > span:first-child:after{
    content: "";
    display: inline-block;
    width: 100%;
}

.pdfHeadInfo > div > input{
    width: 86px;
    font-size: 11px;
}

.pdfHeadInfo > .firmName > input{
    height: 22px;
}

.pdfHeadInfo > div > textarea{
    width: 240px;
    overflow: hidden;
    font-family: 'NanumSquareRound';
    display: block;
    font-size: 11px;
}

.pdfHeadInfo > div > textarea:disabled{
    background-color: #ffffff;
    color: #000;
    border: 0;
    font-size: 11px;
}

.pdfHeadInfoPrice{
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3px 10px 0 49px;
    margin-bottom: 5px;
}

.pdfHeadInfoPrice > div{
    display: flex;
    height: 30px;
}

.pdfHeadInfoPrice > div > span:first-child{
    text-align: justify;
    width: 70px;
    font-size: 11px;
    font-weight: 600;
    padding-top: 3px;
}

.pdfHeadInfoPrice > div > span:first-child:after{
    content: "";
    display: inline-block;
    width: 100%;
}

.pdfHeadInfoPrice > div:first-child > input[type="text"]{
    width: 95px;
    text-align: right;
    height: 25px;
    font-size: 11px;
}

.pdfHeadInfoPrice > div:last-child > input[type="text"]{
    height: 25px;
    font-size: 11px;
}

.pdfHeadInfoPrice > div > input[type="radio"]{
    margin-left: 5px;
    margin-right: 2px;
    height: 20px;
}

.pdfHeadInfoPrice > div:first-child > label{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    height: 26px;
}

.pdfMainContainer{
    border-top:2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    margin-bottom: 15px;
}

.pdfMainContentHeader{
    display: grid;
    grid-template-columns: 10% 10% 20% 10% 10% 10% 10% 10% 10%;
    border-bottom: 1px solid #000;
}

.pdfMainContentHeader > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #000;
    background-color: #990B19;
    color: #ffffff;
    font-size: 13px;
    padding: 2px;
}

.pdfMainContentHeader > div:last-child{
    border-right: 0;
}

.pdfMainContentTitle{
    display: grid;
    grid-template-columns: 10% 10% 20% 10% 10% 10% 10% 10% 10%;
    background-color: #FFFF75;
    border-bottom: 1px solid #000;
}

.pdfMainContentTitle > div{
    display: flex;
    align-items: center;
    background-color: #FFFF75;
    font-weight: 600;
    border-right: 1px solid #000;
    font-size: 11px;
    padding: 2px;
}

.pdfMainContentTitle > .subTitleIndex{
    justify-content: center;
}

.pdfMainContentTitle > .subTitle{
    grid-column: span 2;
    justify-content: center;
}

.pdfMainContentTitle > .subTitle > input{
    width: 100%;
    background-color: #FFFF75;
    text-align: center;
    border: 1px solid #000;
}

.pdfMainContentTitle > .subTitleTotal{
    justify-content: right;
}

.pdfMainContentTitle > div:last-child{
    border-right: 0;
}

.pdfMainContentItem{
    display: grid;
    grid-template-columns: 10% 10% 20% 10% 10% 10% 10% 10% 10%;
    border-bottom: 1px solid #000;
}

.pdfMainContentItem > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #000;
    font-size: 11px;
    padding: 2px;
}

.pdfMainContentItem > .itemSpec{
    display: inline-block;
}

.pdfMainContentItem > .itemSpec > input{
    margin-bottom: 1px;
    text-align: left;
    font-size: 11.5px;
    font-weight: 600;
}

.pdfMainContentItem > .itemRemarks{
    justify-content: left;
}

.pdfMainContentItem > div > input{
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    box-sizing: border-box;
}


.pdfMainContentItem > .itemConsumer > input{
    text-align: right;
}

.pdfMainContentItem > .itemAmount > input{
    text-align: right;
}

.pdfMainContentItem > .itemRemarks > input{
    text-align: left;
}

.pdfMainContentItem > .itemAmount{
    justify-content: right;
}

.pdfMainContentItem > .itemTotal{
    justify-content: right;
}

.pdfMainContentItem > div:last-child{
    border-right: 0;
}

.pdfMainContentItem > div:last-child > button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2147b1;
    color: #ffffff;
    width: 1.3vw;
    height: 2.5vh;
    border-radius: 5px;
    font-weight: 600;
    padding-top: 3.5px;
    margin-right: 5px;
}

.pdfMainContentAddBtns{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.pdfMainContentAddBtns > button{
    background-color: #2147b1;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.pdfMainContentAddBtns > button:hover{
    background-color: #182f81;
}

.pdfMainContentAmount{
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-columns: 10% 10% 30% 10% 10% 10% 10% 10%;
}

.pdfMainContentAmount > div{
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
    font-size: 11px;
    padding: 2px;
}

.pdfMainContentAmount > div:first-child{
    grid-column: span 6;
    justify-content: center;
    letter-spacing: 0.5rem;
    font-weight: 600;
}

.pdfMainContentAmount > div:not(:first-child){
    justify-content: right;
}

.pdfMainContentAmount > div:last-child{
    border-right: 0;
}

.pdfMainContentTax{
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-columns: 10% 10% 30% 10% 10% 10% 10% 10%;
}

.pdfMainContentTax > div{
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
    padding: 2px;
    font-size: 11px;
}

.pdfMainContentTax > div:first-child{
    grid-column: span 6;
    justify-content: center;
    letter-spacing: 0.5rem;
    font-weight: 600;
}

.pdfMainContentTax > div:not(:first-child){
    justify-content: right;
}

.pdfMainContentTax > div:last-child{
    border-right: 0;
}

.pdfMainContentTotal{
    border-bottom: 2px solid #000;
    display: grid;
    grid-template-columns: 10% 10% 30% 10% 10% 10% 10% 10%;
}

.pdfMainContentTotal > div{
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
    padding: 2px;
    font-size: 11px;
}

.pdfMainContentTotal > div:first-child{
    grid-column: span 6;
    justify-content: center;
    letter-spacing: 0.5rem;
    font-weight: 600;
}

.pdfMainContentTotal > div:not(:first-child){
    justify-content: right;
}

.pdfMainContentTotal > div:last-child{
    border-right: 0;
}

.pdfBottomRemarks > span{
    display: block;
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 13px;
}

.pdfBottomLogo{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 30px;
}

.pdfBottomLogo > img{
    width: 22.5vw;
}

.afterDiv{
    font-size: 11px;
    display: flex;
    align-items: center;
}

.pdfHeadInfo > .firmName > .afterDiv{
    height: 23px;
}

.pdfHeadInfo > .address > .afterDiv{
    width: 14vw;
}

.pdfHeadInfoPrice > .vatInfo > div:last-child{
    padding-bottom: 4px;
    font-weight: 600;
}

.pdfHeadInfoPrice > .expInfo > .afterDiv{
	height: 23px;
    font-weight: 600;
}

.pdfMainContentItem > .itemSpec > .afterDiv:first-child{
    font-size: 11.5px;
    font-weight: 600;
}

.pdfMainContentItem > .itemSpec > .afterDiv > p{
    margin: 0;
}
/* 견적 관련 끝 */