@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

@font-face {font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal;}

html, body{
	font-family:'NanumSquareRound', 'NanumGothicLight', 'NanumGothic', 'NanumGothicBold', 'NanumGothicExtraBold', 'Noto Sans KR', 'S-CoreDream-3Light';
	background-color: #F7F7F9;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

a{
	color: #000;
}

button, select, input[type="text"]{
	font-family: 'NanumSquareRound';
	/* padding:0.3% 0.7%; */
	/* float:right; */
	border:0;
	cursor: pointer;
}

/* 공통 class */
.gridHeader{
	display: grid; 
}

/* .gridHeader .gridHeaderItem:not(:last-child){
	border-right: 1px solid #D9D9D9;
} */

.gridHeader .gridHeaderItem:last-child{
	border-right: 0;
}

.gridContent{
	display: grid; 
}

.gridContent:hover{
	background-color: #EDEDF4;
	cursor: pointer;
}

.gridContent .gridContentItem:not(:last-child){
	border-top: 1px solid #E4E5E9;
	border-right: 1px solid #ededed;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.gridContent .gridContentItem:last-child{
	overflow: hidden;
	border-top: 1px solid #D9D9D9;
	border-right: 0;
	text-align: center;
}

.grid_default_text_align_center{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	font-size:14px;
}

.grid_default_text_align_left{
	display: flex;
	align-items: center;
    justify-content: left;
	padding-left: 16px;
	overflow: hidden;
	font-size:14px;
}

.grid_default_text_align_right{
	display: flex;
	align-items: center;
    justify-content: right;
	padding-right: 16px;
	overflow: hidden;
}

.grid_default_header_item{
	height: 38px;
	font-weight: 500;
}

.grid_default_body_item{
	font-weight: 400;
	font-size: 13px;
	line-height: 22px;
	/* height: 38px; */
	max-height: 150px;
}

.grid_default_body_item:nth-child(2n-1){
	background-color:#F7F7F9;
}

.dragActive {
	background: transparent;
	color: transparent;
	border: 1px solid #332E85;
}

.dropZone {
	width: 500px;
	background-color: azure
}

.dropZone_dragenter, .dropZone_dragover {
	border: 10px solid #302D81;
}
/* 공통 class 끝*/

/* 페이지네이션 */
.pageContainer{
	display: flex;
	float: right;
	font-size:13px;
	box-sizing:border-box;
	margin:20px 0.5% 20px 0.5%;
}

.pageContainer div:not(.paging_cell_current), .pageContainer .paging_cell_empty{
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	border-color: #D9D9D9;
	/* background-color: #EDEDF4; */
}

.pageContainer .paging_cell:hover, .pageContainer .paging_cell_empty:hover{
	width: 28px;
	height: 28px;
	color: #ffffff;
	border-color: #2147b1;
	background-color: #2147b1;
	cursor: pointer;
}

.paging_cell_current{
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#2147b1;
	border:1px solid #2147b1;
	background-color:#ebefff;
}
/* 페이지네이션 끝 */

/* crud 폼 */
.defaultFormContainer{
	width: 100%;
	margin:0 auto;
}

.defaultFormContainer .defaultFormLine{
	clear: both;
	margin-bottom: 7%;
	height: 30px;
}

.defaultFormContainer .defaultFormLine .defaultFormSpanDiv{
	width: 100%;
}

/* .defaultFormContainer .defaultFormLine .defaultFormSpanDiv span{
	font-size: 1.2rem;
	font-weight: 600;
} */

.defaultFormContainer .defaultFormLine .defaultFormContent{
	width: 100%;
}

.defaultFormContainer .defaultFormLine .defaultFormContent input[type='text'],
.defaultFormContainer .defaultFormLine .defaultFormContent input[type='date'],
.defaultFormContainer .defaultFormLine .defaultFormContent input[type='file'],
.defaultFormContainer .defaultFormLine .defaultFormContent select{
	width: -webkit-fill-available;
	height: 36px;
	padding: 0 10px;
	font-size: 1rem;
	font-weight: 500;
	border: 1px solid #C1C1C1;
	border-radius: 5px;
	background-color: #F5F6F8;
}

.defaultFormContainer .defaultFormLine .defaultFormContent input[type='text']:hover,
.defaultFormContainer .defaultFormLine .defaultFormContent input[type='date']:hover,
.defaultFormContainer .defaultFormLine .defaultFormContent input[type='file']:hover,
.defaultFormContainer .defaultFormLine .defaultFormContent select:hover{
	border: 1px solid#302D81;
}
/* crud 폼 끝 */

/* detail */
.detailContents{
	padding: 20px;
}

.detailBoard .detailContents{
	padding:0;
}

.detailContents .detailViewContainer{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.detailContents .detailViewContainer > div{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	padding: 10px;
}

.detailContents .detailViewContainer > div > input[type='text'],
.detailContents .detailViewContainer > div > input[type='date'],
.detailContents .detailViewContainer > div > select{
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
}

.detailBoard{
	border: 1px solid #E4E5E9;
	padding:20px;
}

.detailBoard .detailContents .detailBoardContainer{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.detailBoard .detailContents .detailBoardContainer > div{
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid #7e7e7e; */
	border-bottom:1px solid #7e7e7e;
	border-right:1px solid #7e7e7e;
	padding: 10px;
	font-size:0.9rem;
}

.detailBoard .detailViewFormSpan{border-left:1px solid #7e7e7e;}
.detailBoardContainer>div:nth-of-type(3){border-left: none;}
.detailBoardContainer>div:nth-child(-n+4){border-top:1px solid #7e7e7e;}

.detailBoard .detailContents .detailBoardContainer > div > input,
.detailBoard .detailContents .detailBoardContainer > div > select{
	width: 100%;
	height: 100%;
	font-size: 0.9rem;
}

.detailBtns{
	float: right;
	/* margin-top: 5px;
	margin-right: 5px; */
	margin-bottom: 10px;
}

.detailBtns > button{
	color: #ebefff;
	box-shadow: 0 1px 1px #bdbfc9;
	background-color:#2147b1;
	padding:0 10px;
	height:26px;
	border-radius: 5px;
	margin:0 0 5px 10px;
}

.detailBtns > button:hover{
	box-shadow: 0 1px 2px #bdbfc9;
	background-color:#0e2b7e;
}

.scheduleContainer .detailBtns{
	margin:20px;
}

/* tab 시작 */
.tabs {
	display: flex;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 100%;
	margin: 0 auto;
}

.tabItem {
	width: 100%;
	height: 50px;
	border-bottom: 3px solid #302D81;
	background-color: #f8f8f8;
	line-height: 50px;
	font-size: 16px;
	color: #302D81;
	display: block;
	float: left;
	text-align: center;
	font-weight: 500;
	transition: all 0.2s ease;
}

.tabItem:hover {
	opacity: 0.75;
}

input[name="tabItem"] {
	display: none;
}

.tabContent{
	height: 100%;
	font-size:0.9375rem;
}

.tabs input:checked + .tabItem {
	background-color: #302D81;
	color: #fff;
}

.tradeList input,
.tradeList select{
	width: 95%;
}

.tradeList .tradeFirstTitle,
.tradeList .tradeSecondFormTitle{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	color: #302D81;
	font-weight: 500;
}

.tradeList .tradeFirstFormContent,
.tradeList .tradeSecondFormContent
{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.tradeList .tradeThirdFormTitle
{
	display: grid;
	padding-top: 20px;
	grid-template-columns: repeat(12, 1fr);
	color: #302D81;
	font-weight: 500;
}

.tradeList .tradeThirdFormContent .tradeThirdFormContentDiv
{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	color: #000;
	font-weight: 500;
}

.tradeList .tradeThirdFormContent .tradeThirdFormContentTotal{
	display: flow-root;
	padding: 10px;
	border: 1px solid #D9D9D9;
	color: #000;
	font-weight: 500;
}

.tradeList .tradeThirdFormContent .tradeThirdFormContentTotal > span:first-child{
	float: left;
}

.tradeList .tradeThirdFormContent .tradeThirdFormContentTotal > span:last-child{
	float: right;
}

.tradeList .tradeFirstTitle .tradeFirstTitleItem,
.tradeList .tradeFirstFormContent .tradeFirstContentItem,
.tradeList .tradeSecondFormTitle .tradeSecondTitleItem,
.tradeList .tradeSecondFormContent .tradeSecondContentItem,
.tradeList .tradeThirdFormTitle .tradeThirdTitleItem,
.tradeList .tradeThirdFormContent .tradeThirdFormContentDiv .tradeThirdContentItem{
	padding: 10px;
	border: 1px solid #D9D9D9;
}

.tabEstList .gridHeader,
.tabEstList .gridContent{
	display: grid;
    grid-template-columns: 7% 7% 7% 14% 7% 11% 11% 11% 18%;
}

.tabFileList{
	max-height: 200px;
	height: 200px;
	overflow-y: auto;
}

.tabFileList .gridHeader,
.tabFileList .gridContent {
	grid-template-columns: 90% 10%; 
}

.tabTechList{
	max-height: 200px;
	height: 200px;
	overflow-y: auto;
}

.tabTechList .gridHeader,
.tabTechList .gridContent {
	grid-template-columns: 20% 20% 20% 20% 20%; 
}

.tabSalesList{
	max-height: 200px;
	height: 200px;
	overflow-y: auto;
}

.tabSalesList .gridHeader,
.tabSalesList .gridContent {
	grid-template-columns: repeat(6, 1fr);
}
/* tab 끝 */

/* 테이블 레이아웃 */
.defaultTable input{
	border: 1px solid #C1C1C1;
	border-radius: 5px;
	background-color: #F5F6F8;
	padding: 0 10px;
	width: 100%;
	margin: 0 auto;
}
/* 테이블 레이아웃 끝 */

/* 각 페이지 검색 시작 */
.searchContainer{
	display: none;
	background: #FFFFFF;
	overflow: hidden;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.searchContainer > hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.searchContainer .searchBtns{
	display: flex;
	align-items: center;
	justify-content: right;
}

.searchContainer .searchBtns > button{
	display: flex;
	align-items: center;
	justify-content: right;
	color: #ebefff;
    box-shadow: 0 1px 1px #bdbfc9;
    background-color: #2147b1;
    padding: 0 14px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.searchContainer .searchBtns > button:hover{
	box-shadow: 0 1px 2px #bdbfc9;
	background-color:#0e2b7e;
}

.searchContainer .searchInputContent{
	padding: 20px;
}

.searchContainer .searchInputContent > input{
	width: -webkit-fill-available;
    height: 34px;
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    background-color: #ffffff;
}

.searchContainer .searchMultiContent{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 10px;
}

.searchContainer .searchMultiContent div{
	padding-right: 10px;
	padding-bottom: 10px;
}

.searchContainer .searchMultiContent div > input,
.searchContainer .searchMultiContent div > select{
	width: -webkit-fill-available;
    height: 34px;
	margin-top:10px;
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    background-color: #ffffff;
}

.searchContainer > span{
	font-weight: bolder;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
	float: left;
}
/* 각 페이지 검색 끝 */

#header{
	position: relative;
	display: grid;
    grid-template-columns: 9% 60% 31%;
	height: 56px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
}

#header #mainTopLogo{
	display: flex;
	height: 63px;
	align-items: center;
	padding-left: 9%;
}

#header #mainTopLogo #mainTopLogoImg{
	width: 110px;
}

#header #mainTopLogo #mainTopEllipseImg{
	position: absolute;
	width: auto;
	height: 24px;
	left: 160px;
	top: 17px;
}

#header #mainTopLogo #mainTopVectorImg{
	position: absolute;
	width: 7px;
	height: 14px;
	left: 168px;
	top: 22px;
}

#header #mainTopMenu{
	height: 100%;
	float: left;
}

#header #mainTopMenu ul{
	list-style: none;
	height:100%;
	margin: 0;
	padding: 0;
}

#header #mainTopMenu ul li{
	float: left;
	text-align: center;
	width: 126px;
	height: 100%;
}

#header #mainTopMenu ul li button{
	width: 100%;
	height: 56px;
	font-weight: 500;
	font-size: 15px;
	color: #332E85;
	border: 0;
	background-color: #ffffff;
}

#header #mainTopMenu ul li button.active{
	width: 100%;
	height: 56px;
	font-weight: 500;
	font-size: 15px;
	color: #332E85;
	border: 0;
	background: linear-gradient(to bottom, #ffffff 95%, #302D81 5%); 
	cursor: pointer;
}

#header #mainTopMenu ul li button:not(.active):hover{
	width: 100%;
	height: 56px;
	font-weight: 500;
	font-size: 15px;
	color: #332E85;
	border: 0;
	background: linear-gradient(to bottom, #ffffff 95%, #DEDEFF 5%); 
	cursor: pointer;
}

#header #mainInfo{
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 15px;
}

#header #mainInfo > i{
	padding-bottom: 5px;
}

#header #mainInfo > #myInfoImage{
	width: 6%;
	padding-left: 20%;
	padding-right: 15px;
    padding-bottom: 5px;
}

#header #mainInfo > span{
	font-weight: 600;
    font-size: 1.1rem;
	color: #000;
	padding-bottom: 5px;
}

#header #mainInfo a{
	display: contents;
}

#header #mainInfo a > i{
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
}