@charset "UTF-8";

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

@font-face {font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal;}


html, body{
	font-family: 'NanumGothicLight', 'NanumGothic', 'NanumGothicBold', 'NanumGothicExtraBold', 'Noto Sans KR', sans-serif;
	background-color: #EDEDF4;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

a{
	color: #000;
}

button, select, input{
	font-family: 'Noto Sans KR', sans-serif;
}

/* 공통 class */
.gridHeader{
	display: grid; 
}

.gridHeader .gridHeaderItem:not(:last-child){
	border-right: 1px solid #D9D9D9;
}

.gridHeader .gridHeaderItem:last-child{
	border-right: 0;
}

.gridContent{
	display: grid; 
}

.gridContent:hover{
	background-color: #EDEDF4;
	cursor: pointer;
}

.gridContent .gridContentItem:not(:last-child){
	overflow: hidden;
	border-top: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
}

.gridContent .gridContentItem:last-child{
	overflow: hidden;
	border-top: 1px solid #D9D9D9;
	border-right: 0;
}

.grid_default_text_align_center{
	display: flex;
	align-items: center;
    justify-content: center;
	overflow: hidden;
}

.grid_default_text_align_left{
	display: flex;
	align-items: center;
    justify-content: left;
	padding: 0 20px;
	overflow: hidden;
}

.grid_default_text_align_right{
	display: flex;
	align-items: center;
    justify-content: right;
	padding: 0 20px;
	overflow: hidden;
}

.grid_default_header_item{
	color: #332E85;
	height: 38px;
	font-weight: 500;
}

.grid_default_body_item{
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	height: 38px;
}

.dragActive {
	background: transparent;
	color: transparent;
	border: 1px solid #332E85;
}

/* 공통 class 끝*/

/* 페이지네이션 */
.pageContainer{
	display: flex;
	margin: 2% 2% 2% 0;
	float: right;
}

.pageContainer div:not(.paging_cell_current), .pageContainer .paging_cell_empty{
	width: 40px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	border-color: #D9D9D9;
	background-color: #EDEDF4;
}

.pageContainer .paging_cell:hover, .pageContainer .paging_cell_empty:hover{
	color: #ffffff;
	border-color: #302D81;
	background-color: #302D81;
	cursor: pointer;
}

.paging_cell_current{
	width: 40px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border: 1px solid #302D81;
	border-color: #302D81;
	background-color: #302D81;
}

/* 페이지네이션 끝 */

/* crud 폼 */
.defaultFormContainer{
	width: 100%;
	margin:0 auto;
}

.defaultFormContainer .defaultFormLine{
	clear: both;
	margin-bottom: 7%;
	height: 30px;
}

.defaultFormContainer .defaultFormLine .defaultFormSpanDiv{
	width: 100%;
}

.defaultFormContainer .defaultFormLine .defaultFormSpanDiv span{
	font-size: 1.2rem;
	font-weight: 600;
}

.defaultFormContainer .defaultFormLine .defaultFormContent{
	width: 100%;
}

.defaultFormContainer .defaultFormLine .defaultFormContent input[type='text'],
.defaultFormContainer .defaultFormLine .defaultFormContent input[type='date'],
.defaultFormContainer .defaultFormLine .defaultFormContent select{
	width: -webkit-fill-available;
	height: 40px;
	padding: 0 10px;
	font-size: 1.1rem;
	font-weight: 500;
	border: 1px solid #C1C1C1;
	border-radius: 5px;
	background-color: #F5F6F8;
}

.defaultFormContainer .defaultFormLine .defaultFormContent input[type='text']:hover,
.defaultFormContainer .defaultFormLine .defaultFormContent input[type='date']:hover,
.defaultFormContainer .defaultFormLine .defaultFormContent select:hover{
	border: 1px solid#302D81;
}
/* crud 폼 끝 */

/* tab 시작 */
.tabs {
	display: flex;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 100%;
	margin: 0 auto;
}

.tabItem {
	width: 100%;
	height: 50px;
	border-bottom: 3px solid #302D81;
	background-color: #f8f8f8;
	line-height: 50px;
	font-size: 16px;
	color: #302D81;
	display: block;
	float: left;
	text-align: center;
	font-weight: 500;
	transition: all 0.2s ease;
}

.tabItem:hover {
	opacity: 0.75;
}

input[name="tabItem"] {
	display: none;
}

.tabs input:checked + .tabItem {
	background-color: #302D81;
	color: #fff;
}

.tradeList input,
.tradeList select{
	width: 95%;
}

.tradeList .tradeFirstTitle,
.tradeList .tradeFirstFormContent,
.tradeList .tradeSecondFormTitle,
.tradeList .tradeSecondFormContent,
.tradeList .tradeThirdFormTitle
{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.tradeList .tradeFirstTitle .tradeFirstTitleItem,
.tradeList .tradeFirstFormContent .tradeFirstContentItem,
.tradeList .tradeSecondFormTitle .tradeSecondTitleItem,
.tradeList .tradeSecondFormContent .tradeSecondContentItem,
.tradeList .tradeThirdFormTitle .tradeThirdTitleItem{
	padding: 10px;
	border: 1px solid #000;
}

.tabEstList{
    display: grid; 
	width: 99%; 
	margin: 0 auto;
}

.tabEstList .gridHeader,
.tabEstList .gridContent{
    grid-template-columns: 7% 7% 7% 14% 7% 11% 11% 11% 18%;
}
/* tab 끝 */

#header{
	position: relative;
	width: 100%;
	height: 70px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
}

#header #mainTopLogo{
	float: left;
	width: 235px;
	height: 70px;
	left: 0px;
	top: 0px;
}

#header #mainTopLogo #mainTopLogoImg{
	position: relative;
	width: 130px;
	height:auto;
	left: 9%;
	top: 24px;
}

#header #mainTopLogo #mainTopEllipseImg{
	position: absolute;
	width: auto;
	height: 28px;
	left: 190px;
	top: 26px;
}

#header #mainTopLogo #mainTopVectorImg{
	position: absolute;
	width: 8px;
	height: 15px;
	left: 199px;
	top: 32px;
}

#header #mainTopMenu{
	/* width: 87%; */
	height: 70px;
	float: left;
}

#header #mainTopMenu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#header #mainTopMenu ul li{
	float: left;
	text-align: center;
	width: 126px;
	height: 70px;
}

#header #mainTopMenu ul li button{
	width: 100%;
	height: 100%;
	font-weight: 500;
	font-size: 17px;
	line-height: 75px;
	color: #332E85;
	border: 0;
	background-color: #ffffff;
}

#header #mainTopMenu ul li button.active{
	width: 100%;
	height: 100%;
	font-weight: 500;
	font-size: 17px;
	line-height: 75px;
	color: #332E85;
	border: 0;
	background: linear-gradient(to bottom, #ffffff 95%, #302D81 5%); 
	cursor: pointer;
}

#header #mainTopMenu ul li button:not(.active):hover{
	width: 100%;
	height: 100%;
	font-weight: 500;
	font-size: 17px;
	line-height: 75px;
	color: #332E85;
	border: 0;
	background: linear-gradient(to bottom, #ffffff 95%, #DEDEFF 5%); 
	cursor: pointer;
}