@charset "UTF-8";

.sideMenu{
	height: 100%;
	font-size: 0.9rem;
	/* 사이드 메뉴 최소 크기 2024.01.08 이용호  */
	min-width: 160px;
}

.sideMenu > .business{
	display: none;
	background-color: #3e3e9e;
	height: 100%;
	overflow-y: auto;
}

.sideMenu > .gw{
	display: none;
	background-color: #425DA8;
	height: 100%;
}

.sideMenu > .accounting{
	display: none;
	background-color: #3163C9;
	height: 100%;
}

.sideMenu > .business.active,
.sideMenu > .gw.active,
.sideMenu > .accounting.active{
	display: block;
}

.menuItem{
	display: flex;
    align-items: center;
    height: 50px;
}

.menuItem > a{
	display: flex;
    align-items: center;
    padding-left: 15px;
    width: calc(100% - 15px);
    height: 100%;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.menuItem > a:hover,
.menuItem > a.active:hover{
	background-color: #31318b;
}

.menuItem > a.active{
	background-color: #31318b;
}

.menuItem > a.active{
	border-left: 3px solid #89ceff;
	background-color: #4f4fb9;
}

.menuItem img{
	width: 15px;
}

.menuItem > a > span{
    padding-left: 10px;
}

.menuItem > input[type="radio"]{
	display: none;
}

.panel{
	display: none;
}

.panel > div{
	overflow: hidden;
}

.panel > div > a{
	display: flex;
    align-items: center;
    padding-left: 26%;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 50px;
}

.panel > div > a:hover,
.panel > div > a.active:hover{
	background-color: #31318b;
}

.panel > div > a.active{
	background-color: #31318b;
}

.sideMenu > .business > .panel.active{
	display: block;
	border-left: 3px solid #89ceff;
	background-color: #4f4fb9;
	color: #fff;
}

.sideMenu > .gw > .panel.active{
	display: block;
	color: #fff;
}

.sideMenu > .accounting > .panel.active{
	display: block;
	color: #fff;
}

.menuItem > label{
	display: flex;
    align-items: center;
    padding-left: 15px;
    width: calc(100% - 15px);
    height: 100%;
	color: #fff;
	font-weight: 600;
}

.sideMenu > .business .menuItem > label.active{
	border-left: 3px solid #89ceff;
	background-color: #4f4fb9;
}

.menuItem > label:hover,
.sideMenu > .business .menuItem > label.active:hover{
	background-color: #31318b;
	cursor: pointer;
}

.menuItem > label > span:nth-child(2){
	padding-left: 10px;
	width: 100%;
}

.menuItem > label > span:nth-child(3){
	padding-right: 10px;
}
