@charset "UTF-8";

.mypageContainer {
	position: relative;
	left: 2%;
	width: 96%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
    display: inline-block;
}

.mypageContainer hr {
	float: left;
	border-top: 0;
	border-left: thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	height: 44px;
	width: 4px;
	margin: 0;
}

.mypageContainer span, .mypageContainer .mypagediv {
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}
 

.mypagediv {
	text-align : center;
	margin : 4rem;
}

.mypagediv .infoData {
	text-align: left;
}


.mypagediv label , .mypageContainer input {
	margin-right: 2rem;
}


.mypagediv .modifybtn {
	float: right;
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-bottom: 3rem;
	height : 2rem;
	width : 6rem;
	background-color: #332E85;
	border-radius: 10px;
	border : none;
	color: #ffffff;
	cursor: pointer;
}


.mypagediv input {
	width : 15rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}


.gridContainer {
	margin-left : 5rem;
	margin-right : 5rem;
	border-bottom :1px solid #D9D9D9;

}

.mypageThirdDiv .div {
	display: inline-block;
	
}
