.workReportContainer{
    margin-top: 1%;
	margin-left: 2%;
	max-width: 1782px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.workReportContainer hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
 	height : 44px;
 	width: 4px;
 	margin: 0;
}

.workReportContainer span:not(.calendarSpan){
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}