.workReportContainer{
    margin-top: 1%;
	margin-left: 2%;
	max-width: 1782px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.workReportContainer hr{
	float: left;
	border-top: 0;
	border-left : thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
 	height : 44px;
 	width: 4px;
 	margin: 0;
}

.workReportContainer span:not(.calendarSpan){
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}

.workReportContainer .workReportContent{
	padding: 20px;
}

.workReportContainer .workReportContent .reportBtns{
	overflow: hidden;
	margin-bottom: 20px;
}

.workReportContainer .workReportContent .reportBtns .reportBtnPrev{
	width: 2%;
	float: left;
}

.workReportContainer .workReportContent .reportBtns .reportBtnPrev > button{
	width: 50px;
	height: 50px;
}

.workReportContainer .workReportContent .reportBtns .reportBtnNext{
	width: 3%;
	float: right;
}

.workReportContainer .workReportContent .reportBtns .reportBtnNext > button{
	width: 50px;
	height: 50px;
}

.workReportContainer .workReportContent .reportHeader,
.workReportContainer .workReportContent .reportContent{
	display: grid;
	grid-template-columns: 10% 10% 10% 40% 10% 10% 10%;
}

.workReportContainer .workReportContent .reportHeader > div,
.workReportContainer .workReportContent .reportContent > div{
	border: 1px solid #000;
	display: flex;
	align-items: center;
	padding: 10px;
}