.workReportContainer{
    /* margin-top: 1%; */
	/* margin-left: 2%; */
	/* max-width: 1782px; */
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.workReportContainer hr{
	float: left;
 	height : 32px;
	border:2px solid #182f81;
 	margin: 0;
}

.workReportContainer span:not(.calendarSpan){
	font-weight: bolder;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
	color: #182f81;
}

.workReportContainer .workReportContent{
	padding: 20px;
}

.workReportContainer .workReportContent .reportBtns{
	overflow: hidden;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.workReportContainer .workReportContent .reportBtns .reportBtnPrev{
	width: 50px;
	float: left;
}

.workReportContainer .workReportContent .reportBtns .reportBtnPrev > button{
	padding:0 0.5rem;
	height: 30px;
	color:#182f81;
	background-color:#ebefff;
	box-shadow:0px 1px 2px #bdbfc9;
}

.workReportContainer .workReportContent .reportBtns .reportBtnPrev > button:hover{
	color:#fff;
	background-color:#182f81;
	box-shadow:0px 1px 2px #bdbfc9;
}

.workReportContainer .workReportContent .reportBtns .reportBtnNext{
	width: 50px;
	float: left;
}

.workReportContainer .workReportContent .reportBtns .reportBtnNext > button{
	padding:0 0.5rem;
	height: 30px;
	color:#182f81;
	background-color:#ebefff;
	box-shadow:0px 1px 2px #bdbfc9;
}

.workReportContainer .workReportContent .reportBtns .reportBtnNext > button:hover{
	color:#fff;
	background-color:#182f81;
	box-shadow:0px 1px 2px #bdbfc9;
}

.workReportContainer>button{
	margin:1% 20px 0 0;
	box-shadow:0 1px 2px #bdbfc9;
	color:#182f81;
	background-color:#ebefff;
	padding:0.3% 0.7%;
}

.workReportContainer .workReportContent .reportHeader,
.workReportContainer .workReportContent .reportContent{
	display: grid;
	grid-template-columns: 10% 10% 10% 40% 10% 10% 10%;
}

.workReportContainer .workReportContent .reportHeader > div,
.workReportContainer .workReportContent .reportContent > div{
	border: 1px solid #000;
	display: flex;
	align-items: center;
	padding: 10px;
	line-height:24px;
}