@charset "UTF-8";
.searchContainer > .searchMultiContent > .searchDate > .searchGridItem{
	display: grid;
	grid-template-columns: 45% 10% 45%;
	text-align: center;
}

.searchContainer > .searchMultiContent > .searchDate > .searchGridItem > span{
	display: flex;
	align-items: center;
	justify-content: center;
}

.userContainer{
    margin-top: 3px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.userContainer > hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.userContainer > #containerTitle {
	font-weight: 600;
    font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
	float: left;
}

.userContainer > .gridList{
    display: block; 
	width: 99%; 
	/* height: auto; */
	margin: 0 auto;
}

.userContainer > .gridList > .gridHeader,
.userContainer > .gridList > .gridContent{
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.userContainer > .gridList > .gridHeader{
	border-bottom:1px solid #abb6d5;
}

.userContainer > button{
	margin:0.4% 0.5% 0 0;
	box-shadow:0px 1px 2px #bdbfc9;
	color:#ebefff;
	background-color:#182f81;
	padding:0 0.7%;
	height:30px;
	border-radius:5px;
	float: right;
}

.contentHeaders > .crudBtns > button:nth-child(2){
	width: 4.6vw;
	background-color: #74D36D;
}