.workReportContainer{
    /* margin-top: 1%; */
	/* margin-left: 2%; */
	/* max-width: 1782px; */
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	height:calc(100% - 3px);
	overflow:hidden;
}

.workReportTitle{
	padding: 9px 12px;
	border-left:4px solid #182f81;
 	margin: 0;
}

.workReportContent{
	padding: 5px;
    height: calc(100% - 45px);
	overflow-x: hidden;
	overflow-y: auto;
	display:grid;
	grid-template-columns: 10rem 10rem auto;
	gap: 0.7rem;
}

.month-list{
	overflow-x:hidden;
	overflow-y:auto;
	max-height:100%;
	border-top:1px solid #c5c5c5;
}
.month-list > div:nth-child(odd){
	font-size:0.9rem;
	display:flex;
	justify-content: space-between;
	padding:0.4rem 3rem;
	cursor:pointer;
	border-bottom:1px solid #c5c5c5;
	background-color: #f3f3f3;
	color:#3e3e9e;
}
.month-list > div:nth-child(odd) > div:first-child{text-align:left;}
.month-list > div:nth-child(odd) > div:last-child{text-align:right;}
.month-list > div:nth-child(even){
	font-size:0.65rem;
	text-align:center;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0.8rem 0;
	border-bottom:1px solid #c5c5c5;
}
.month-closed{display:none;}
.month-opened{border-bottom:none}
.month-list > div:last-child{border-bottom:1px solid #c5c5c5;}
.month-list > div:nth-child(even) > div{
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 0 0.4rem;
	cursor:pointer;
}
.month-list > div:nth-child(even) > div > div{padding:0.4rem 0;color:rgb(60, 60, 60);}
.month-list > div:nth-child(even) > div > div:first-child{color:rgb(255, 47, 47);}
.month-list > div:nth-child(even) > div > div:last-child{color:rgb(47, 47, 255);}
.month-list > div:nth-child(even) > div > span{padding:0.4rem 0;color:#9d9d9d;}
.month-list > div:nth-child(even) > div > span:first-child{color:#ff8c8c;}
.month-list > div:nth-child(even) > div > span:last-child{color:#8888ff;}

.dept-tree{
	border: 1px solid #c5c5c5;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: #08084d;
	overflow-x: hidden;
	overflow-y: auto;
}
.dept-tree label{
	padding: 0.15rem 0;
    display: block;
}
.dept-tree .dept-tree-cnt{margin-left:0.7rem;}
.dept-tree input.dept-emp-select:checked + label{background-color:#eaeaff;}

.report-container p{margin:0;}
.report-container > div:nth-child(1){
	text-align:center;
	border-top:1px solid #c5c5c5;
	border-bottom:1px solid #c5c5c5;
	background-color: #f3f3f3;
	font-size:0.9rem;
	padding:0.4rem;
}
.report-container > div:nth-child(2){
	text-align:center;
	border-bottom:1px solid #c5c5c5;
	font-size:0.8rem;
	display:grid;
	grid-template-columns: 3fr 2fr;
}
.report-container > div:nth-child(2) > div{padding:0.4rem;}
.report-container > div:nth-child(3){
	text-align:center;
	border-bottom:1px solid #c5c5c5;
	font-size:0.8rem;
	display:grid;
	grid-template-columns: 1fr 1fr;
	background-color:#ffffb9;
}
.report-container > div:nth-child(3) > div{padding:0.4rem;}
.report-container > div:nth-child(3) > div:nth-child(1){border-right:1px solid #c5c5c5;}
.report-container > div:nth-child(4){
	font-size:0.8rem;
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.report-container > div:nth-child(4) > div{padding:0.4rem;}
.report-container > div:nth-child(4) > div:nth-child(1){border-right:1px solid #c5c5c5;}
.report-container > div:nth-child(4) > div{
	display:grid;
	grid-template-columns: 4rem auto;
}
.report-container > div:nth-child(4) > div > div:nth-child(1),
.report-container > div:nth-child(4) > div > div:nth-child(2){border-top:1px solid #c5c5c5;}
.report-container > div:nth-child(4) > div > div:nth-child(odd){
	display:flex;
	align-items: center;
	justify-content: center;
	border-right:1px solid #c5c5c5;
	border-left:1px solid #c5c5c5;
	border-bottom:1px solid #c5c5c5;
}
.report-container > div:nth-child(4) > div > div:nth-child(even){
	border-right:1px solid #c5c5c5;
	border-bottom:1px solid #c5c5c5;
	padding:0.3rem;
}
.report-container > div:nth-child(4) > div > div:nth-child(even) > div:nth-child(odd){
	padding: 0 0 0 0.5rem;
	margin:0 5rem 0.2rem 0.7rem;
	border-bottom: 1px solid #e3e3e3;
	font-size: 0.8rem;
	display:grid;
	grid-template-columns: auto 1rem;
}
.report-container > div:nth-child(4) > div > div:nth-child(even) > div:nth-child(even){
	padding: 0 0.5rem 0.7rem 0.5rem;
    font-size: 0.7rem;
}
.report-container > div:nth-child(5){display:grid;grid-template-columns: 1fr 1fr;border-bottom: 1px solid #c5c5c5;}
.report-container > div:nth-child(5) > div:nth-child(1){border-right: 1px solid #c5c5c5;}
.report-container > div:nth-child(5) > div > div:nth-child(1){
	font-size:0.8rem;
	text-align:center;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	margin: 0 0.4rem;
    padding: 0.3rem;
	background-color:#f3f3f3;
	display:grid;
	grid-template-columns: auto 1rem;
}
.report-container > div:nth-child(5) > div > div:nth-child(2){
	padding:0.5rem;
	font-size:0.8rem;
}