@charset "UTF-8";

.container{
	width:calc(100% - 4px);
	height:calc(100% - 4px);
	margin:2px;
	position:relative;
	background-color: white;
	overflow:auto;
	/* display:grid;
	grid-template-columns: 1fr 400px;
	grid-template-rows: 35px 1fr; */

}
.content-title{
	font-size:1rem;
	font-weight: bold;
	color: #425da8;
	border-left:4px solid rgb(62, 62, 158);
	padding:0.5rem 1rem;
	grid-column: span 2;
}

.project-list{
	display:inline-block;
	width:calc(100% - 400px);
	vertical-align: top;
}
.detail-preview{
	display:inline-block;
	width:400px;
	vertical-align: top;
}
.detail-preview > .empty{
	display:flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	margin:0.2rem;
	height: calc(100% - 0.4rem);
	width: calc(100% - 0.4rem);
	border:4px dotted #d4d4d4;
	border-radius: 0.6rem;
	background-color: #f8f8f8;
}

.context-menu{
	position:absolute;
	width: 6rem;
	padding: 0.2rem 0;
	border:1px solid #cdcdcd;
	background-color:white;
	z-index:100;
	text-align:right;
	font-size:0.65rem;
}
.context-menu > div:nth-child(1){
	display:inline-block;
	margin:0;
	width:1.3rem;
	height:1.3rem;
	cursor:pointer;
	border-radius: 50%;;
}
.context-menu > div:nth-child(2),
.context-menu > div:nth-child(3),
.context-menu > div:nth-child(4),
.context-menu > div:nth-child(5){
	margin:0.1rem;
	padding:0.1rem;
	cursor:pointer;
	text-align:left;
}
.context-menu > div:hover{background-color:#e0e0e0}

.project-new{
	display:flex;
	align-items: center;
	justify-content: center;
	margin:1rem 1rem 0.3rem;
	border:2px dotted #d8d8d8;
	padding:0.6rem;
	border-radius: 0.4rem;
	background-color: #f8f8f8;
	height:2.5rem;
}
.project-new:hover{background-color: #f3f3f3;}

.project-new > svg{cursor:pointer;}

.project-box{
	display:grid;
	/* display:inline-grid; */
	/* width:calc(100% - 10rem); */
	margin:1rem 1rem 0.3rem;
	border:2px solid #fddeff;
	padding:0.6rem;
	border-radius: 0.4rem;
	grid-template-columns: 3fr 2fr 5fr 2fr 1rem;
	background-color: #fef7ff;
	cursor:pointer;
}
.project-box:hover{border-color:  #fac7fd;}
.project-box > sopp{grid-column: span 4;}
.project-box > name{
	grid-row-start: 1;
	grid-row-end: 3;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size:1.3rem;
}
.project-box > *:nth-child(2){font-size:1rem;padding:0.4rem;}
.project-box > *:nth-child(3){font-size:1rem;padding:0.4rem;}
.project-box > *:nth-child(4){font-size:1rem;padding:0.4rem;}
.project-box > *:nth-child(5){font-size:1rem;padding:0 0 1.1rem;cursor:pointer;}
.project-box .count-wrap{display:inline-block}
.project-box .doing{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #808cff;
	color:white;
	padding-bottom:0.1rem;
	height: 1.3rem;
	font-size: 0.9rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.project-box .done{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(38, 134, 0);
	color:white;
	padding-bottom:0.1rem;
	height: 1.3rem;
	font-size: 0.9rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.project-box .fail{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #ff5c5c;
	color:white;
	padding-bottom:0.1rem;
	height: 1.3rem;
	font-size: 0.9rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}


.sopp-wrap{
	display:none;
	margin-left: 2rem;
	padding: 0 1rem 1.3rem;
	grid-template-columns: 1fr 25rem;
}
.sopp-summary{
	display:none;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: span 10;
}
.sopp-box{
	display:grid;
	margin:0.5rem;
	padding:0.5rem;
	width:calc(100% - 1.5rem);
	grid-template-columns: 2fr 2fr 3fr 3fr 1fr 1.3rem;
	border-radius: 0.6rem;
	border: 2px solid #bbbbbb;
	cursor:pointer;
}

.sopp-box.sopp-doing{border: 2px solid #808cff;}
.sopp-box.sopp-doing:hover{border-color: #2936a8;}

.sopp-box.sopp-done{border: 2px solid rgb(38, 134, 0);}
.sopp-box.sopp-done:hover{border-color: rgb(27, 71, 9);}

.sopp-box.sopp-fail{border: 2px solid #ff5c5c;}
.sopp-box.sopp-fail:hover{border-color: #a31d1d;}
.sopp-box.sopp-empty{
	height:2rem;
	border: 4px dotted #c9c9c9;
    background-color: #f8f8f8;
}
.sopp-box.sopp-add{
	grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
	border:2px dotted #d8d8d8;
	background-color:#F8F8F6;
	height:1.8rem;
}
.sopp-box.sopp-add:hover{background-color: #f3f3f3;}
.sopp-box > name{
	grid-row-start: 1;
	grid-row-end: 3;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size:1rem;
}
.sopp-box > *:nth-child(2),
.sopp-box > *:nth-child(3),
.sopp-box > *:nth-child(4),
.sopp-box > *:nth-child(5){font-size:0.8rem;padding:0.3rem;}
.sopp-box > *:nth-child(6){font-size:0.8rem;padding:0 0 0.6rem;cursor:pointer;}
.sopp-box > *:nth-child(7){font-size:0.8rem;padding:0.3rem;}
.sopp-box > *:nth-child(8){grid-column: span 4;}

.sopp-detail{
	display:grid;
	padding:0;
	margin: 0 0.3rem 0.3rem 3rem;
	border: 1px solid #e1e1e1;
	font-size: 0.9rem;;
}
.sopp-detail > .sopp-tabpane{display:none;border:1px solid #e1e1e1;border-top:none;grid-column: span 4;padding:0.5rem;height:15rem;overflow-x: hidden;overflow-y: auto;}
.sopp-detail > .sopp-tabpane:nth-child(10){display:block;}
.sopp-detail > .sopp-tabpane:nth-child(10) > div:nth-child(odd){display:inline-block;width:15rem;text-align:center;border-bottom:1px solid #ffc0c0;padding:0.5rem;margin-bottom: 0.3rem;}
.sopp-detail > .sopp-tabpane:nth-child(10) > div:nth-child(even){display:inline-block;width:calc(100% - 17rem);border-bottom:1px solid #cbc0fe;padding:0.5rem;}

.sopp-detail > .sopp-summary{grid-column: span 4;padding:0.5rem;margin-bottom:0.5rem;display:block;}
.sopp-detail > .sopp-tab{border-right:1px solid #e1e1e1;border-top:1px solid #e1e1e1;border-bottom:2px solid #e1e1e1;padding:0.7rem;text-align:center;box-sizing: border-box;background-color:#f7f7f7;}
.sopp-detail > .sopp-tab:nth-child(9){border-right:none;}
.sopp-detail > ._hidden:checked + .sopp-tab{border-right:2px solid #e1e1e1;border-left:1px solid #e1e1e1;border-top:2px solid #e1e1e1;border-bottom:none;background-color:white;}
.sopp-detail > ._hidden:checked + .sopp-tab:nth-child(9){border-right:1px solid #e1e1e1;}



._hidden:checked + .project-wrap > .sopp-wrap{display:block;}
._hidden:checked + .project-wrap > .project-box{box-shadow: 5px 5px 5px #d6d6d6;}

prgbar{
	display:inline-flex;
	align-items: center;
	justify-content: center;
	color:white;
	width: 5rem;
	height: 1.5rem;
	position: relative;
	font-size:0.8rem;
	background-image: url(/images/sopp2/label_gray.png);
	background-size: contain;
    background-repeat: no-repeat;
	vertical-align: middle;
	margin-left:-0.3rem
}
prgbar.done{background-image: url(/images/sopp2/label_green.png);}
prgbar.doing{background-image: url(/images/sopp2/label_blue.png);}
prgbar.fail{background-image: url(/images/sopp2/label_red.png);}

._hidden{display:none;}
.employee_image{
	width: 1.3em;
    height: 1.3em;
    vertical-align: bottom;
	margin: 0 0.1em 0 0.4em;
}


.deptTree{
    width:90%;
    margin:0 auto;
    border:1px solid #3e3e9e;
    height:calc(100% - 70px);
    text-align: initial;
    padding: 1.5rem;
    box-sizing: border-box;
    overflow: auto;
}
.deptTree .dept-tree-cnt{
    display:inline-block;
    width:calc(100% - 1.5rem);
    margin-left:1.5rem;
}
.deptTree > .deptName{
    display:block;
    padding: 0.1rem;
}
.deptTree .deptName > label{width:1.2rem;height:1.2rem;display: inline-block;vertical-align: middle;}
.deptTree .dept-tree-select{
    width:9px;margin-left:0.5em;
}

.dept-tree-select:checked + label > div{background-color: #cff9ff;}
.deptTree label > div{padding:0.25rem 0;}

/* 모달 창 스타일*/
.new-sopp{
	display:grid;
	grid-template-columns: 1fr 1fr;
	border:1px solid #b6b2ff;
	margin:0.2rem;
	max-width: 800px;
}
.new-sopp > div:nth-child(1) > div{
	display:grid;
	grid-template-columns: 1fr 3fr;
	border-bottom:1px solid #b6b2ff;
}
.new-sopp > div:nth-child(1) > div:last-child{border-bottom:none;}
.new-sopp > div:nth-child(1) > div > div:nth-child(1){
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color: #dad9ff;
	padding: 0.3rem 0.5rem;
}
.new-sopp > div:nth-child(1) > div > div:nth-child(2),
.new-sopp > div:nth-child(1) > div > input:nth-child(2){border:none;border-right:1px solid #b6b2ff;padding: 0.3rem 0.5rem;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;background-color:transparent;}
.new-sopp > div:nth-child(2){overflow: auto;padding: 0.5rem;box-sizing: border-box;}

.new-sopp-customer{cursor:pointer;}
.new-sopp-customer:hover{background-color:#eeeeee;}
.new-sopp-customer > span:nth-child(1){display:inline-block;padding:0.2rem;font-size:0.8rem;}
.new-sopp-customer > span:nth-child(2){display:inline-block;padding:0.2rem;font-size:0.6rem;color:gray}