.container {
	position: relative;
	width: 100%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	display: inline-block;
	margin-top: 0.6%;
	overflow: hidden;
}

.container hr {
	float: left;
	height: 32px;
	border: 2px solid #456e95;
	margin: 0;
}

.container #containerTitle {
	font-weight: bolder;
	font-size: 15px;
	padding-left: 15px;
	line-height: 40px;
	color: #406c92;
	float: left;
}

.container .gridList {
	display: grid;
	width: 99%;
	margin: 0 auto;
}

.gridHeader {
	font-family: 'NanumSquareRound';
	background-color: #f2f2ff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom: 1px solid #3e3e9e;
	position: sticky;
	top: 0;
}


.gridHeader,
.gridContent {
	display: grid;
	/* grid-template-columns: 10% 10% 10% 50% 10% 10%; */
	grid-template-columns: 15% 10% 10% 10% 10% 10% 35%;
}





/* 카드 상세 내역 조회 관련 css ============================================================================================================================== */

.gridList .cardList .cardDetailDiv {
	padding: 0.5rem 1.5rem 1.5rem;
	min-width: 1440px;
	display: grid;
	grid-template-columns: 20% 80%;

}



.gridList .cardList .cardDetailDiv>div:first-of-type {
	margin-right: 1em;
	max-height: 60%;
	overflow: auto;
}


.gridCardHeader {
	font-family: 'NanumSquareRound';
    background-color: #f2f2ff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid #3e3e9e;
    position: sticky;
    top: 0;
}
.gridCardHeader,
.gridCardContent {
	text-align: center;
	overflow: hidden;
	border: 1px solid #e0e4e9;
	margin: 0.5px;
	/* border-top: 1px solid #e0e4e9; */
	/* border-right: 1px solid #E0E0E0; */
	padding: 8px;
}

.gridCardContent:hover {
	cursor: pointer;
	background-color: #EDEDF4;
}