@charset "UTF-8";
.goalContainer{
    margin-top: 3px;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.goalContainer > hr{
	float: left;
	border:2px solid #182f81;
 	height : 32px;
 	margin: 0;
}

.goalContainer > #containerTitle {
	font-weight: 600;
    font-size: 0.9rem;
	margin-left: 15px;
	line-height: 40px;
	color: #332E85;
	float: left;
}

.goalContainer > .contentHeaders > .crudBtns{
    display: flex;
}

.goalContainer > .goalContent{
    width: 99%;
    padding: 5px;
}

.goalContainer > .goalContent > .goalHeader,
.goalContainer > .goalContent > .goalBody > div{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.goalContainer > .goalContent > .goalHeader{
    border-top: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
}

.goalContainer > .goalContent > .goalBody > div{
    border-left: 1px solid #BDBDBD;
}

.goalContainer > .goalContent > .goalHeader > div,
.goalContainer > .goalContent > .goalBody > div > div{
    display: flex;
    align-items: center;
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    padding: 5px;
}

.goalContainer > .goalContent > .goalHeader > div{
    font-size: 0.9rem;
    font-weight: 600;
    justify-content: center;

}

.goalContainer > .goalContent > .goalBody > div > div{
    font-size: 0.8rem;
    font-weight: 600;
}

.goalContainer > .goalContent > .goalBody > div > div > input{
    width: 100%;
    text-align: right;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 3px;
}

.goalContainer > .goalContent > .goalBody > div > div > input:read-only{
    background-color: #BDBDBD;
}