.mainBtnDiv {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin: 0.5em 0 0.5em 0.5em;
}



.mainBtnDiv>div>select {
    border: none;
    border-bottom: 1px solid black;
}

.mainBtnDiv>div:last-of-type >button {
    margin: 0 0.5em;
    border: none;
    border-radius: 10%;
    background-color: #dad9ff;
    font-weight: bolder;
}

.mainBtnDiv>div:last-of-type>button:hover {
    background-color:  #b4b3f3;
}


