@charset "UTF-8";

.container {
  height: calc(100% - 4px);
  position: relative;
  width: 100%;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0px 2px 14px rgb(0 0 0 / 12%);
  display: inline-block;
  overflow: auto;
}

.container hr {
  float: left;
  height: 32px;
  border: 2px solid #456e95;
  margin: 0;
}

.container #containerTitle {
	font-weight: bolder;
	font-size: 15px;
	padding-left: 15px;
	line-height: 40px;
	color: #406c92;
	float: left;
}

.container .gridList {
	display: grid;
	width: 99%;
	margin: 0 auto;
}

.inputsAuto {
  padding: 0.5% 0.7%;
  text-align: center;
}

/*-------------------------------- 상세조회 페이지 상단 버튼  */

.listDiv .gridHeader,
.listDiv .gridContent {
  grid-template-columns: 15% 15% 50% 20%;
}


