@charset "UTF-8";

.waitSearchContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2%;
	height: 5rem;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.waitSearchContainer .waitSearchSelect {
	margin-right: 1%;
}

.waitSearchContainer .waitSearchSelect select {
	color: #332E85;
	padding: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	border: 0;
	background-color: #EDEDF4;
}

.waitSearchContainer .waitSearchSelect select:hover {
	border: 1px solid#332E85;
}

.waitSearchContainer .waitSearchText {
	margin-right: 1%;
}

.waitSearchContainer .waitSearchText input {
	padding: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	width: 500px;
	border: 0;
	background-color: #EDEDF4;
}

.waitSearchContainer .waitSearchText input:hover {
	border: 1px solid#332E85;
}

.waitSearchContainer .waitSearchBtn button {
	color: #ffffff;
	padding: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	width: 100px;
	border: 0;
	background-color: #332E85;
}

.waitSearchContainer .waitSearchBtn button:hover {
	cursor: pointer;
}



.container {
	position: relative;
	left: 2%;
	width: 96%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	display: inline-block;
}

.container hr {
	float: left;
	border-top: 0;
	border-left: thick solid #E45050;
	border-right: 0;
	border-bottom: 0;
	height: 44px;
	width: 4px;
	margin: 0;
}

.container span {

	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: #332E85;
}

.subContainer .listPageDiv>div {
	margin: 0 2%;
}





.mainBtnDiv button {
	margin: 1em 1em 1em 0;
	font-weight: 500;
	font-size: 0.8em;
	line-height: 2;
	color: #332E85;
	background-color: white;
	border: none;
	border-radius: 3px;
}



.listDiv .gridHeader,
.listDiv .gridContent {
	grid-template-columns: 10% 10% 20% 20% 10% 10% 10% 10%;
}

.subContainer .listPageDiv>div:first-of-type {
	text-align: right;
	font-size: 1rem;
	font-weight: 500;
}

.subContainer .listPageDiv>div:last-of-type {
	margin-bottom: 2%;
}

.listPageDiv .detailReport {
	display: grid;
	grid-template-columns: 60% 40%;
}


.listPageDiv .detailReport .selectedReportview {
	border: 1px solid black;
}

.listPageDiv .detailReport .comment {
	background-color: #EDEDF4;
	margin: 0 1em;
	border-radius: 3px;
}

.detailReport .comment .reportInfoTab {
	padding: 1em;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.detailReport .comment .reportInfoTab input[type="radio"] {
	display: none;
}


.detailReport .comment .reportInfoTab>label {
	padding: 0.5em;
	cursor: pointer;
	color: #332E85;
	background-color: white;
	border-bottom: 2px solid #332E85;
}

.detailReport .comment .reportInfoTab>label:first-of-type {
	color: white;
	background-color: #332E85;
	border-bottom: none;
}


.tapLine,
.tapLineB {
	background-color: white;
	margin: 0.5em 1em;
	display: grid;
	grid-template-columns: 10% 15% 10% 25% 40%;
}

.tapLineB {
	grid-template-columns: 10% 15% 25% 50%;
}

.tapLine>div,
.tapLineB>div {
	padding: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: none;
}

.tapLine:first-of-type>div,
.tapLineB:first-of-type>div {
	background-color: #332E85;
	color: white;
}

.mainBtnDiv {
	display: flex;
	align-items: left;
}

.modal-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.12);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrap .setApprovalModal {
	background-color: #332e85;
	width: 20%;
	border-radius: 0.3em;
}

.modal-wrap .setApprovalModal .modal-title {
	font-weight: 500;
	font-size: 16px;
	margin-left: 18px;
	line-height: 3;
	color: white;
}


.modal-wrap .setApprovalModal .modal-body {
	padding: 1em;
	background-color: white;
}


.modal-wrap .setApprovalModal .modal-body .labelContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 1em;
}


.modal-wrap .setApprovalModal .modal-body input[type="text"] {
	width: 95%;

}


.modal-wrap .setApprovalModal .close-wrap {
	text-align: right;
}