@charset "UTF-8";



.container {
   height: calc(100% - 4px);
   position: relative;
   width: 100%;
   background: #ffffff;
   overflow: auto;
   box-shadow: 0px 2px 14px rgb(0 0 0 / 12%);
   display: inline-block;
   overflow: auto;
 }

.container hr {
   float: left;
   height: 32px;
   border: 2px solid #456e95;
   margin: 0;
}

.container #containerTitle {
   font-weight: bolder;
   font-size: 15px;
   padding-left: 15px;
   line-height: 40px;
   color: #406c92;
   float: left;
}

.container .gridList {
   display: grid;
   width: 99%;
   margin: 0 auto;
}

.container .batchBtn {
   display: flex;
   align-items: right;
   justify-content: right;
}


.inputsAuto {
   padding: 0.5% 0.7%;
   text-align: center;
}

/*-------------------------------- 상세조회 페이지 상단 버튼  */

.listDiv .gridHeader,
.listDiv .gridContent {
   grid-template-columns: 10% 10% 10% 55% 10% 5%;
}


/*--------------------------------결재하기, 문서수정 모달 관련 */

.modal-wrap {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.38);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10;
}



.modal-title {
   font-weight: 500;
   font-size: 16px;
   margin-left: 18px;
   line-height: 3;
   color: white;
}


.modal-body {
   padding: 1em;
   background-color: white;
}


.setApprovalModal .modal-body .labelContainer {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-bottom: 1em;
}

.setApprovalModal .modal-body .commentContainer {
   display: flex;
   flex-direction: column;

}

.setApprovalModal .modal-body .commentContainer>textarea {
   width: inherit;

}

.setApprovalModal {
   width: 20%;
   background-color: white;
}

.modal-wrap .setApprovalModal textarea {
	border: 1px solid black;
	height: 5em;
	overflow-y: scroll;
	resize: none;
}

.modal-body input[type="text"] {
   width: 95%;

}



/*-------------------------------- 결재선 수정 모달 css  */
.gwModal {
   background-color: white;
   width: 60%;
   border-radius: 0.3em;

}

.lineDetail {
   display: block;
}

.lineDetail .lineTop {
   color: black;
   height: 25rem;
   display: grid;
   grid-template-columns: 25% 15% 60%;
   overflow: auto;
}

.lineDetail #lineBottom {
   margin: 2rem;
   text-align: right;
}


.lineDetail .innerDetail {
   padding: 1rem;
   margin: 0.5rem;
   background-color: #ffffff;
   overflow: auto;
   border-radius: 3px;
   border: 1px solid #B5B2FF;
}


.lineDetail .innerDetail>div {
   padding: 3px 0;
}

.lineDetail .innerDetail input {
   margin-right: 6px;
}



.lineDetail #lineCenter {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}


.selectEachLine {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.lineDetail #lineRight {
   display: flex;
   flex-direction: column;
}

.lineDetail #lineRight>div {
   margin: 1em 0;
}

/* .selector .lineDetail #lineRight>label {
   border: 1px solid rgb(188, 185, 185);
   margin: 0.5rem;
 } */

.lineDetail #lineRight>div {
   display: grid;
   grid-template-columns: 30% 70%;

}

.lineDetail #lineRight>div:first-of-type {
   display: flex;
   margin: 0;
}




.lineDetail #lineRight>div>div:first-of-type {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid black;

}

.lineDetail #lineRight>div>div:last-of-type {
   border: 1px solid black;
   border-left: none;
}

.lineDetail #lineRight>label {
   border: 1px solid rgb(185 196 205);
   margin: 0.5rem;
   padding: 0.5em 0.5em 0.5em 0.5em;
   color: #385f80;
   font-weight: bolder;
   font-size: 15px;
}



.lineDetail #lineRight>div:not(:first-of-type)>div:first-of-type {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #B5B2FF;
   background-color: #DAD9FF;
   color: #000;
   font-weight: 600;
}

.lineDetail #lineRight>div:not(:first-of-type)>div:last-of-type {
   border: 1px solid #B5B2FF;
   border-left: none;
}



.lineDataContainer {
   display: grid;
   grid-template-columns: 1fr 10% 10% 10%;
   padding: 0.5em 0.5em;
   border-bottom: 1px solid #d8e1e9;
}

.lineDataContainer button {
   margin: 0 0.2em;
   padding: 0.5em 0.5em;
   /* display: grid;
   grid-template-columns: 1fr 8% 8% 8%; */
   border-bottom: 1px solid #cedfdd;
   font-size: 14px;
   color: #212121;
   font-weight: normal;
}

.lineDataContainer button {
   border: none;
   height: 18px;
   background-color: #eaeff3;
   font-size: 8px;
   font-weight: bolder;
   width: 75%;
   border-radius: 3px;
   color: #61829e;
}

.typeContainer .lineDataContainer>button {
   float: left;
}

/*결재선 모달창 버튼*/


.gwModal #lineCenter button:hover,
.lineDataContainer button:hover {
   color: #fff;
   background-color: #61829e;
   font-weight: normal;
}



/*-------------------------------- 헤더 float 설정 초기화   */

.dept-tree-cnt>label {
   display: flex;
   flex-direction: row;
}

/* .crudBtns {
   display: flex;
} */

.crudBtns>button {
   margin-right: 0.5rem;
}

