@charset "UTF-8";

.searchContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   /*margin: 2%;*/
   height: 5rem;
   background: #FFFFFF;
   overflow: auto;
   box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
}

.searchContainer .searchSelect {
   margin-right: 1%;
}

.searchContainer .searchSelect select {
   color: #332E85;
   padding: 5px;
   font-size: 1.2rem;
   font-weight: 500;
   border: 0;
   background-color: #EDEDF4;
}

.searchContainer .searchSelect select:hover {
   border: 1px solid#332E85;
}

.searchContainer .searchText {
   margin-right: 1%;
}

.searchContainer .searchText input {
   padding: 5px;
   font-size: 1.2rem;
   font-weight: 500;
   width: 500px;
   border: 0;
   background-color: #EDEDF4;
}

.searchContainer .searchText input:hover {
   border: 1px solid#332E85;
}

.searchContainer .searchBtn button {
   color: #ffffff;
   padding: 5px;
   font-size: 1.2rem;
   font-weight: 500;
   width: 100px;
   border: 0;
   background-color: #332E85;
}

.searchContainer .searchBtn button:hover {
   cursor: pointer;
}

.container {
   position: relative;
   width: 100%;
   background: #FFFFFF;
   overflow: auto;
   box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
   display: inline-block;
   margin-top: 0.6%;
   overflow: hidden;
}

.container hr {
   float: left;
   height: 32px;
   border: 2px solid #456e95;
   margin: 0;
}

.container span {
   font-size: 16px;
   margin-left: 15px;
   line-height: 40px;
   color: #456e95;
   font-weight: bolder;
}


.subContainer .batchBtn {
   display: flex;
   align-items: right;
   justify-content: right;
   padding-right: 2em;
}


.subContainer .listPageDiv>div {
   margin: 0 auto;
   width: 99%;
}

.subContainer .listPageDiv>div:last-of-type {
   width: auto;
   margin: 1em;
}



/* 체크박스만 선택  */
.subContainer .listPageDiv .listDiv div div:last-child {
   display: flex;
   align-items: center;
   justify-content: center;
}


/*-------------------------------- 상세조회 페이지 상단 버튼  */

.mainBtnDiv {
   display: flex;
   align-items: left;
   margin-bottom: 1em;
}

.mainBtnDiv button {
   margin: 0 1em 1em 0;
}


.listDiv .gridHeader,
.listDiv .gridContent {
   grid-template-columns: 10% 10% 10% 50% 10% 10%;
}


.subContainer .listPageDiv .pageContainer {
   display: flex;
   float: right;
}

.subContainer .listPageDiv .pageContainer .paging_cell_current {
   background-color: #eaeff3;
   border: 1px solid #507698;
}

.subContainer .listPageDiv .pageContainer div:not(.paging_cell_current) {
   background-color: #fff;
}

.subContainer .listPageDiv .pageContainer div:hover {
   background-color: #406c92;
   border: 1px solid #507698;
}

.listPageDiv .detailReport {
   display: grid;
   grid-template-columns: 60% 40%;
}

.listDiv>div:first-child {
   border-bottom: 1px solid #406c92;
}

.listDiv .grid_default_body_item:nth-chhild(2n-1) {
   background-color: rgba(234, 239, 243, 0.4)
}

.listPageDiv .detailReport .selectedReportview>div:first-child {
   border: 1px solid black;

}









/*-------------------------------선택 결재문서양식 첨부파일 목록  조회 탭   */


/* 첨부파일 목록 조회  */


.listPageDiv .detailReport .selectedReportview .selectedFileField {
   margin: 1em 0 0 0;
   display: grid;
   grid-template-columns: 15% 85%;

}

.listPageDiv .detailReport .selectedReportview .selectedFileField>div,
.listPageDiv .detailReport .selectedReportview .selectedFileField label {
   height: 5em;
   border: 1px solid black;
   overflow: auto;
}

.listPageDiv .detailReport .selectedReportview .selectedFileField>div {
   display: flex;
   flex-direction: column;
}

.listPageDiv .detailReport .selectedReportview .selectedFileField label {
   display: flex;
   align-items: center;
   justify-content: center;
   border-right: none;
   background-color: rgb(208, 206, 206);
}




/*-------------------------------- 결재정보 변경이력 탭  */
.listPageDiv .detailReport .comment {

   background-color: #EDEDF4;
   margin: 0 1em;
   border-radius: 3px;
}

.detailReport .comment .reportInfoTab {
   padding: 1em;
   text-align: center;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.detailReport .comment .reportInfoTab input[type="radio"] {
   display: none;
}


.detailReport .comment .reportInfoTab>label {
   padding: 0.5em;
   cursor: pointer;
   color: #332E85;
   background-color: white;
   border-bottom: 2px solid #332E85;
}

.detailReport .comment .reportInfoTab>label:first-of-type {
   color: white;
   background-color: #332E85;
   border-bottom: none;
}

.comment .tabDetail>div:last-of-type {
   padding: 1em;
}


.tapLine,
.tapLineB {
   background-color: white;
   margin: 0.5em 1em;
   display: grid;
   grid-template-columns: 10% 15% 10% 25% 40%;
}


.tapLineB {
   grid-template-columns: 10% 15% 35% 40%;
}

.tapLine>div,
.tapLineB>div {
   padding: 0.5em;
   display: flex;
   align-items: center;
   justify-content: center;
   border-left: none;
}

.tapLineTitle>div,
.tapLineB:first-of-type>div {
   background-color: #332E85;
   color: white;
}

.readDiv {
   display: grid;
   grid-template-columns: 10% 90%;
   margin: 0.5em 1em;
   background-color: white;

}

.readDiv>div {
   padding: 0.5em;
   display: grid;
   grid-template-columns: 50% 50%;
}

.readDiv>div:first-of-type {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #332E85;
   color: white;

}

/*--------------------------------결재하기, 문서수정 모달 관련 */

.modal-wrap {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.38);
   display: flex;
   align-items: center;
   justify-content: center;
}

.modal-wrap .setApprovalModal,
.modal-wrap .setModifyModal {
   background-color: #332E85;
   width: 20%;
   border-radius: 0.3em;
}


.modal-wrap .setModifyModal textarea,
.modal-wrap .setApprovalModal textarea {
   border: 1px solid black;
   height: 5em;
   overflow-y: scroll;
   resize: none;


}

.modal-title {
   font-weight: 500;
   font-size: 16px;
   margin-left: 18px;
   line-height: 3;
   color: white;
}


.modal-body {
   padding: 1em;
   background-color: white;
}


.modal-wrap .setApprovalModal .modal-body .labelContainer {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-bottom: 1em;
}


.modal-body input[type="text"] {
   width: 95%;

}


.close-wrap {
   text-align: right;
}

.close-wrap>button {
   margin: 0.3em 0.5em;
}




/*-------------------------------- 결재선 수정 모달 css  */
.gwModal {
   background-color: #456e95;
   width: 60%;
   border-radius: 0.3em;
   padding: 0.5em 0.5em 0.9em 0.5em;
}


.lineDetail {
   display: block;
}

.lineDetail .lineTop {
   color: black;
   height: 25rem;
   display: grid;
   grid-template-columns: 35% 15% 50%;
   overflow: auto;
}

.lineDetail #lineBottom {
   margin: 2rem;
   text-align: right;
}


.lineDetail .innerDetail {
   padding: 1rem;
   margin: 0.5rem;
   background-color: #ffffff;
   overflow: auto;
   border-radius: 3px;
}


.lineDetail .innerDetail>div {
   padding: 3px 0;
}

.lineDetail .innerDetail input {
   margin-right: 6px;
}



.lineDetail #lineCenter {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}


.selectEachLine {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.lineDetail #lineRight {
   display: flex;
   flex-direction: column;
}

.lineDetail #lineRight>div {
   margin: 1em 0;
}

/* .selector .lineDetail #lineRight>label {
   border: 1px solid rgb(188, 185, 185);
   margin: 0.5rem;
 } */

.lineDetail #lineRight>div {
   display: grid;
   grid-template-columns: 30% 70%;

}

.lineDetail #lineRight>div:first-of-type {
   display: flex;
   margin: 0;
}




.lineDetail #lineRight>div>div:first-of-type {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid black;

}

.lineDetail #lineRight>div>div:last-of-type {
   border: 1px solid black;
   border-left: none;
}

.lineDetail #lineRight>label {
   border: 1px solid rgb(185 196 205);
   margin: 0.5rem;
   padding: 0.5em 0.5em 0.5em 0.5em;
   color: #385f80;
   font-weight: bolder;
   font-size: 15px;
}

/* #lineRight label .typeContainer {
   padding:5px 0;
 } */



.lineDataContainer {
   display: grid;
   grid-template-columns: 1fr 10% 10% 10%;
   padding: 0.5em 0.5em;
   border-bottom: 1px solid #d8e1e9;
}

.lineDataContainer button {
   margin: 0 0.2em;
   padding: 0.5em 0.5em;
   /* display: grid;
   grid-template-columns: 1fr 8% 8% 8%; */
   border-bottom: 1px solid #cedfdd;
   font-size: 14px;
   color: #212121;
   font-weight: normal;
}

.lineDataContainer button {
   border: none;
   height: 18px;
   background-color: #eaeff3;
   font-size: 8px;
   font-weight: bolder;
   width: 75%;
   border-radius: 3px;
   color: #61829e;
}

.typeContainer .lineDataContainer>button {
   float: left;
}

/*결재선 모달창 버튼*/
.gwModal #lineCenter button {
   height: 25px;
   font-weight: bolder;
   box-shadow: 0px 2px 4px #a5b6c1;
   color: #61829e;
}

.gwModal #lineCenter button:hover,
.lineDataContainer button:hover {
   color: #fff;
   background-color: #61829e;
   font-weight: normal;
}

.gwModal .close-wrap #close {
   background-color: #93adc5;
   color: #fff;
}

.gwModal .close-wrap button {
   box-shadow: none;
}



/*-------------------------------- 헤더 float 설정 초기화   */
button,
select,
input {
   margin: 0;
   float: none;
}