.modalWrap{
    max-width: 100%;
    background-color:rgba(0,0,0,.3); 
    justify-content:center; 
    align-items:center;     
    position:fixed;         
    top:0;
    left:0;
    right:0;
    bottom:0;        
    display: none;       
    padding:15px; 
    z-index: 99;
}

.modal{
    background-color:#fff;
    box-shadow: 0 5px 12px 1px rgb(0 0 0 / 16%); 
    min-width: 40%;
}

.modalHead{
    height:50px;  
    color: #ffffff;
    background-color:#2147b1;
    padding-left: 10px;
    padding-right: 10px;
}

.modalHead .modalHeadTitle{
    float: left;
    line-height: 50px;
}

.modalHead .xClose{
    margin: 0;
    line-height: 50px;
    float: right;
    font-size:1rem;
    cursor: pointer;
}

.modalBody{
    background-color:#ffffff; 
    word-break:break-word;    
    overflow-y:auto;   
    font-size: 15px;   
    padding-top: 10px; 
    padding-left: 10px;   
    padding-right: 10px;
}

.modalFoot{          
    display: flex;
    align-items: center;            
    justify-content: right;
    height:50px;
    padding-right: 10px;
}
.modalBtns{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height:62%;                    
    color:#ffffff;                  
    cursor:pointer;
    padding:0.8% 4%;
    font-size:0.9rem;
    box-shadow:0 3px 4px rgba(33, 71, 177, 0.184);        
}
.modalBtns:nth-child(1){background-color:#2147b1; margin-right:1%;}
.modalBtns:nth-child(2){background-color:#fff; color:#212121; border:1px solid #2147b1; box-sizing: border-box;}
.modalBtns.confirm{                 
    border-right:1px solid #302D81; box-sizing: border-box;
}

/*모달창 라디오 버튼 시작*/
/* .modalBody .defaultFormLine:first-child .defaultFormContent{
    position: relative;
    font-size: 0.95rem;
}
.modalBody .defaultFormLine .defaultFormContent{
    margin-top:10px;
}
.modalBody .defaultFormLine:first-child input{
    position:absolute;
    z-index:9;
} */
/* .modalBody label{
    position:relative;
    border: 2px solid #302D81;
    padding:5px 5px;
    font-size:15px;
}
.modalBody label:before{
    content:"";
    border-radius:100%;
    margin-right:10px;
}
.modalBody input[type="radio"]:checked + label{
    background-color:#302D81;
    color:#fff;
} */
/* .modalBody input[type="radio"]:checked + label:before{
    height:16px;
    width:16px;
    border:5px solid #fff;
    background-color:#302D81;
} */
/*모달창 라디오 버튼 끝*/

/*스크롤*/
::-webkit-scrollbar {
    width: 0.6em;
    height:0.6em;
}

::-webkit-scrollbar-track {
    background: rgb(207 212 217);
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: rgb(125 134 161);
    border-radius: 100vw;
    border: 0.1em solid rgb(207 212 217);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 109, 137);
}
/*스크롤 끝*/