button {
	float: none;
	border: none;
	background-color: #5d79c9;
	color: #fff;
	/* width: 95%; */
	padding: 2% 16px;
	/* margin: 0; */
	border-radius:4px;
}

.container {
	position: relative;
	width: 100%;
	/*height: 26vh;*/
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);
	/* display: inline-block; */
	margin-bottom:12px;
}

.container hr {
	float: left;
	border: 2px solid #425da8;
	height: 32px;
	margin: 0;
}

.container span {
	font-weight: bolder;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
	color: #425da8;
}



.container>div:first-of-type {
	display: grid;
	grid-template-columns: 90% 10%;
}

.container>div:first-of-type>div {
	display: flex;
	flex-direction: row;
	justify-content:right;
	padding-right: 12px;
}

.container>div:first-of-type>div button {
	margin: 0.5em 4px;
}

.container>div:nth-of-type(2) {
	display: grid;
	grid-template-columns: 5% 90% 5%;
}

.container>div:nth-of-type(2)>button {
	background-color: white;
	font-size: 2em;
	font-weight: 700;
	cursor: pointer;



}

.container>div:nth-of-type(2)>button:hover {
	color: rgb(181 200 215);
	font-size: 2.5em;
}

.container>div:nth-of-type(2)>div {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}



.container>div:nth-of-type(2)>div .waitCard {
	width: 15em;
	flex: 0 0 auto;
	border: 2px solid #EDEDF4;
	margin: 1em;
	cursor: pointer;
	background-color: #f2f5ff;
	border-radius: 10px;
	margin: 1em;
	box-shadow: 0px 3px 6px rgba(179, 192, 225, 0.45);
}

.container>div:nth-of-type(2)>div .defaultWaitCard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15em;
	height: 14vh;
	flex: 0 0 auto;
	border: 2px dashed rgba(149, 167, 217, 0.35);
	margin: 0.5em;
	cursor: pointer;
	background-color: #f2f5ff;
	border-radius: 10px;
	margin: 1em;
	box-shadow: 0px 3px 6px rgba(179, 192, 225, 0.45);
	color: #8499bf;
}


.container>div:nth-of-type(2)>div .waitCard>div:first-of-type {
	margin: 1em;
	color: #425da8;
	font-weight: 800;
	font-size: 15px;
	border-bottom: 1px solid #b3c1f1;
	padding-bottom: 10px;
}

.container>div:nth-of-type(2)>div .waitCard .subWaitCard>div>div:first-of-type {
	color: #425da8;
	grid-template-columns: repeat(5, 1fr);

}

.subWaitCard {
	font-size: 14px;
}

.container>div:nth-of-type(2)>div .waitCard>div>div:first-of-type {
	font-weight: 500;
}

.container>div:nth-of-type(2)>div .waitCard .title>div {
	line-height: 1;
}

.container>div:nth-of-type(2)>div .waitCard:hover {
	margin: 1em;
	transform: scale(1.01);
}

.container>div:nth-of-type(2)>div .waitCard .subWaitCard>div {
	display: grid;
	margin: 1em;
	grid-template-columns: 30% 70%;
	margin: 1em;
}

.container>div:nth-of-type(2)>div .waitCard .title {
	border-bottom: 2px solid #aac7e1;
	padding-bottom: 10px;
	grid-template-columns: 100%;
	font-weight: 600;
	font-size: 0.9rem;
	color: #406c92;
}

.container>div:nth-of-type(2)>div .waitCard .title div:first-of-type {
	display: none;
}

.container>div:nth-of-type(2)>div .waitCard>div:last-child {
	margin: 2px 0 5px 0;
}

.container>div:nth-of-type(2)>div .waitCard>div:hover button {
	background-color: #406c92;
	color: #fff;
}

.etcDiv {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.etcDiv>div {
	height: 10em;
}

/* .halfBodyContent {
	max-height: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.halfBodyContent>div:first-of-type {
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 2px 14px rgb(0 0 0 / 12%);
	display: inline-block;
}

.halfBodyContent>div:last-of-type {
	position: relative;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgb(0 0 0 / 12%);
	display: inline-block;
} */

.listDiv {
	display: none;
	/* padding-right: 1em; */
	margin: 0.5% auto 0 auto;
	width: 98%;
}

.listDiv>div:first-of-type {
	border-bottom: 1px solid #425da8;
	background-color:#f2f5ff;
}

.listDiv .grid_default_body_item:nth-child(2n-1) {
	/* background-color:#eaeff3; */
	background-color: rgba(234, 239, 243, 0.4)
}

.listDiv .gridHeader,
.listDiv .gridContent {
	grid-template-columns: 10% 10% 20% 20% 15% 15% 10%;
}