button {
	background-color: rgb(181 200 215);
	color: #274e70;
}

.container {
	position: relative;
	width: 100%;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12);


}

.container hr {
	float: left;
	border: 2px solid #406c92;
	height: 32px;
	margin: 0;
}

.container span:not(.textNumberFormat) {
	font-weight: bolder;
	font-size: 15px;
	padding-left: 15px;
	line-height: 40px;
	color: #406c92;
}



.container>div:first-of-type {
	display: grid;
	grid-template-columns: 90% 10%;
}

.container>div:first-of-type>div {
	display: flex;
	flex-direction: row;
}

.container>div:first-of-type>div button {
	margin: 0.5em;
}




.container>div:nth-of-type(2) {
	display: flex;
	flex-direction: column;
}

/* 
.container>div:nth-of-type(2)>button {
	background-color: white;
	font-size: 2em;
	font-weight: 700;
	cursor: pointer;
}

.container>div:nth-of-type(2)>button:hover {
	color: rgb(181 200 215);
	font-size: 2.5em;
} */

.container>div:nth-of-type(2)>div:first-of-type {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 1em;
}

.container>div:nth-of-type(2)>div:first-of-type>div {
	border-left: 1px solid #406c92;
	border-top: 1px solid #406c92;
	border-bottom: 1px solid #406c92;
}

.container>div:nth-of-type(2)>div:first-of-type>div:last-of-type {
	border-right: 1px solid #406c92;

}

.container>div:nth-of-type(2)>div:first-of-type button {
	width: 100%;
	padding: 1em 0;
	background-color: #eaeff3;
}

.container>div:nth-of-type(2) .optionDiv {
	margin: 0 1em;
	padding: 0 1em;
	display: flex;
	flex-direction: row-reverse;
	border-left: 1px solid #406c92;
	border-right: 1px solid #406c92;

}

.container>div:nth-of-type(2) .optionDiv button {
	margin: 1em 0.3em 0.3em 0;

}



.container>div:nth-of-type(2) .waitDiv {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 1.5em;
	row-gap: 1.5em;

}

.container>div:nth-of-type(2) .waitDiv {
	border: 1px solid #406c92;
	border-top: none;
	margin: 0 1em 1em 1em;
	padding: 1em;

}



.container>div:nth-of-type(2)>div .waitCard {
	/* width: 15em; */
	flex: 0 0 auto;
	border: 2px solid #EDEDF4;
	/* margin: 1em; */
	cursor: pointer;
	background-color: #eaeff3;
	border-radius: 10px;
	box-shadow: 0px 3px 6px rgba(177, 190, 201, 0.65);
}

.container>div:nth-of-type(2)>div .defaultWaitCard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15em;
	height: 14vh;
	flex: 0 0 auto;
	border: 2px dashed rgba(177, 190, 201, 0.65);
	margin: 0.5em;
	cursor: pointer;
	background-color: #eaeff3;
	border-radius: 10px;
	margin: 1em;
	box-shadow: 0px 3px 6px rgba(177, 190, 201, 0.65);
	color: #406c92;
}


.container>div:nth-of-type(2)>div .waitCard>div:first-of-type {
	margin: 1em;
	color: #406c92;
	font-weight: 800;
	font-size: 15px;
	border-bottom: 1px solid #acc1d3;
	padding-bottom: 10px;
}

.container>div:nth-of-type(2)>div .waitCard .subWaitCard>div>div:first-of-type {
	color: #406c92;
	grid-template-columns: repeat(5, 1fr);

}

.subWaitCard {
	font-size: 14px;
}

.container>div:nth-of-type(2)>div .waitCard>div>div:first-of-type {
	font-weight: 500;
}

.container>div:nth-of-type(2)>div .waitCard .title>div {
	line-height: 1;
}

.container>div:nth-of-type(2)>div .waitCard:hover {
	transform: scale(1.01);
}

.container>div:nth-of-type(2)>div .waitCard .subWaitCard>div {
	display: grid;
	margin: 1em;
	grid-template-columns: 30% 70%;
	margin: 1em;
}

.container>div:nth-of-type(2)>div .waitCard .title {
	border-bottom: 2px solid #aac7e1;
	padding-bottom: 10px;
	grid-template-columns: 100%;
	font-weight: 600;
	font-size: 0.9rem;
	color: #406c92;
}

.container>div:nth-of-type(2)>div .waitCard .title div:first-of-type {
	display: none;
}

.container>div:nth-of-type(2)>div .waitCard>div:last-child {
	margin: 2px 0 5px 0;
}

.container>div:nth-of-type(2)>div .waitCard>div:hover button {
	background-color: #406c92;
	color: #fff;
}

.etcDiv {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.etcDiv>div {
	height: 10em;
}

.listDiv {
	margin: 0 1em;
	padding: 1em;
	border: 1px solid #406c92;
	border-top: none;
}

.listDiv>div:first-child {
	border-bottom: 1px solid #425da8;
	background-color:#eaeff3;
 }
 

.listDiv>div:first-of-type {
	border-bottom: 1px solid #406c92;
}

.listDiv .grid_default_body_item:nth-child(2n-1) {
	background-color: rgba(234, 239, 243, 0.4)
}

.listDiv .gridHeader,
.listDiv .gridContent {
	grid-template-columns: 10% 10% 20% 30% 15% 15%;
}

.noListDefault {
	text-align: center;
	color: gray;
	margin: 8em 0;
	width: 99%;
}