/* */
.bodyTitleBorder{
	float: left;
    border: 2px solid #182f81;
    height: 32px;
    margin: 0;
}

.bodyTitle{
	font-weight: bolder;
    font-size: 15px;
    margin-left: 15px;
    line-height: 40px;
    color: #332E85;
    display: inline-block;
    width: 300px;
}

.listContainer{
    background-color: white;
    height: calc(100% - 6px);
    overflow: hidden;
}

.listContent{
    width:100%;
    height:100%;
    height: calc(100% - 40px);
    min-width:1200px;
    overflow-y: hidden;
    overflow-x: auto;
}
.listContent > div{
    display:inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.listContent > div:nth-child(1){width:30%;text-align: center;}
.listContent > div:nth-child(2){width:70%;}

.listContent > div:nth-child(1) > div:nth-child(1){
    margin:0 auto;
    color:white;
    font-weight: bold;
    width:90%;
    background-color: #3e3e9e;
    padding: 10px 30%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.listContent > div:nth-child(1) > div:nth-child(1) > div:nth-child(even){
    display: flex;
    justify-content: space-between;
}
.deptTree{
    width:90%;
    margin:0 auto;
    border:1px solid #3e3e9e;
    height:calc(100% - 70px);
    text-align: initial;
    padding: 1.5rem;
    box-sizing: border-box;
    overflow: auto;
}
.deptTree .dept-tree-cnt{
    display:none;
    width:calc(100% - 1.5rem);
    margin-left:1.5rem;
}
.deptTree > .deptName{
    display:block;
    padding: 0.1rem;
}
.deptTree .deptName > label{width:1.2rem;height:1.2rem;display: inline-block;vertical-align: middle;}
.deptTree .dept-tree-select{
    width:9px;margin-left:0.5em;
}
.dept-tree + div > label{background-image: url('/images/manage/arrow_right.png');background-repeat : no-repeat;background-size : 60%;opacity:0.5;}
.dept-tree:checked + div > label{background-image: url('/images/manage/arrow_down.png');}
.dept-tree:checked + * + .dept-tree-cnt{display:inline-block;}
.dept-tree-select:checked + label > div{background-color: beige;}
.deptTree label > div{padding:0.25rem 0;}

.listContent > div:nth-child(2) > div:nth-child(odd){display:grid;grid-template-columns: 1fr 5fr 1fr;background-color: #3e3e9e;width:90%;}
.listContent > div:nth-child(2) > div:nth-child(odd) > div:nth-child(odd){text-align: center;padding:5px;}
.image_btns > img{width:1.8rem;height:1.8rem;vertical-align: middle;margin:0 10px;opacity:0.5;display:none;}
.edited > .image_btns > img{display:initial;}
.listContent > div:nth-child(2) > div:nth-child(odd) > div:nth-child(3) > img:hover{opacity:1;cursor:pointer;}
.listContent > div:nth-child(2) > div:nth-child(odd) > div:nth-child(even){
    color:white;
    font-weight: bold;
    padding: 10px 30%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.listContent > div:nth-child(2) > div:nth-child(even){
    width:90%;
    border:1px solid #3e3e9e;
    text-align: initial;
    box-sizing: border-box;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    /* height:calc(100% - 70px);
    min-height: 650px; */
}
.employeeDetail > div{display:grid;grid-template-columns: 1fr 4fr 1fr 4fr;height:calc(100% / 18);}
.employeeDetail > div > div{border-top:1px solid #3e3e9e;padding:0.5rem 20%;border-left:1px solid #3e3e9e;}
.employeeDetail > div:nth-child(1) > div{border-top:none;}
.employeeDetail > div > div:nth-child(1){border-left:none;}
.employeeDetail > div > div > select{width:16.5rem;}
.employeeDetail > div > div:nth-child(odd){display: flex;align-items: center;justify-content: space-between;background-color: #f7f7ff;}
.employeeDetail > div > div:nth-child(even){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.1rem 1.5rem;
}
.xEmpInput{
    border:none;
    padding:0;
    font-size:0.8rem;
    width:calc(100% - 3rem);
    height:calc(100% - 0.2rem);
    border-bottom: 2px solid #d6d6d5;
    outline:none;
}
.xEmpInput:focus{border-color:red;}
.radioSwitch{display:none;}
.radioSwitch + label{display: inline-block;padding: 0.3rem 1.5rem;}
.radioSwitch:checked + label{background-color: #e6e4ff;border-radius:20px;}
.xEmpResNo{
    width: 1.2rem;
    text-align: center;
}